templates/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"zzysynapsecanary"},"zhuzhangen2LS":{"type":"string"},"SAP_ODP_SLT_LS":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Use this template to replicate multiple tables from SAP to Azure Data Lake Gen2 in Delta format with key partition.","activities":[{"name":"SAP2DeltaLookup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"SAP2DeltaLookupCSV","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"SAP2DeltaLookup","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('SAP2DeltaLookup').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"SAP2DeltaDataflow","description":"Replicate data from sap table(sap_context, sap_object, sap_key_columns) and write to gen2 storage(sink_container, sink_folder) in delta format with key partition(partition key column)","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"SAP2DeltaTemplateDataflow","type":"DataFlowReference","parameters":{"sap_context":{"value":"'@{item().sap_context}'","type":"Expression"},"sap_object":{"value":"'@{item().sap_object}'","type":"Expression"},"sap_key_columns":{"value":"'@{item().sap_key_columns}'","type":"Expression"},"sink_container":{"value":"'@{item().sink_container}'","type":"Expression"},"sink_folder":{"value":"'@{item().sink_folder}'","type":"Expression"},"sink_partition":{"value":"'@{item().sink_partition}'","type":"Expression"},"sink_key_columns":{"value":"'@{item().sink_key_columns}'","type":"Expression"}},"datasetParameters":{"SAPSource":{"sap_context":{"value":"@item().sap_context","type":"Expression"},"sap_object":{"value":"@item().sap_object","type":"Expression"}},"DeltaSink":{}},"linkedServiceParameters":{}},"staging":{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"folderPath":{"value":"@item().staging_storage_folder","type":"Expression"}},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine","continuationSettings":{"customizedCheckpointKey":{"value":"@concat(pipeline().Pipeline,'-',item().sap_context,'-', item().sap_object)","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2022-12-01T04:22:33Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SAP2DeltaLookupCSV')]","[concat(variables('workspaceId'), '/dataflows/SAP2DeltaTemplateDataflow')]"]},{"name":"[concat(parameters('workspaceName'), '/SAP2DeltaLookupCSV')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"SAP2DeltaLookup.csv","fileSystem":"demo"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"sap_context","type":"String"},{"name":"sap_object","type":"String"},{"name":"sap_key_columns","type":"String"},{"name":"sink_container","type":"String"},{"name":"sink_folder","type":"String"},{"name":"sink_key_columns","type":"String"},{"name":"sink_partition","type":"String"},{"name":"staging_storage_folder","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/SAP2DeltaTemplateDataflow')]","type":"Microsoft.Synapse/workspaces/dataflows","apiVersion":"2019-06-01-preview","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"SapOdpSource","type":"DatasetReference"},"name":"SAPSource"}],"sinks":[{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"name":"DeltaSink"}],"transformations":[],"scriptLines":["parameters{","     sap_context as string (\"context\"),","     sap_object as string (\"obj\"),","     sap_key_columns as string (\"key1,key2\"),","     sink_container as string (\"container\"),","     sink_folder as string (\"folder\"),","     sink_partition as string (\"partition\"),","     sink_key_columns as string (\"key3,key4\")","}","source(allowSchemaDrift: true,","     validateSchema: false,","     staged: true,","     enableCdc: true,","     readMode: 'fullAndIncrementalLoad',","     keys: (split($sap_key_columns, \",\")),","     format: 'sapObject') ~> SAPSource","SAPSource sink(allowSchemaDrift: true,","     validateSchema: false,","     format: 'delta',","     fileSystem: ($sink_container),","     folderPath: ($sink_folder),","     mergeSchema: false,","     autoCompact: false,","     optimizedWrite: false,","     vacuum: 0,","     deletable:true,","     insertable:true,","     updateable:true,","     upsertable:true,","     keys:(split($sink_key_columns, \",\")),","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('key',","          0,","          byName($sink_partition)","     )) ~> DeltaSink"]}},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SapOdpSource')]"]},{"name":"[concat(parameters('workspaceName'), '/SapOdpSource')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('SAP_ODP_SLT_LS')]","type":"LinkedServiceReference"},"parameters":{"sap_context":{"type":"String"},"sap_object":{"type":"String"}},"annotations":[],"type":"SapOdpResource","schema":[],"typeProperties":{"context":{"value":"@dataset().sap_context","type":"Expression"},"objectName":{"value":"@dataset().sap_object","type":"Expression"}}},"dependsOn":[]}]}