templates/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"zzysynapsecanary"},"zhuzhangen2LS":{"type":"string"},"SAP_ODP_SLT_LS":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Use this template to replicate multiple tables from SAP to Azure Data Lake Gen2 in Delta format with key partition.","activities":[{"name":"SAP2DeltaLookup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"SAP2DeltaLookupCSV","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"SAP2DeltaLookup","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('SAP2DeltaLookup').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"SAP2DeltaDataflow","description":"Replicate data from sap table(context, object, keys) and write to gen2 storage(container, folder) in delta format with key partition(partition key column)","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"SAP2DeltaTemplateDataflow","type":"DataFlowReference","parameters":{"context":{"value":"'@{item().context}'","type":"Expression"},"object":{"value":"'@{item().object}'","type":"Expression"},"keys":{"value":"'@{item().keys}'","type":"Expression"},"container":{"value":"'@{item().container}'","type":"Expression"},"folder":{"value":"'@{item().folder}'","type":"Expression"},"partition":{"value":"'@{item().partition}'","type":"Expression"}},"datasetParameters":{"SAPSource":{"context":{"value":"@item().context","type":"Expression"},"object":{"value":"@item().object","type":"Expression"}},"DeltaSink":{}}},"staging":{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"folderPath":"adfpupcanary/movie"},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine","continuationSettings":{"customizedCheckpointKey":{"value":"@concat(pipeline().Pipeline,'-',item().context,'-', item().object)","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2022-11-10T08:08:30Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SAP2DeltaLookupCSV')]","[concat(variables('workspaceId'), '/dataflows/SAP2DeltaTemplateDataflow')]"]},{"name":"[concat(parameters('workspaceName'), '/SAP2DeltaLookupCSV')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"SAP2DeltaLookup.csv","fileSystem":"demo"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"context","type":"String"},{"name":"object","type":"String"},{"name":"keys","type":"String"},{"name":"container","type":"String"},{"name":"folder","type":"String"},{"name":"partition","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/SAP2DeltaTemplateDataflow')]","type":"Microsoft.Synapse/workspaces/dataflows","apiVersion":"2019-06-01-preview","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"SapOdpSource","type":"DatasetReference"},"name":"SAPSource"}],"sinks":[{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"name":"DeltaSink"}],"transformations":[],"scriptLines":["parameters{","     context as string (\"context\"),","     object as string (\"obj\"),","     keys as string (\"keys\"),","     container as string (\"container\"),","     folder as string (\"folder\"),","     partition as string (\"partition\")","}","source(allowSchemaDrift: true,","     validateSchema: false,","     staged: true,","     enableCdc: true,","     readMode: 'fullAndIncrementalLoad',","     keys: (split($keys, \",\")),","     format: 'sapObject') ~> SAPSource","SAPSource sink(allowSchemaDrift: true,","     validateSchema: false,","     format: 'delta',","     fileSystem: ($container),","     folderPath: ($folder),","     mergeSchema: false,","     autoCompact: false,","     optimizedWrite: false,","     vacuum: 0,","     deletable:true,","     insertable:true,","     updateable:true,","     upsertable:true,","     keys:(split($keys, \",\")),","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('key',","          0,","          byName($partition,\"source1\")","     )) ~> DeltaSink"]}},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SapOdpSource')]"]},{"name":"[concat(parameters('workspaceName'), '/SapOdpSource')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('SAP_ODP_SLT_LS')]","type":"LinkedServiceReference"},"parameters":{"context":{"type":"String"},"object":{"type":"String"}},"annotations":[],"type":"SapOdpResource","schema":[],"typeProperties":{"context":{"value":"@dataset().context","type":"Expression"},"objectName":{"value":"@dataset().object","type":"Expression"}}},"dependsOn":[]}]}