templates/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"zzysynapsecanary"},"zhuzhangen2LS":{"type":"string"},"SAP_ODP_SLT_LS":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Replicate multiple tables from SAP ODP to Azure Data Lake Storage Gen2 in Delta format')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Use this template to replicate multiple tables from SAP to Azure Data Lake Gen2 in Delta format with key partition.","activities":[{"name":"SAP2DeltaLookup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"SapToDeltaLookupJson","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"SAP2DeltaLookup","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('SAP2DeltaLookup').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"SAP2DeltaDataflow","description":"Replicate data from sap table(sap_context, sap_object, sap_key_columns) and write to gen2 storage(sink_container, sink_folder) in delta format with key partition(partition key column)","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"SAP2DeltaTemplateDataflow","type":"DataFlowReference","parameters":{"sapContext":{"value":"'@{item().sapContext}'","type":"Expression"},"sapObjectName":{"value":"'@{item().sapObjectName}'","type":"Expression"},"sapKeyColumns":{"value":"@item().sapKeyColumns","type":"Expression"},"deltaContainer":{"value":"'@{item().deltaContainer}'","type":"Expression"},"deltaFolder":{"value":"'@{item().deltaFolder}'","type":"Expression"},"deltaPartition":{"value":"'@{item().deltaPartition}'","type":"Expression"},"deltaKeyColumns":{"value":"@item().deltaKeyColumns","type":"Expression"},"sapPartitions":{"value":"'@{string(item().sapPartitions)}'","type":"Expression"},"sapRunMode":{"value":"'@{item().sapRunMode}'","type":"Expression"}},"datasetParameters":{"SAPSource":{},"DeltaSink":{}}},"staging":{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"folderPath":{"value":"@item().stagingStorageFolder","type":"Expression"}},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine","continuationSettings":{"customizedCheckpointKey":{"value":"@item().checkPointKey","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2023-01-17T07:21:10Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/SapToDeltaLookupJson')]","[concat(variables('workspaceId'), '/dataflows/SAP2DeltaTemplateDataflow')]"]},{"name":"[concat(parameters('workspaceName'), '/SapToDeltaLookupJson')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"SapToDeltaParameters.json","fileSystem":"demo"}},"schema":{"type":"object","properties":{"sapContext":{"type":"string"},"sapObjectName":{"type":"string"},"sapRunMode":{"type":"string"},"sapKeyColumns":{"type":"array","items":{"type":"string"}},"sapPartitions":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"sign":{"type":"string"},"option":{"type":"string"},"low":{"type":"string"},"high":{"type":"string"}}}}},"deltaContainer":{"type":"string"},"deltaFolder":{"type":"string"},"deltaKeyColumns":{"type":"array","items":{"type":"string"}},"deltaPartition":{"type":"string"},"stagingStorageFolder":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/SAP2DeltaTemplateDataflow')]","type":"Microsoft.Synapse/workspaces/dataflows","apiVersion":"2019-06-01-preview","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"linkedService":{"referenceName":"[parameters('SAP_ODP_SLT_LS')]","type":"LinkedServiceReference"},"name":"SAPSource"}],"sinks":[{"linkedService":{"referenceName":"[parameters('zhuzhangen2LS')]","type":"LinkedServiceReference"},"name":"DeltaSink"}],"transformations":[],"scriptLines":["parameters{","     sapContext as string (\"context\"),","     sapObjectName as string (\"obj\"),","     sapKeyColumns as string[] ([\"key1\",\"key2\"]),","     deltaContainer as string (\"container\"),","     deltaFolder as string (\"folder\"),","     deltaPartition as string (\"partition\"),","     deltaKeyColumns as string[] ([\"key3\",\"key4\"]),","     sapPartitions as string (\"[[\\{\\\"fieldName\\\": \\\"ID\\\",\\\"sign\\\": \\\"I\\\", \\\"option\\\": \\\"BT\\\",\\\"low\\\": \\\"1\\\",\\\"high\\\": \\\"4\\\"}]]\"),","     sapRunMode as string (\"fullAndIncrementalLoad\")","}","source(allowSchemaDrift: true,","     validateSchema: false,","     store: 'SapOdp',","     format: 'sapObject',","     staged: true,","     context: ($sapContext),","     objectName: ($sapObjectName),","     readMode: ($sapRunMode),","     enableCdc: true,","     keys: ($sapKeyColumns),","     partitionPredicates: ($sapPartitions),","     partitionBy('external', 1)) ~> SAPSource","SAPSource sink(allowSchemaDrift: true,","     validateSchema: false,","     format: 'delta',","     fileSystem: ($deltaContainer),","     folderPath: ($deltaFolder),","     mergeSchema: false,","     autoCompact: false,","     optimizedWrite: false,","     vacuum: 0,","     deletable:true,","     insertable:true,","     updateable:true,","     upsertable:true,","     keys:($deltaKeyColumns),","     umask: 0022,","     preCommands: [],","     postCommands: [],","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     partitionBy('key',","          0,","          byName($deltaPartition)","     )) ~> DeltaSink"]}},"dependsOn":[]}]}