templates/Customer Feedback Analytics/Customer Feedback Analytics.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDataLakeStorage":{"type":"string"},"AzureSynapseAnalytics1":{"type":"string"},"RestService1":{"type":"string"},"TranslationService":{"type":"string"},"KeyPhrases":{"type":"string"},"EntityExtraction":{"type":"string"},"RestService2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/CustomerFeedbackAnalytics')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"PrepareData","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"PrepareData","type":"DataFlowReference","parameters":{"runId":{"value":"'@{pipeline().RunId}'","type":"Expression"}},"datasetParameters":{"ReviewsCSV":{},"Stage1Sink":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"ReadPrepped","type":"Lookup","dependsOn":[{"activity":"PrepareData","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*.json"},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"PreparedData","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"PrepTranslate","type":"ExecuteDataFlow","dependsOn":[{"activity":"ForEachLangDetect","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"PrepforTranslate","type":"DataFlowReference","parameters":{},"datasetParameters":{"LangInfo":{},"PreparedData":{},"EnglishSink":{},"OtherLangSink":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"ReadForTranslate","type":"Lookup","dependsOn":[{"activity":"PrepTranslate","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*.json"},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"OtherLang","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"PrepForTA","type":"ExecuteDataFlow","dependsOn":[{"activity":"ForEachTranslateRequest","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"PrepSentiment","type":"DataFlowReference","parameters":{},"datasetParameters":{"English":{},"Other":{},"Translated":{},"TARequests":{},"Stage3":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"ForEachLangDetect","type":"ForEach","dependsOn":[{"activity":"ReadPrepped","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('ReadPrepped').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"LanguageDetection","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@{item()}","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":{"value":"@pipeline().parameters.CognitiveServicesKey","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"LangDetREST","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"LangInfo","type":"DatasetReference","parameters":{}}]}]}},{"name":"ForEachTranslateRequest","type":"ForEach","dependsOn":[{"activity":"ReadForTranslate","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('ReadForTranslate').output.value","type":"Expression"},"activities":[{"name":"TranslateReview_copy1","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@{item().documents}","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":{"value":"@pipeline().parameters.CognitiveServicesKey","type":"Expression"},"Ocp-Apim-Subscription-Region":"westus2"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Translate","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"translated","type":"DatasetReference","parameters":{}}]}]}},{"name":"ForEachTARequest","type":"ForEach","dependsOn":[{"activity":"LookupTARequests","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupTARequests').output.value","type":"Expression"},"activities":[{"name":"KeyPhrases","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@{item()}","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":{"value":"@pipeline().parameters.CognitiveServicesKey","type":"Expression"},"Ocp-Apim-Subscription-Region":{"value":"@pipeline().parameters.CognitiveServicesRegion","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"KeyPhrases","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"keyphrases1","type":"DatasetReference","parameters":{}}]},{"name":"NER","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@{item()}","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":{"value":"@pipeline().parameters.CognitiveServicesKey","type":"Expression"},"Ocp-Apim-Subscription-Region":{"value":"@pipeline().parameters.CognitiveServicesRegion","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"NER","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"entities","type":"DatasetReference","parameters":{}}]},{"name":"OpinionMining","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@{item()}","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json","Ocp-Apim-Subscription-Key":{"value":"@pipeline().parameters.CognitiveServicesKey","type":"Expression"},"Ocp-Apim-Subscription-Region":{"value":"@pipeline().parameters.CognitiveServicesRegion","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"OpinionMiningTA","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Json3","type":"DatasetReference","parameters":{}}]}]}},{"name":"LookupTARequests","description":"","type":"Lookup","dependsOn":[{"activity":"PrepForTA","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*.json"},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"Stage4","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Get Metadata1","type":"GetMetadata","dependsOn":[{"activity":"ForEachTARequest","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"CFA_Entities","type":"DatasetReference","parameters":{}},"fieldList":["exists"]}},{"name":"If Condition1_copy1","type":"IfCondition","dependsOn":[{"activity":"Get Metadata1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@activity('Get Metadata1').output.exists","type":"Expression"},"ifFalseActivities":[{"name":"Write_to_SQL_New","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"WriteOutputsToSQL_New","type":"DataFlowReference","parameters":{"runId":"\"88291891-ea8b-424a-a73f-faa1cd8775d7\""},"datasetParameters":{"opinions":{},"stage3":{},"rawdata":{},"keyphrases":{},"entites":{},"TranslatedTextTable":{},"aspects":{},"KeyPhraseTable":{},"ReviewSentiment":{},"EntityTable":{},"ReviewKeyPhraseTable":{},"ReviewEntityTable":{},"ReviewsTableNew":{}}},"staging":{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"folderPath":"hotel-reviews/wip"},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"ifTrueActivities":[{"name":"WriteToSQLExisting","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"WriteOutputsToSQL","type":"DataFlowReference","parameters":{"runId":"\"ce755074-054b-47b7-b3ec-cbd1eb41b9c0\""},"datasetParameters":{"opinions":{},"stage3":{},"rawdata":{},"keyphrases":{},"keyphraselookup":{},"MaxKP":{},"MaxReviews":{},"entitieslookup":{},"MaxEntity":{},"entites":{},"TranslatedTextTable":{},"ReviewsTable":{},"aspects":{},"MaxKPId":{},"KeyPhraseTable":{},"ReviewKeyPhrases":{},"MaxReviewId":{},"ReviewSentiment":{},"MaxEntityId":{},"EntityTable":{},"ReviewKeyPhraseTable":{},"ReviewEntityTable":{},"ReviewEntityTable2":{}}},"staging":{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"folderPath":"hotel-reviews/wip"},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}]}}],"parameters":{"CognitiveServicesKey":{"type":"string","defaultValue":"fddb29ba0a204909bffa86dd8f70246b"},"CognitiveServicesRegion":{"type":"string","defaultValue":"westus2"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/dataflows/PrepareData')]","[concat(variables('factoryId'), '/datasets/PreparedData')]","[concat(variables('factoryId'), '/dataflows/PrepforTranslate')]","[concat(variables('factoryId'), '/datasets/OtherLang')]","[concat(variables('factoryId'), '/dataflows/PrepSentiment')]","[concat(variables('factoryId'), '/datasets/Stage4')]","[concat(variables('factoryId'), '/datasets/CFA_Entities')]","[concat(variables('factoryId'), '/datasets/LangDetREST')]","[concat(variables('factoryId'), '/datasets/LangInfo')]","[concat(variables('factoryId'), '/datasets/Translate')]","[concat(variables('factoryId'), '/datasets/translated')]","[concat(variables('factoryId'), '/datasets/KeyPhrases')]","[concat(variables('factoryId'), '/datasets/keyphrases1')]","[concat(variables('factoryId'), '/datasets/NER')]","[concat(variables('factoryId'), '/datasets/entities')]","[concat(variables('factoryId'), '/datasets/OpinionMiningTA')]","[concat(variables('factoryId'), '/datasets/Json3')]","[concat(variables('factoryId'), '/dataflows/WriteOutputsToSQL_New')]","[concat(variables('factoryId'), '/dataflows/WriteOutputsToSQL')]"]},{"name":"[concat(parameters('factoryName'), '/PrepareData')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"ReviewsCSV","type":"DatasetReference"},"name":"ReviewsCSV"}],"sinks":[{"dataset":{"referenceName":"PreparedData","type":"DatasetReference"},"name":"Stage1Sink"}],"transformations":[{"name":"SurrogateKey1"},{"name":"DerivedColumn1"},{"name":"Aggregate1"},{"name":"Select1"}],"script":"parameters{\n\trunId as string\n}\nsource(output(\n\t\taddress as string,\n\t\tcategories as string,\n\t\tcity as string,\n\t\tcountry as string,\n\t\tlatitude as double,\n\t\tlongitude as double,\n\t\tname as string,\n\t\tpostalCode as short,\n\t\tprovince as string,\n\t\treviews_date as timestamp,\n\t\treviews_dateAdded as timestamp,\n\t\treviews_doRecommend as string,\n\t\treviews_id as string,\n\t\treviews_rating as short,\n\t\treviews_text as string,\n\t\treviews_title as string,\n\t\treviews_userCity as string,\n\t\treviews_username as string,\n\t\treviews_userProvince as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tmoveFiles: ['input',('wip/' + $runId)],\n\twildcardPaths:['input/*.csv']) ~> ReviewsCSV\nReviewsCSV keyGenerate(output(id as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSurrogateKey1 derive(document = @(id=id,\n\t\ttext=reviews_text)) ~> DerivedColumn1\nSelect1 aggregate(groupBy(chunks = document.id%4),\n\tdocuments = collect(document)) ~> Aggregate1\nDerivedColumn1 select(mapColumn(\n\t\tdocument\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nAggregate1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\ttruncate: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Stage1Sink"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/ReviewsCSV')]","[concat(variables('factoryId'), '/datasets/PreparedData')]"]},{"name":"[concat(parameters('factoryName'), '/PreparedData')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"*.json","folderPath":"stage1","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PrepforTranslate')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"LangInfo","type":"DatasetReference"},"name":"LangInfo"},{"dataset":{"referenceName":"PreparedData","type":"DatasetReference"},"name":"PreparedData"}],"sinks":[{"dataset":{"referenceName":"English","type":"DatasetReference"},"name":"EnglishSink"},{"dataset":{"referenceName":"OtherLang","type":"DatasetReference"},"name":"OtherLangSink"}],"transformations":[{"name":"Flatten1"},{"name":"Flatten2"},{"name":"Join1"},{"name":"DerivedColumn1"},{"name":"ConditionalSplit1"},{"name":"Select1"},{"name":"Aggregate1"},{"name":"Aggregate2"}],"script":"source(output(\n\t\tdocuments as (detectedLanguage as (confidenceScore as double, iso6391Name as string, name as string), id as short, warnings as string[])[],\n\t\terrors as string[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['stage2/*.json']) ~> LangInfo\nsource(output(\n\t\tchunks as short,\n\t\tdocuments as (id as short, text as string)[]\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['stage1/*.json']) ~> PreparedData\nLangInfo foldDown(unroll(documents, documents),\n\tmapColumn(\n\t\tlanguage = documents.detectedLanguage.iso6391Name,\n\t\tid = documents.id\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten1\nPreparedData foldDown(unroll(documents),\n\tmapColumn(\n\t\tchunks,\n\t\tid = documents.id,\n\t\ttext = documents.text\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten2\nFlatten1, Flatten2 join(Flatten1@id == Flatten2@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 derive(document = @(id=Flatten1@id,\n\t\ttext=text,\n\t\tlanguage=language)) ~> DerivedColumn1\nSelect1 split(document.language == 'en',\n\tdisjoint: false) ~> ConditionalSplit1@(english, other)\nDerivedColumn1 select(mapColumn(\n\t\tchunks,\n\t\tdocument\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nConditionalSplit1@english aggregate(groupBy(chunks),\n\tdocuments = collect(document)) ~> Aggregate1\nConditionalSplit1@other aggregate(groupBy(chunks),\n\tdocuments = collect(document)) ~> Aggregate2\nAggregate1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> EnglishSink\nAggregate2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> OtherLangSink"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/LangInfo')]","[concat(variables('factoryId'), '/datasets/PreparedData')]","[concat(variables('factoryId'), '/datasets/English')]","[concat(variables('factoryId'), '/datasets/OtherLang')]"]},{"name":"[concat(parameters('factoryName'), '/OtherLang')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"other","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/PrepSentiment')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"English","type":"DatasetReference"},"name":"English"},{"dataset":{"referenceName":"OtherLang","type":"DatasetReference"},"name":"Other"},{"dataset":{"referenceName":"translated","type":"DatasetReference"},"name":"Translated"}],"sinks":[{"dataset":{"referenceName":"Stage4","type":"DatasetReference"},"name":"TARequests"},{"dataset":{"referenceName":"Stage3","type":"DatasetReference"},"name":"Stage3"}],"transformations":[{"name":"SurrogateKey1"},{"name":"SurrogateKey2"},{"name":"Join1"},{"name":"Select1"},{"name":"Flatten1"},{"name":"Flatten2"},{"name":"Select2"},{"name":"Union1"},{"name":"DerivedColumn1"},{"name":"Select3"},{"name":"Aggregate1"},{"name":"Flatten3"},{"name":"Select4"}],"script":"source(output(\n\t\tchunks as short,\n\t\tdocuments as (id as short, language as string, text as string)[]\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['english/*.json']) ~> English\nsource(output(\n\t\tchunks as short,\n\t\tdocuments as (id as short, language as string, text as string)[]\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['other/*.json']) ~> Other\nsource(output(\n\t\tdetectedLanguage as (language as string, score as double),\n\t\ttranslations as (text as string, to as string)[]\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['translated/*.json']) ~> Translated\nFlatten2 keyGenerate(output(temp_id as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSelect2 keyGenerate(output(temp_id as long),\n\tstartAt: 1L) ~> SurrogateKey2\nSurrogateKey1, SurrogateKey2 join(SurrogateKey1@temp_id == SurrogateKey2@temp_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 select(mapColumn(\n\t\tid,\n\t\tlanguage,\n\t\ttext,\n\t\ttranslated_text = translation,\n\t\tchunks\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nEnglish foldDown(unroll(documents),\n\tmapColumn(\n\t\tchunks,\n\t\tid = documents.id,\n\t\tlanguage = documents.language,\n\t\ttext = documents.text\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten1\nOther foldDown(unroll(documents),\n\tmapColumn(\n\t\tchunks,\n\t\tid = documents.id,\n\t\tlanguage = documents.language,\n\t\ttext = documents.text\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten2\nFlatten3 select(mapColumn(\n\t\tdetectedLanguage,\n\t\ttranslation = text\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select2\nSelect1, Flatten1 union(byName: true)~> Union1\nUnion1 derive(document = @(id=id,\n\t\ttext=iifNull(translated_text, text),\n\t\tlanguage='en')) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tdocument,\n\t\tchunks\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select3\nSelect3 aggregate(groupBy(chunks),\n\tdocuments = collect(document)) ~> Aggregate1\nTranslated foldDown(unroll(translations),\n\tmapColumn(\n\t\tdetectedLanguage,\n\t\ttext = translations.text,\n\t\tto = translations.to\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten3\nDerivedColumn1 select(mapColumn(\n\t\tid,\n\t\tlanguage,\n\t\ttext,\n\t\ttranslated_text,\n\t\tchunks\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select4\nAggregate1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionBy('roundRobin', 2),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> TARequests\nSelect4 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Stage3"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/English')]","[concat(variables('factoryId'), '/datasets/OtherLang')]","[concat(variables('factoryId'), '/datasets/translated')]","[concat(variables('factoryId'), '/datasets/Stage4')]","[concat(variables('factoryId'), '/datasets/Stage3')]"]},{"name":"[concat(parameters('factoryName'), '/Stage4')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"stage4","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_Entities')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Entities"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ReviewsCSV')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"input","fileSystem":"hotel-reviews"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"},{"type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/LangInfo')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"stage2","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/English')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"english.json","folderPath":"english","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/translated')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"translated","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Stage3')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"stage3","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/LangDetREST')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('RestService1')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"text/analytics/v3.1-preview.3/languages"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Translate')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('TranslationService')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"translate?api-version=3.0&to=en"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/KeyPhrases')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('KeyPhrases')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"text/analytics/v3.1-preview.3/keyPhrases"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/keyphrases1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"keyphrases","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/NER')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('EntityExtraction')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"text/analytics/v3.1-preview.3/entities/recognition/general"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/entities')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"entities","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OpinionMiningTA')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('RestService2')]","type":"LinkedServiceReference"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":"text/analytics/v3.1-preview.3/sentiment?opinionMining=true"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Json3')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"opinions","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/WriteOutputsToSQL_New')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"opinions","type":"DatasetReference"},"name":"opinions"},{"dataset":{"referenceName":"Stage3","type":"DatasetReference"},"name":"stage3"},{"dataset":{"referenceName":"DelimitedText2","type":"DatasetReference"},"name":"rawdata"},{"dataset":{"referenceName":"keyphrases1","type":"DatasetReference"},"name":"keyphrases"},{"dataset":{"referenceName":"entities","type":"DatasetReference"},"name":"entites"}],"sinks":[{"dataset":{"referenceName":"CFA_TranslatedTable","type":"DatasetReference"},"name":"TranslatedTextTable"},{"dataset":{"referenceName":"CFA_Sentiment_Aspect","type":"DatasetReference"},"name":"aspects"},{"dataset":{"referenceName":"CFA_KeyPhrases","type":"DatasetReference"},"name":"KeyPhraseTable"},{"dataset":{"referenceName":"CFA_ReviewSentiment","type":"DatasetReference"},"name":"ReviewSentiment"},{"dataset":{"referenceName":"CFA_Entities","type":"DatasetReference"},"name":"EntityTable"},{"dataset":{"referenceName":"CFA_Review_KeyPhrase","type":"DatasetReference"},"name":"ReviewKeyPhraseTable"},{"dataset":{"referenceName":"CFA_Review_Entities","type":"DatasetReference"},"name":"ReviewEntityTable"},{"dataset":{"referenceName":"CFA_Reviews","type":"DatasetReference"},"name":"ReviewsTableNew"}],"transformations":[{"name":"FlattenOpinions"},{"name":"Join3"},{"name":"Select6"},{"name":"SurrogateKey3"},{"name":"Join4"},{"name":"Join5"},{"name":"Select9"},{"name":"Flatten6"},{"name":"SurrogateKey4"},{"name":"Flatten7"},{"name":"SurrogateKey5"},{"name":"Select11"},{"name":"Filter1"},{"name":"Select12"},{"name":"Select13"},{"name":"Select14"},{"name":"Select15"},{"name":"Flatten8"},{"name":"SurrogateKey6"},{"name":"Select16"},{"name":"Select17"},{"name":"Select18"},{"name":"Select19"},{"name":"Select21"},{"name":"Filter2"}],"script":"parameters{\n\trunId as string (\"cd3ef7d6-1aed-481d-a355-b5f6e2f7ce94\")\n}\nsource(output(\n\t\tdocuments as (confidenceScores as (negative as double, neutral as double, positive as double), id as short, sentences as (aspects as (confidenceScores as (negative as double, positive as double), length as short, offset as short, relations as (ref as string, relationType as string)[], sentiment as string, text as string)[], confidenceScores as (negative as double, neutral as double, positive as double), length as short, offset as short, opinions as (confidenceScores as (negative as double, positive as double), isNegated as boolean, length as short, offset as short, sentiment as string, text as string)[], sentiment as string, text as string)[], sentiment as string, warnings as string[])[],\n\t\terrors as (error as (code as string, innererror as (code as string, message as string), message as string), id as short)[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> opinions\nsource(output(\n\t\tchunks as short,\n\t\tid as short,\n\t\tlanguage as string,\n\t\ttext as string,\n\t\ttranslated_text as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['stage3']) ~> stage3\nsource(output(\n\t\taddress as string,\n\t\tcategories as string,\n\t\tcity as string,\n\t\tcountry as string,\n\t\tlatitude as string,\n\t\tlongitude as string,\n\t\tname as string,\n\t\tpostalCode as string,\n\t\tprovince as string,\n\t\treviews_date as string,\n\t\treviews_dateAdded as string,\n\t\treviews_doRecommend as string,\n\t\treviews_id as string,\n\t\treviews_rating as string,\n\t\treviews_text as string,\n\t\treviews_title as string,\n\t\treviews_userCity as string,\n\t\treviews_username as string,\n\t\treviews_userProvince as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[('wip/' +  $runId)]) ~> rawdata\nsource(output(\n\t\tdocuments as (id as short, keyPhrases as string[], warnings as string[])[],\n\t\terrors as string[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> keyphrases\nsource(output(\n\t\tdocuments as (entities as (category as string, confidenceScore as double, length as short, offset as short, subcategory as string, text as string)[], id as short, warnings as string[])[],\n\t\terrors as string[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> entites\nopinions foldDown(unroll(documents),\n\tmapColumn(\n\t\tconfidenceScores = documents.confidenceScores,\n\t\tid = documents.id,\n\t\tsentences = documents.sentences,\n\t\tsentiment = documents.sentiment\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> FlattenOpinions\nstage3, SurrogateKey3 join(stage3@id == SurrogateKey3@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join3\nJoin3 select(mapColumn(\n\t\tid = stage3@id,\n\t\treview_text = text,\n\t\ttranslated_text,\n\t\tlanguage\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select6\nrawdata keyGenerate(output(id as long),\n\tstartAt: 1L) ~> SurrogateKey3\nSurrogateKey3, stage3 join(SurrogateKey3@id == stage3@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join4\nJoin4, FlattenOpinions join(SurrogateKey3@id == FlattenOpinions@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join5\nJoin5 select(mapColumn(\n\t\tid = SurrogateKey3@id,\n\t\tsentences\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select9\nSelect9 foldDown(unroll(sentences.aspects, sentences),\n\tmapColumn(\n\t\taspect_negative = sentences.aspects.confidenceScores.negative,\n\t\taspect_positive = sentences.aspects.confidenceScores.positive,\n\t\taspect_sentiment = sentences.aspects.sentiment,\n\t\taspect_text = sentences.aspects.text,\n\t\tsentiment = sentences.sentiment,\n\t\ttext = sentences.text,\n\t\tid\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten6\nSelect15 keyGenerate(output(aspect_id as long),\n\tstartAt: 1L) ~> SurrogateKey4\nkeyphrases foldDown(unroll(documents.keyPhrases, documents),\n\tmapColumn(\n\t\tid = documents.id,\n\t\tkeyPhrases = documents.keyPhrases\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten7\nFlatten7 keyGenerate(output(key_phrase_id as long),\n\tstartAt: 1L) ~> SurrogateKey5\nSurrogateKey5 select(mapColumn(\n\t\tid = key_phrase_id,\n\t\tkey_phrase = keyPhrases\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select11\nSelect6 filter(language != 'en') ~> Filter1\nFilter1 select(mapColumn(\n\t\treview_text,\n\t\ttranslated_text,\n\t\tlanguage,\n\t\treview_id = id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select12\nJoin5 select(mapColumn(\n\t\treview_id = SurrogateKey3@SurrogateKey3@id,\n\t\tnegative = confidenceScores.negative,\n\t\tneutral = confidenceScores.neutral,\n\t\tpositive = confidenceScores.positive,\n\t\tsentiment\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select13\nFlatten6 select(mapColumn(\n\t\taspect_negative,\n\t\taspect_positive,\n\t\taspect_sentiment,\n\t\taspect_text,\n\t\tsentiment,\n\t\ttext,\n\t\tid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select14\nSelect14 select(mapColumn(\n\t\taspect_negative,\n\t\taspect_positive,\n\t\taspect_sentiment,\n\t\taspect_text,\n\t\tsentiment,\n\t\ttext,\n\t\treview_id = id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select15\nentites foldDown(unroll(documents.entities, documents),\n\tmapColumn(\n\t\tcategory = documents.entities.category,\n\t\tconfidenceScore = documents.entities.confidenceScore,\n\t\tsubcategory = documents.entities.subcategory,\n\t\ttext = documents.entities.text,\n\t\treview_id = documents.id\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten8\nSelect16 keyGenerate(output(entity_id as long),\n\tstartAt: 1L) ~> SurrogateKey6\nFlatten8 select(mapColumn(\n\t\tcategory,\n\t\tsubcategory,\n\t\ttext,\n\t\treview_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select16\nSurrogateKey6 select(mapColumn(\n\t\tcategory,\n\t\tsubcategory,\n\t\tentity = text,\n\t\tid = entity_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select17\nSurrogateKey5 select(mapColumn(\n\t\tkey_phrase_id,\n\t\treview_id = id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select18\nSurrogateKey6 select(mapColumn(\n\t\treview_id,\n\t\tentity_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select19\nJoin5 select(mapColumn(\n\t\taddress,\n\t\tcategories,\n\t\tcity,\n\t\tcountry,\n\t\tlatitude,\n\t\tlongitude,\n\t\tname,\n\t\tpostalCode,\n\t\tprovince,\n\t\treviews_date,\n\t\treviews_dateAdded,\n\t\treviews_doRecommend,\n\t\treviews_id,\n\t\treviews_rating,\n\t\treviews_text,\n\t\treviews_title,\n\t\treviews_userCity,\n\t\treviews_username,\n\t\treviews_userProvince,\n\t\tid = SurrogateKey3@id,\n\t\tlanguage\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select21\nSelect17 filter(!isNull(category)) ~> Filter2\nSelect12 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1) ~> TranslatedTextTable\nSurrogateKey4 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 2) ~> aspects\nSelect11 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 0) ~> KeyPhraseTable\nSelect13 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 0) ~> ReviewSentiment\nFilter2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 0) ~> EntityTable\nSelect18 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 0) ~> ReviewKeyPhraseTable\nSelect19 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ReviewEntityTable\nSelect21 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ReviewsTableNew"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/opinions')]","[concat(variables('factoryId'), '/datasets/Stage3')]","[concat(variables('factoryId'), '/datasets/DelimitedText2')]","[concat(variables('factoryId'), '/datasets/keyphrases1')]","[concat(variables('factoryId'), '/datasets/entities')]","[concat(variables('factoryId'), '/datasets/CFA_TranslatedTable')]","[concat(variables('factoryId'), '/datasets/CFA_Sentiment_Aspect')]","[concat(variables('factoryId'), '/datasets/CFA_KeyPhrases')]","[concat(variables('factoryId'), '/datasets/CFA_ReviewSentiment')]","[concat(variables('factoryId'), '/datasets/CFA_Entities')]","[concat(variables('factoryId'), '/datasets/CFA_Review_KeyPhrase')]","[concat(variables('factoryId'), '/datasets/CFA_Review_Entities')]","[concat(variables('factoryId'), '/datasets/CFA_Reviews')]"]},{"name":"[concat(parameters('factoryName'), '/WriteOutputsToSQL')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"opinions","type":"DatasetReference"},"name":"opinions"},{"dataset":{"referenceName":"Stage3","type":"DatasetReference"},"name":"stage3"},{"dataset":{"referenceName":"DelimitedText2","type":"DatasetReference"},"name":"rawdata"},{"dataset":{"referenceName":"keyphrases1","type":"DatasetReference"},"name":"keyphrases"},{"dataset":{"referenceName":"AzureSynapseAnalyticsKEPhrases","type":"DatasetReference"},"name":"keyphraselookup"},{"dataset":{"referenceName":"CFA_KeyPhrases","type":"DatasetReference"},"name":"MaxKP"},{"dataset":{"referenceName":"CFA_Reviews","type":"DatasetReference"},"name":"MaxReviews"},{"dataset":{"referenceName":"CFA_Entities","type":"DatasetReference"},"name":"entitieslookup"},{"dataset":{"referenceName":"CFA_Entities","type":"DatasetReference"},"name":"MaxEntity"},{"dataset":{"referenceName":"entities","type":"DatasetReference"},"name":"entites"}],"sinks":[{"dataset":{"referenceName":"CFA_TranslatedTable","type":"DatasetReference"},"name":"TranslatedTextTable"},{"dataset":{"referenceName":"CFA_Reviews","type":"DatasetReference"},"name":"ReviewsTable"},{"dataset":{"referenceName":"CFA_Sentiment_Aspect","type":"DatasetReference"},"name":"aspects"},{"name":"MaxKPId"},{"dataset":{"referenceName":"CFA_KeyPhrases","type":"DatasetReference"},"name":"KeyPhraseTable"},{"dataset":{"referenceName":"CFA_Review_KeyPhrase","type":"DatasetReference"},"name":"ReviewKeyPhrases"},{"name":"MaxReviewId"},{"dataset":{"referenceName":"CFA_ReviewSentiment","type":"DatasetReference"},"name":"ReviewSentiment"},{"name":"MaxEntityId"},{"dataset":{"referenceName":"CFA_Entities","type":"DatasetReference"},"name":"EntityTable"},{"dataset":{"referenceName":"CFA_Review_KeyPhrase","type":"DatasetReference"},"name":"ReviewKeyPhraseTable"},{"dataset":{"referenceName":"CFA_Review_Entities","type":"DatasetReference"},"name":"ReviewEntityTable"},{"dataset":{"referenceName":"CFA_Review_Entities","type":"DatasetReference"},"name":"ReviewEntityTable2"}],"transformations":[{"name":"FlattenOpinions"},{"name":"Join3"},{"name":"Select6"},{"name":"SurrogateKey3"},{"name":"Join4"},{"name":"Join5"},{"name":"Select7"},{"name":"Select9"},{"name":"Flatten6"},{"name":"SurrogateKey4"},{"name":"Flatten7"},{"name":"Lookup1"},{"name":"ConditionalSplit1"},{"name":"SurrogateKey5"},{"name":"DerivedColumn1"},{"name":"Select10"},{"name":"Select11"},{"name":"DerivedColumn2"},{"name":"Filter1"},{"name":"Select12"},{"name":"DerivedColumn3"},{"name":"Select13"},{"name":"Select14"},{"name":"DerivedColumn4"},{"name":"Select15"},{"name":"Flatten8"},{"name":"Lookup2"},{"name":"ConditionalSplit2"},{"name":"SurrogateKey6"},{"name":"DerivedColumn5"},{"name":"Select16"},{"name":"Select17"},{"name":"DerivedColumn6"},{"name":"Select18"},{"name":"DerivedColumn7"},{"name":"DerivedColumn8"},{"name":"Select19"},{"name":"DerivedColumn9"},{"name":"Select20"},{"name":"Select21"},{"name":"Select22"},{"name":"DerivedColumn10"},{"name":"DerivedColumn11"},{"name":"DerivedColumn12"},{"name":"Select23"}],"script":"parameters{\n\trunId as string (\"ce755074-054b-47b7-b3ec-cbd1eb41b9c0\")\n}\nsource(output(\n\t\tdocuments as (confidenceScores as (negative as double, neutral as double, positive as double), id as short, sentences as (aspects as (confidenceScores as (negative as double, positive as double), length as short, offset as short, relations as (ref as string, relationType as string)[], sentiment as string, text as string)[], confidenceScores as (negative as double, neutral as double, positive as double), length as short, offset as short, opinions as (confidenceScores as (negative as double, positive as double), isNegated as boolean, length as short, offset as short, sentiment as string, text as string)[], sentiment as string, text as string)[], sentiment as string, warnings as string[])[],\n\t\terrors as (error as (code as string, innererror as (code as string, message as string), message as string), id as short)[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> opinions\nsource(output(\n\t\tchunks as short,\n\t\tid as short,\n\t\tlanguage as string,\n\t\ttext as string,\n\t\ttranslated_text as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine',\n\twildcardPaths:['stage3']) ~> stage3\nsource(output(\n\t\taddress as string,\n\t\tcategories as string,\n\t\tcity as string,\n\t\tcountry as string,\n\t\tlatitude as string,\n\t\tlongitude as string,\n\t\tname as string,\n\t\tpostalCode as string,\n\t\tprovince as string,\n\t\treviews_date as string,\n\t\treviews_dateAdded as string,\n\t\treviews_doRecommend as string,\n\t\treviews_id as string,\n\t\treviews_rating as string,\n\t\treviews_text as string,\n\t\treviews_title as string,\n\t\treviews_userCity as string,\n\t\treviews_username as string,\n\t\treviews_userProvince as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:[('wip/' +  $runId)]) ~> rawdata\nsource(output(\n\t\tdocuments as (id as short, keyPhrases as string[], warnings as string[])[],\n\t\terrors as string[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> keyphrases\nsource(output(\n\t\tid as long,\n\t\tkey_phrase as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> keyphraselookup\nsource(output(\n\t\tmaxkp as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select MAX([id]) as maxkp from dbo.CFA_KeyPhrases',\n\tformat: 'query',\n\tstaged: false) ~> MaxKP\nsource(output(\n\t\tmaxreview as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select MAX([id]) as maxreview from dbo.CFA_Reviews',\n\tformat: 'query',\n\tstaged: false) ~> MaxReviews\nsource(output(\n\t\tcategory as string,\n\t\tsubcategory as string,\n\t\tentity as string,\n\t\tid as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> entitieslookup\nsource(output(\n\t\tmaxentity as long\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select MAX([id]) as maxentity from dbo.CFA_Entities',\n\tformat: 'query',\n\tstaged: false) ~> MaxEntity\nsource(output(\n\t\tdocuments as (entities as (category as string, confidenceScore as double, length as short, offset as short, subcategory as string, text as string)[], id as short, warnings as string[])[],\n\t\terrors as string[],\n\t\tmodelVersion as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> entites\nopinions foldDown(unroll(documents),\n\tmapColumn(\n\t\tconfidenceScores = documents.confidenceScores,\n\t\tid = documents.id,\n\t\tsentences = documents.sentences,\n\t\tsentiment = documents.sentiment\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> FlattenOpinions\nstage3, SurrogateKey3 join(stage3@id == SurrogateKey3@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join3\nJoin3 select(mapColumn(\n\t\tid = stage3@id,\n\t\treview_text = text,\n\t\ttranslated_text,\n\t\tlanguage\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select6\nrawdata keyGenerate(output(id as long),\n\tstartAt: 1L) ~> SurrogateKey3\nSurrogateKey3, stage3 join(SurrogateKey3@id == stage3@id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join4\nJoin4, FlattenOpinions join(SurrogateKey3@id == FlattenOpinions@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join5\nDerivedColumn3 select(mapColumn(\n\t\taddress,\n\t\tcategories,\n\t\tcity,\n\t\tcountry,\n\t\tlatitude,\n\t\tlongitude,\n\t\tname,\n\t\tpostalCode,\n\t\tprovince,\n\t\treviews_date,\n\t\treviews_dateAdded,\n\t\treviews_doRecommend,\n\t\treviews_id,\n\t\treviews_rating,\n\t\treviews_text,\n\t\treviews_title,\n\t\treviews_userCity,\n\t\treviews_username,\n\t\treviews_userProvince,\n\t\tid = unique_id,\n\t\tlanguage\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select7\nJoin5 select(mapColumn(\n\t\tid = SurrogateKey3@id,\n\t\tsentences\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select9\nSelect9 foldDown(unroll(sentences.aspects, sentences),\n\tmapColumn(\n\t\taspect_negative = sentences.aspects.confidenceScores.negative,\n\t\taspect_positive = sentences.aspects.confidenceScores.positive,\n\t\taspect_sentiment = sentences.aspects.sentiment,\n\t\taspect_text = sentences.aspects.text,\n\t\tsentiment = sentences.sentiment,\n\t\ttext = sentences.text,\n\t\tid\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten6\nSelect15 keyGenerate(output(aspect_id as long),\n\tstartAt: 1L) ~> SurrogateKey4\nkeyphrases foldDown(unroll(documents.keyPhrases, documents),\n\tmapColumn(\n\t\tid = documents.id,\n\t\tkeyPhrases = documents.keyPhrases\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten7\nFlatten7, keyphraselookup lookup(keyPhrases == key_phrase,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nLookup1 split(isNull(keyphraselookup@id),\n\tdisjoint: false) ~> ConditionalSplit1@(newKeyPhrases, existingKeyPhrases)\nSelect21 keyGenerate(output(key_phrase_id as long),\n\tstartAt: 1L) ~> SurrogateKey5\nSurrogateKey5 derive(key_phrase_id = MaxKPId#outputs()[1].maxkp + key_phrase_id) ~> DerivedColumn1\nDerivedColumn7 select(mapColumn(\n\t\treview_id,\n\t\tkey_phrase_id = id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select10\nDerivedColumn1 select(mapColumn(\n\t\tkey_phrase = keyPhrases,\n\t\tid = key_phrase_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select11\nFilter1 derive(review_id = MaxReviewId#outputs()[1].maxreviewid + id) ~> DerivedColumn2\nSelect6 filter(language != 'en') ~> Filter1\nDerivedColumn2 select(mapColumn(\n\t\treview_text,\n\t\ttranslated_text,\n\t\tlanguage,\n\t\treview_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select12\nJoin5 derive(unique_id = MaxReviewId#outputs()[1].maxreviewid + SurrogateKey3@id) ~> DerivedColumn3\nDerivedColumn3 select(mapColumn(\n\t\treview_id = unique_id,\n\t\tnegative = confidenceScores.negative,\n\t\tneutral = confidenceScores.neutral,\n\t\tpositive = confidenceScores.positive,\n\t\tsentiment\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select13\nFlatten6 select(mapColumn(\n\t\taspect_negative,\n\t\taspect_positive,\n\t\taspect_sentiment,\n\t\taspect_text,\n\t\tsentiment,\n\t\ttext,\n\t\tid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select14\nSelect14 derive(review_id = MaxReviewId#outputs()[1].maxreviewid + id) ~> DerivedColumn4\nDerivedColumn4 select(mapColumn(\n\t\taspect_negative,\n\t\taspect_positive,\n\t\taspect_sentiment,\n\t\taspect_text,\n\t\tsentiment,\n\t\ttext,\n\t\treview_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select15\nentites foldDown(unroll(documents.entities, documents),\n\tmapColumn(\n\t\tcategory = documents.entities.category,\n\t\tconfidenceScore = documents.entities.confidenceScore,\n\t\tsubcategory = documents.entities.subcategory,\n\t\ttext = documents.entities.text,\n\t\treview_id = documents.id\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> Flatten8\nFlatten8, entitieslookup lookup(text == entity\n\t&& Flatten8@category == entitieslookup@category\n\t&& Flatten8@subcategory == entitieslookup@subcategory,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup2\nLookup2 split(isNull(id),\n\tdisjoint: false) ~> ConditionalSplit2@(newEntity, existingEntity)\nSelect16 keyGenerate(output(new_entity_id as long),\n\tstartAt: 1L) ~> SurrogateKey6\nSurrogateKey6 derive(entity_id = MaxEntityId#outputs()[1].maxentityid + new_entity_id) ~> DerivedColumn5\nConditionalSplit2@newEntity select(mapColumn(\n\t\tcategory = ConditionalSplit2@newEntity@category,\n\t\tsubcategory = ConditionalSplit2@newEntity@subcategory,\n\t\ttext,\n\t\treview_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select16\nDerivedColumn5 select(mapColumn(\n\t\tcategory,\n\t\tsubcategory,\n\t\tentity = text,\n\t\tid = entity_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select17\nDerivedColumn1 derive(review_id = MaxReviewId#outputs()[1].maxreviewid + id) ~> DerivedColumn6\nDerivedColumn6 select(mapColumn(\n\t\tkey_phrase_id,\n\t\treview_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select18\nSelect22 derive(review_id = MaxReviewId#outputs()[1].maxreviewid + id) ~> DerivedColumn7\nDerivedColumn5 derive(review_id = toInteger(MaxReviewId#outputs()[1].maxreviewid) + review_id\r\n) ~> DerivedColumn8\nDerivedColumn8 select(mapColumn(\n\t\treview_id,\n\t\tentity_id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select19\nConditionalSplit2@existingEntity derive(review_id = toInteger(MaxReviewId#outputs()[1].maxreviewid) + review_id) ~> DerivedColumn9\nDerivedColumn9 select(mapColumn(\n\t\treview_id,\n\t\tentity_id = id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select20\nConditionalSplit1@newKeyPhrases select(mapColumn(\n\t\tkeyPhrases,\n\t\tid = ConditionalSplit1@newKeyPhrases@id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select21\nConditionalSplit1@existingKeyPhrases select(mapColumn(\n\t\tid = ConditionalSplit1@existingKeyPhrases@id\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select22\nMaxKP derive(maxkp = iifNull(maxkp, 1)) ~> DerivedColumn10\nMaxReviews derive(maxreviewid = iifNull(maxreview , 1)) ~> DerivedColumn11\nMaxEntity derive(maxentityid = iifNull(maxentity ,1)) ~> DerivedColumn12\nDerivedColumn11 select(mapColumn(\n\t\tmaxreviewid\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select23\nSelect12 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 7) ~> TranslatedTextTable\nSelect7 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1) ~> ReviewsTable\nSurrogateKey4 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 8) ~> aspects\nDerivedColumn10 sink(skipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tstore: 'cache',\n\tformat: 'inline',\n\tsaveOrder: 0) ~> MaxKPId\nSelect11 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 3) ~> KeyPhraseTable\nSelect10 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 4) ~> ReviewKeyPhrases\nSelect23 sink(skipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tstore: 'cache',\n\tformat: 'inline',\n\tsaveOrder: 0) ~> MaxReviewId\nSelect13 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 2) ~> ReviewSentiment\nDerivedColumn12 sink(skipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tstore: 'cache',\n\tformat: 'inline',\n\tsaveOrder: 1) ~> MaxEntityId\nSelect17 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 6) ~> EntityTable\nSelect18 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 5) ~> ReviewKeyPhraseTable\nSelect19 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ReviewEntityTable\nSelect20 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tstaged: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ReviewEntityTable2"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/opinions')]","[concat(variables('factoryId'), '/datasets/Stage3')]","[concat(variables('factoryId'), '/datasets/DelimitedText2')]","[concat(variables('factoryId'), '/datasets/keyphrases1')]","[concat(variables('factoryId'), '/datasets/AzureSynapseAnalyticsKEPhrases')]","[concat(variables('factoryId'), '/datasets/CFA_KeyPhrases')]","[concat(variables('factoryId'), '/datasets/CFA_Reviews')]","[concat(variables('factoryId'), '/datasets/CFA_Entities')]","[concat(variables('factoryId'), '/datasets/entities')]","[concat(variables('factoryId'), '/datasets/CFA_TranslatedTable')]","[concat(variables('factoryId'), '/datasets/CFA_Sentiment_Aspect')]","[concat(variables('factoryId'), '/datasets/CFA_Review_KeyPhrase')]","[concat(variables('factoryId'), '/datasets/CFA_ReviewSentiment')]","[concat(variables('factoryId'), '/datasets/CFA_Review_Entities')]"]},{"name":"[concat(parameters('factoryName'), '/opinions')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"opinions","fileSystem":"hotel-reviews"}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DelimitedText2')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"'wip/' + $runId","type":"Expression"},"fileSystem":"hotel-reviews"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"address","type":"String"},{"name":"categories","type":"String"},{"name":"city","type":"String"},{"name":"country","type":"String"},{"name":"latitude","type":"String"},{"name":"longitude","type":"String"},{"name":"name","type":"String"},{"name":"postalCode","type":"String"},{"name":"province","type":"String"},{"name":"reviews_date","type":"String"},{"name":"reviews_dateAdded","type":"String"},{"name":"reviews_doRecommend","type":"String"},{"name":"reviews_id","type":"String"},{"name":"reviews_rating","type":"String"},{"name":"reviews_text","type":"String"},{"name":"reviews_title","type":"String"},{"name":"reviews_userCity","type":"String"},{"name":"reviews_username","type":"String"},{"name":"reviews_userProvince","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_TranslatedTable')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Translated"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_Sentiment_Aspect')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_SentimentAspect"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_KeyPhrases')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_KeyPhrases"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_ReviewSentiment')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Review_Sentiment"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_Review_KeyPhrase')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Reviews_KeyPhrases"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_Review_Entities')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Reviews_Entities"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CFA_Reviews')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[],"typeProperties":{"schema":"dbo","table":"CFA_Reviews"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSynapseAnalyticsKEPhrases')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSynapseAnalytics1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"key_phrases","type":"nvarchar"},{"name":"key_phrase_id","type":"bigint","precision":19}],"typeProperties":{"schema":"dbo","table":"CFA_KeyPhrases"}},"dependsOn":[]}]}