templates/SinkToDynamics_GUID_Lookup/SinkToDynamics_GUID_Lookup.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"Lookup_Table_LinkService":{"type":"string"},"DataSource_LinkService":{"type":"string"},"Dynamics365_LinkService":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/SinkToDynamics_GUID_Lookup')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup_table","description":"Use this table to parameterize dataflow","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"dataset":{"referenceName":"LookUp_Configuration_File1","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"Lookup_table","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup_table').output.value","type":"Expression"},"activities":[{"name":"SinkToDynamics365","description":"Read data from source, and sink to Dynamics 365 via GUID lookup.","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"1.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Sink2Dynamics_dataflow1","type":"DataFlowReference","parameters":{"src_tbl":{"value":"'@{item().source_table}'","type":"Expression"},"des_tbl":{"value":"'@{item().sink_table}'","type":"Expression"},"lookup_col":{"value":"'@{item().lookup_column}'","type":"Expression"},"foreign_tbl":{"value":"'@{item().lookup_table}'","type":"Expression"},"foreign_tbl_key_col":{"value":"'@{item().lookup_table_key}'","type":"Expression"},"des_tbl_alternate_key":{"value":"'@{item().sink_table_alternate_key}'","type":"Expression"}},"datasetParameters":{"SourceFile":{},"Dynamics365":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"annotations":[],"lastPublishTime":"2021-12-08T08:43:38Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/LookUp_Configuration_File1')]","[concat(variables('factoryId'), '/dataflows/Sink2Dynamics_dataflow1')]"]},{"name":"[concat(parameters('factoryName'), '/LookUp_Configuration_File1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Lookup_Table_LinkService')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"lookup_table.txt","fileSystem":"public"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"source_table","type":"String"},{"name":"sink_table","type":"String"},{"name":"lookup_column","type":"String"},{"name":"lookup_table","type":"String"},{"name":"lookup_table_key","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Sink2Dynamics_dataflow1')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"linkedService":{"referenceName":"[parameters('DataSource_LinkService')]","type":"LinkedServiceReference"},"name":"SourceFile"}],"sinks":[{"linkedService":{"referenceName":"[parameters('Dynamics365_LinkService')]","type":"LinkedServiceReference"},"name":"Dynamics365"}],"transformations":[{"name":"DerivedColumn1"},{"name":"DerivedColumn2"},{"name":"AlterRow1"}],"script":"parameters{\n\tsrc_tbl as string (\"new_dataflow_order2.txt\"),\n\tdes_tbl as string (\"new_my_order\"),\n\tlookup_col as string (\"new_product_lookup\"),\n\tforeign_tbl as string (\"new_my_products\"),\n\tforeign_tbl_key_col as string (\"new_product_name\"),\n\tdes_tbl_alternate_key as string (\"new_ak\")\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false,\n\tformat: 'delimited',\n\tfileSystem: 'public',\n\tfileName: ($src_tbl),\n\tcolumnDelimiter: ',',\n\tescapeChar: '\\\\',\n\tquoteChar: '\\\"',\n\tcolumnNamesAsHeader: true,\n\tpreferredIntegralType: 'long',\n\tpreferredFractionalType: 'decimal') ~> SourceFile\nSourceFile derive(each(match(name==$lookup_col), \"dynamicssdk\" = $$)) ~> DerivedColumn1\nDerivedColumn1 derive(each(match(name==\"dynamicssdk\"), $lookup_col+\"@odata.bind\" = \"/\"+$foreign_tbl+\"(\"+$foreign_tbl_key_col+\"='\"+toString(byName($lookup_col))+\"')\")) ~> DerivedColumn2\nDerivedColumn2 alterRow(upsertIf(true())) ~> AlterRow1\nAlterRow1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tstore: 'dynamics',\n\tformat: 'dynamicsformat',\n\tentity: ($des_tbl),\n\tdeletable: true,\n\tinsertable: true,\n\tupdateable: true,\n\tupsertable: true,\n\talternateKeyName: ($des_tbl_alternate_key),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\teach(match(name!=$lookup_col&&name!=\"dynamicssdk\"))\n\t)) ~> Dynamics365"}},"dependsOn":[]}]}