templates/Spaceborne Data Analysis Master Pipeline/Spaceborne Data Analysis Master Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"synwsbx34hwmz3x"},"AOI Geospatial v2":{"type":"string"},"AOI Geospatial v2 FS":{"type":"string"},"AOI Data Storage Account v2":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Spaceborne Data Analysis Master Pipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"The pipeline template takes GeoTIFF images as input, runs Geospatial Analysis using Azure Synapse Analytics and produces GeoJSON output that can be consumed for further analysis.","activities":[{"name":"Transforms","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Custom Vision Model Transforms v2","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"Prefix":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"StorageAccountName":{"value":"@pipeline().parameters.StorageAccountName","type":"Expression"},"AOI":{"value":"@pipeline().parameters.AOI","type":"Expression"},"SparkPoolName":{"value":"@pipeline().parameters.SparkPoolName","type":"Expression"},"EnvCode":{"value":"@pipeline().parameters.EnvCode","type":"Expression"},"KeyVaultName":"@pipeline().parameters.KeyVaultName"}}},{"name":"Custom Vision Object Detection","type":"ExecutePipeline","dependsOn":[{"activity":"Transforms","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Custom Vision Object Detection v2","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"Prefix":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"BatchName":{"value":"@pipeline().parameters.BatchAccountName","type":"Expression"},"JobName":{"value":"@pipeline().parameters.BatchJobName","type":"Expression"},"BatchLocation":{"value":"@pipeline().parameters.BatchLocation","type":"Expression"},"StorageAccountName":{"value":"@pipeline().parameters.StorageAccountName","type":"Expression"},"SparkPoolName":{"value":"@pipeline().parameters.SparkPoolName","type":"Expression"},"EnvCode":{"value":"@pipeline().parameters.EnvCode","type":"Expression"},"KeyVaultName":{"value":"@pipeline().parameters.KeyVaultName","type":"Expression"}}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Prefix":{"type":"string","defaultValue":"demo-test-container"},"StorageAccountName":{"type":"string","defaultValue":"rawdataeh34ebdemo"},"AOI":{"type":"string","defaultValue":"-117.063550 32.749467 -116.999386 32.812946"},"BatchAccountName":{"type":"string","defaultValue":"demobatchdev"},"BatchJobName":{"type":"string","defaultValue":"demo-data-cpu-pool"},"BatchLocation":{"type":"string","defaultValue":"eastus"},"SparkPoolName":{"type":"string","defaultValue":"poolbx34hwdemo"},"EnvCode":{"type":"string","defaultValue":"demo"},"KeyVaultName":{"type":"string","defaultValue":"kvpbx34hwdemo"}},"variables":{"Storage_Account_Conn_String":{"type":"String"}},"folder":{"name":"Spaceborne Data Analysis Pipelines"},"annotations":[],"lastPublishTime":"2022-07-14T15:27:53Z"},"dependsOn":["[concat(variables('workspaceId'), '/pipelines/Custom Vision Model Transforms v2')]","[concat(variables('workspaceId'), '/pipelines/Custom Vision Object Detection v2')]"]},{"name":"[concat(parameters('workspaceName'), '/Custom Vision Model Transforms v2')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Transforms","type":"SparkJob","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"sparkJob":{"referenceName":"Transforms","type":"SparkJobDefinitionReference"},"file":"https://raw.githubusercontent.com/Azure/Azure-Orbital-Analytics-Samples/releases/v1.0.0/src/transforms/spark-jobs/customvision_transform/src/main.py","args":["--storage_account_name","@pipeline().parameters.StorageAccountName","--storage_container","@pipeline().parameters.Prefix","--key_vault_name","@concat(pipeline().parameters.KeyVaultName)","--storage_account_key_secret_name","GeospatialStorageAccountKey","--linked_service_name","AOI Pipeline Key Vault","--aoi","@split(pipeline().parameters.AOI, ' ')[0]","@split(pipeline().parameters.AOI, ' ')[1]","@split(pipeline().parameters.AOI, ' ')[2]","@split(pipeline().parameters.AOI, ' ')[3]"],"executorSize":"Medium","conf":{"spark.dynamicAllocation.minExecutors":2,"spark.dynamicAllocation.maxExecutors":3},"driverSize":"Medium","numExecutors":2}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Prefix":{"type":"string"},"StorageAccountName":{"type":"string"},"AOI":{"type":"string"},"SparkPoolName":{"type":"string"},"EnvCode":{"type":"string"},"KeyVaultName":{"type":"string"}},"folder":{"name":"Spaceborne Data Analysis Pipelines"},"annotations":[],"lastPublishTime":"2022-07-14T15:26:03Z"},"dependsOn":["[concat(variables('workspaceId'), '/sparkJobDefinitions/Transforms')]"]},{"name":"[concat(parameters('workspaceName'), '/Custom Vision Object Detection v2')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Wait for Custom Vision","type":"Until","dependsOn":[{"activity":"Custom Vision","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@and(and(not(equals(string(variables('FunctionCompleted')), 'running')), not(equals(string(variables('FunctionCompleted')), 'active'))), not(equals(string(variables('FunctionCompleted')), 'preparing')))","type":"Expression"},"activities":[{"name":"Wait for Custom Vision Check","type":"Wait","dependsOn":[{"activity":"Set FunctionCompleted Custom Vision","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"waitTimeInSeconds":30}},{"name":"Check Status Custom Vision","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('https://',pipeline().parameters.BatchName,'.',pipeline().parameters.BatchLocation,'.batch.azure.com/jobs/',pipeline().parameters.JobName,'/tasks/aoi-cv-task-', pipeline().RunId, '?api-version=2022-01-01.15.0')","type":"Expression"},"method":"GET","headers":{},"authentication":{"type":"MSI","resource":"https://batch.core.windows.net/"}}},{"name":"Set FunctionCompleted Custom Vision","type":"SetVariable","dependsOn":[{"activity":"Check Status Custom Vision","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"FunctionCompleted","value":{"value":"@activity('Check Status Custom Vision').output['state']","type":"Expression"}}},{"name":"Set FunctionError","type":"SetVariable","dependsOn":[{"activity":"Check Status Custom Vision","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"variableName":"FunctionError","value":{"value":"@activity('Check Status Custom Vision').output['executionInfo']['failureInfo']","type":"Expression"}}}],"timeout":"7.00:00:00"}},{"name":"Custom Vision","type":"WebActivity","dependsOn":[{"activity":"Copy Tiles","dependencyConditions":["Succeeded"]},{"activity":"Copy Config","dependencyConditions":["Succeeded"]},{"activity":"Copy Georeference Xml","dependencyConditions":["Succeeded"]},{"activity":"Delete Results Directory placeholder","dependencyConditions":["Succeeded"]},{"activity":"Delete Logs Directory placeholder","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('https://',pipeline().parameters.BatchName,'.',pipeline().parameters.BatchLocation,'.batch.azure.com/jobs/',pipeline().parameters.JobName,'/tasks?api-version=2020-03-01.11.0')","type":"Expression"},"method":"POST","headers":{"Content-type":"application/json; odata=minimalmetadata; charset=utf-8"},"body":{"value":"@json(concat('{\n  \"id\": \"aoi-cv-task-', pipeline().RunId, '\",\n  \"commandLine\": \"\",\n  \"containerSettings\": {\n    \"imageName\": \"', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['algImageName'], '\",\n    \"containerRunOptions\": \"--rm --workdir / -v /mnt/batch/tasks/fsmounts/S/', pipeline().parameters.Prefix, ':', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['mountedDirectory'], '\"\n  },\n  \"environmentSettings\": [\n      {\n          \"name\": \"APP_INPUT_DIR\",\n          \"value\": \"/mnt/batch/tasks/fsmounts/S/', pipeline().parameters.Prefix,'/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['submissionDirectory'],'\"\n      },\n      {\n          \"name\": \"APP_OUTPUT_DIR\",\n          \"value\": \"/mnt/batch/tasks/fsmounts/S/', pipeline().parameters.Prefix,'/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['resultsDirectory'],'\"\n      },\n      {\n          \"name\": \"APP_CONFIG_DIR\",\n          \"value\": \"/mnt/batch/tasks/fsmounts/S/', pipeline().parameters.Prefix,'/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['contextFileName'],'\"\n      }\n  ]\n}'))","type":"Expression"},"authentication":{"type":"MSI","resource":"https://batch.core.windows.net/"}}},{"name":"Pool Geolocation","type":"SparkJob","dependsOn":[{"activity":"Copy Xml","dependencyConditions":["Succeeded"]},{"activity":"Copy Json","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"sparkJob":{"referenceName":"Pool Geolocation","type":"SparkJobDefinitionReference"},"file":{"value":"https://raw.githubusercontent.com/Azure/Azure-Orbital-Analytics-Samples/releases/v1.0.0/src/transforms/spark-jobs/pool_geolocation/src/main.py","type":"Expression"},"args":["--storage_account_name","@pipeline().parameters.StorageAccountName","--storage_container","@pipeline().parameters.Prefix","--src_folder_name","detections","--key_vault_name","@concat(pipeline().parameters.KeyVaultName)","--storage_account_key_secret_name","GeospatialStorageAccountKey","--linked_service_name","AOI Pipeline Key Vault"],"executorSize":"Medium","conf":{"spark.dynamicAllocation.minExecutors":2,"spark.dynamicAllocation.maxExecutors":3},"driverSize":"Medium","numExecutors":2}},{"name":"Copy Json","type":"Copy","dependsOn":[{"activity":"Wait for Custom Vision","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['resultsDirectory'], '/json')","type":"Expression"},"wildcardFileName":"*.json","deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"gls","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"gld","type":"DatasetReference","parameters":{"DestinationFolderPath":"detections","DestinationContainerName":{"value":"@pipeline().parameters.Prefix","type":"Expression"}}}]},{"name":"Copy Xml","type":"Copy","dependsOn":[{"activity":"Wait for Custom Vision","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['resultsDirectory'], '/other')","type":"Expression"},"wildcardFileName":"*.xml","deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"gls","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"gld","type":"DatasetReference","parameters":{"DestinationFolderPath":"detections","DestinationContainerName":{"value":"@pipeline().parameters.Prefix","type":"Expression"}}}]},{"name":"Read Spec Document","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"1.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"ReadSpecDocumentFlow","type":"DataFlowReference","parameters":{},"datasetParameters":{"source":{"filename":"custom_vision_object_detection.json","folderpath":"config","containername":{"value":"@pipeline().parameters.Prefix","type":"Expression"}},"sink":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"None","cacheSinks":{"firstRowOnly":true}}},{"name":"Copy Tiles","type":"Copy","dependsOn":[{"activity":"Read Spec Document","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":15,"recursive":true,"wildcardFolderPath":"tiles","wildcardFileName":"*.png","deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","maxConcurrentConnections":15}},"enableStaging":false},"inputs":[{"referenceName":"run_container","type":"DatasetReference","parameters":{"container_name":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"folder_path":"tiles"}}],"outputs":[{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['submissionDirectory'])","type":"Expression"}}}]},{"name":"Copy Config","type":"Copy","dependsOn":[{"activity":"Read Spec Document","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":15,"recursive":true,"wildcardFolderPath":"config","wildcardFileName":{"value":"@activity('Read Spec Document').output['runStatus'].output.sink.value[0]['contextFileName']","type":"Expression"},"deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","maxConcurrentConnections":15}},"enableStaging":false},"inputs":[{"referenceName":"run_container","type":"DatasetReference","parameters":{"container_name":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"folder_path":"config"}}],"outputs":[{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix)","type":"Expression"}}}]},{"name":"Copy Georeference Xml","type":"Copy","dependsOn":[{"activity":"Read Spec Document","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":15,"recursive":true,"wildcardFolderPath":"convert","wildcardFileName":"*.aux.xml","deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","maxConcurrentConnections":15}},"enableStaging":false},"inputs":[{"referenceName":"run_container","type":"DatasetReference","parameters":{"container_name":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"folder_path":"convert"}}],"outputs":[{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['submissionDirectory'])","type":"Expression"}}}]},{"name":"Create Results Directory with placeholder","type":"Copy","dependsOn":[{"activity":"Read Spec Document","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":15,"recursive":true,"wildcardFolderPath":"config","wildcardFileName":{"value":"@activity('Read Spec Document').output['runStatus'].output.sink.value[0]['contextFileName']","type":"Expression"},"deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","maxConcurrentConnections":15}},"enableStaging":false},"inputs":[{"referenceName":"run_container","type":"DatasetReference","parameters":{"container_name":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"folder_path":"config"}}],"outputs":[{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['resultsDirectory'])","type":"Expression"}}}]},{"name":"Create Logs Directory with placeholder_copy1","type":"Copy","dependsOn":[{"activity":"Read Spec Document","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"AzureBlobFSReadSettings","maxConcurrentConnections":15,"recursive":true,"wildcardFolderPath":"config","wildcardFileName":{"value":"@activity('Read Spec Document').output['runStatus'].output.sink.value[0]['contextFileName']","type":"Expression"},"deleteFilesAfterCompletion":false},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureFileStorageWriteSettings","maxConcurrentConnections":15}},"enableStaging":false},"inputs":[{"referenceName":"run_container","type":"DatasetReference","parameters":{"container_name":{"value":"@pipeline().parameters.Prefix","type":"Expression"},"folder_path":"config"}}],"outputs":[{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['logsDirectory'])","type":"Expression"}}}]},{"name":"Delete Results Directory placeholder","type":"Delete","dependsOn":[{"activity":"Create Results Directory with placeholder","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['resultsDirectory'])","type":"Expression"}}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFileName":"*.*","enablePartitionDiscovery":false}}},{"name":"Delete Logs Directory placeholder","type":"Delete","dependsOn":[{"activity":"Create Logs Directory with placeholder_copy1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"run_fileshare","type":"DatasetReference","parameters":{"folder_path":{"value":"@concat(pipeline().parameters.Prefix, '/', activity('Read Spec Document').output['runStatus'].output.sink.value[0]['logsDirectory'])","type":"Expression"}}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2')]","type":"LinkedServiceReference"}},"enableLogging":true,"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFileName":"*.*","enablePartitionDiscovery":false}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Prefix":{"type":"string"},"BatchName":{"type":"string"},"JobName":{"type":"string"},"BatchLocation":{"type":"string"},"StorageAccountName":{"type":"string"},"SparkPoolName":{"type":"string"},"EnvCode":{"type":"string"},"KeyVaultName":{"type":"string"}},"variables":{"FunctionCompleted":{"type":"String"},"FunctionError":{"type":"String"}},"folder":{"name":"Spaceborne Data Analysis Pipelines"},"annotations":[],"lastPublishTime":"2022-07-14T15:26:06Z"},"dependsOn":["[concat(variables('workspaceId'), '/sparkJobDefinitions/Pool Geolocation')]","[concat(variables('workspaceId'), '/datasets/gls')]","[concat(variables('workspaceId'), '/datasets/gld')]","[concat(variables('workspaceId'), '/dataflows/ReadSpecDocumentFlow')]","[concat(variables('workspaceId'), '/datasets/run_container')]","[concat(variables('workspaceId'), '/datasets/run_fileshare')]"]},{"name":"[concat(parameters('workspaceName'), '/Transforms')]","type":"Microsoft.Synapse/workspaces/sparkJobDefinitions","apiVersion":"2019-06-01-preview","properties":{"targetBigDataPool":{"referenceName":"poolbx34hwmz3x","type":"BigDataPoolReference"},"requiredSparkVersion":"3.1","language":"python","jobProperties":{"name":"Transforms","file":"abfss://spark-jobs@synhnsbx34hwmz3x.dfs.core.windows.net/customvision_transform/src/main.py","conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"72aef2fd-aaae-40ed-8a09-7b2e87353ace"},"args":[],"jars":[],"files":[],"driverMemory":"56g","driverCores":8,"executorMemory":"56g","executorCores":8,"numExecutors":2}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Pool Geolocation')]","type":"Microsoft.Synapse/workspaces/sparkJobDefinitions","apiVersion":"2019-06-01-preview","properties":{"targetBigDataPool":{"referenceName":"poolbx34hwmz3x","type":"BigDataPoolReference"},"requiredSparkVersion":"3.1","language":"python","jobProperties":{"name":"Pool Geolocation","file":"abfss://spark-jobs@synhnsbx34hwmz3x.dfs.core.windows.net/pool_geolocation/src/main.py","conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"1","spark.dynamicAllocation.maxExecutors":"2","spark.autotune.trackingId":"0d715b42-8d99-4e74-8a24-860c7275f387"},"args":[],"jars":[],"files":["abfss://spark-jobs@synhnsbx34hwmz3x.dfs.core.windows.net/pool_geolocation/src/utils.py"],"driverMemory":"56g","driverCores":8,"executorMemory":"56g","executorCores":8,"numExecutors":2}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/gls')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2 FS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/gld')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2')]","type":"LinkedServiceReference"},"parameters":{"DestinationFolderPath":{"type":"string"},"DestinationContainerName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().DestinationFolderPath","type":"Expression"},"fileSystem":{"value":"@dataset().DestinationContainerName","type":"Expression"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/ReadSpecDocumentFlow')]","type":"Microsoft.Synapse/workspaces/dataflows","apiVersion":"2019-06-01-preview","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"spec_doc_specification","type":"DatasetReference"},"name":"source"}],"sinks":[{"name":"sink"}],"transformations":[],"scriptLines":["source(allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false,","     documentForm: 'arrayOfDocuments') ~> source","source sink(allowSchemaDrift: true,","     validateSchema: false,","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     store: 'cache',","     format: 'inline',","     output: true,","     saveOrder: 1) ~> sink"]}},"dependsOn":["[concat(variables('workspaceId'), '/datasets/spec_doc_specification')]"]},{"name":"[concat(parameters('workspaceName'), '/run_container')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2')]","type":"LinkedServiceReference"},"parameters":{"container_name":{"type":"string"},"folder_path":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().folder_path","type":"Expression"},"fileSystem":{"value":"@dataset().container_name","type":"Expression"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/run_fileshare')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AOI Geospatial v2 FS')]","type":"LinkedServiceReference"},"parameters":{"folder_path":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureFileStorageLocation","folderPath":{"value":"@dataset().folder_path","type":"Expression"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/spec_doc_specification')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AOI Data Storage Account v2')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"},"folderpath":{"type":"string"},"containername":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":{"value":"@dataset().folderpath","type":"Expression"},"container":{"value":"@dataset().containername","type":"Expression"}}},"schema":{}},"dependsOn":[]}]}