templates/Unlock SharePoint Capacity Insights/Unlock SharePoint Capacity Insights.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"LS_Lakehouse-SQLEndPoint": {
			"type": "string"
		},
		"LS_Office365_MGDC": {
			"type": "string"
		}
	},
	"resources": [
		{
			"apiVersion": "2018-06-01",
			"dependsOn": [],
			"name": "Unlock SharePoint Capacity Insights",
			"properties": {
				"activities": [
					{
						"dependsOn": [
							{
								"activity": "Extract Sites From MGDC",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "Extract Files From MGDC",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"name": "Merge Sites and Files To Final Table",
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureInput": false,
							"secureOutput": false,
							"timeout": "0.12:00:00"
						},
						"type": "TridentNotebook",
						"typeProperties": {
							"notebookId": "9e1e4bfb-8b70-4a68-9212-97fa7a183a8e",
							"parameters": {
								"filesFinalTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesFinalTableName"
									}
								},
								"filesStagingTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesStagingTableName"
									}
								},
								"lakehouseName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().parameters.LakehouseName"
									}
								},
								"runId": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().RunId"
									}
								},
								"sitesFinalTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesFinalTableName"
									}
								},
								"sitesStagingTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesStagingTableName"
									}
								},
								"workspaceId": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().DataFactory"
									}
								}
							},
							"workspaceId": {
								"type": "Expression",
								"value": "@pipeline().DataFactory"
							}
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Read Last Snapshot Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"description": "",
						"name": "Set End Snapshot Date",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": {
								"type": "Expression",
								"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).EndSnapshotDate\n\n"
							},
							"variableName": "EndTime"
						}
					},
					{
						"dependsOn": [],
						"name": "Read Last Snapshot Dates",
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureInput": false,
							"secureOutput": false,
							"timeout": "0.12:00:00"
						},
						"type": "TridentNotebook",
						"typeProperties": {
							"notebookId": "3b37b5cd-619c-43d0-a68c-2027a8ccd32b",
							"parameters": {
								"endTime": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@coalesce(pipeline().parameters.EndTime,formatDateTime(adddays(startOfDay(pipeline().TriggerTime),-2),'yyyy-MM-ddTHH:mm:ssZ'))\n"
									}
								},
								"filesFinalTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().parameters.FilesTableName"
									}
								},
								"filessStagingTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@concat(pipeline().parameters.FilesTableName,pipeline().parameters.StagingSuffix)"
									}
								},
								"lakehouseName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().parameters.LakehouseName"
									}
								},
								"runId": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().RunId"
									}
								},
								"sitesFinalTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().parameters.SitesTableName"
									}
								},
								"sitesStagingTableName": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@concat(pipeline().parameters.SitesTableName,pipeline().parameters.StagingSuffix)"
									}
								},
								"workspaceId": {
									"type": "string",
									"value": {
										"type": "Expression",
										"value": "@pipeline().DataFactory"
									}
								}
							},
							"workspaceId": {
								"type": "Expression",
								"value": "@pipeline().DataFactory"
							}
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Read Last Snapshot Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"name": "Set Sites Snapshot Date",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": {
								"type": "Expression",
								"value": "@coalesce(pipeline().parameters.StartTime, json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesSnapshotDate)"
							},
							"variableName": "StartTimeForSites"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Read Last Snapshot Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"name": "Set Files Snapshot Date",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": {
								"type": "Expression",
								"value": "@coalesce(pipeline().parameters.StartTime, json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesSnapshotDate)"
							},
							"variableName": "StartTimeForFiles"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Wait 1 Min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"externalReferences": {
							"connection": "[parameters('LS_Lakehouse-SQLEndPoint')]"
						},
						"name": "Sites View - Lakehouse SQLEndpoint",
						"policy": {
							"retry": 2,
							"retryIntervalInSeconds": 300,
							"secureInput": false,
							"secureOutput": false,
							"timeout": "0.12:00:00"
						},
						"type": "Script",
						"typeProperties": {
							"database": {
								"type": "Expression",
								"value": "@pipeline().parameters.LakehouseName"
							},
							"scriptBlockExecutionTimeout": "02:00:00",
							"scripts": [
								{
									"text": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesView"
									},
									"type": "NonQuery"
								}
							]
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Wait 1 Min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"externalReferences": {
							"connection": "[parameters('LS_Lakehouse-SQLEndPoint')]"
						},
						"name": "Files View - Lakehouse SQLEndpoint",
						"policy": {
							"retry": 2,
							"retryIntervalInSeconds": 300,
							"secureInput": false,
							"secureOutput": false,
							"timeout": "0.12:00:00"
						},
						"type": "Script",
						"typeProperties": {
							"database": {
								"type": "Expression",
								"value": "@pipeline().parameters.LakehouseName"
							},
							"scriptBlockExecutionTimeout": "02:00:00",
							"scripts": [
								{
									"text": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesView"
									},
									"type": "NonQuery"
								}
							]
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Read Last Snapshot Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"name": "Does Files Data Exists",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": {
								"type": "Expression",
								"value": "@bool(json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesDataExists)"
							},
							"variableName": "FilesDataExists"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Read Last Snapshot Dates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"name": "Does Sites Data Exists",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": {
								"type": "Expression",
								"value": "@bool(json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesDataExists)"
							},
							"variableName": "SitesDataExists"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Set Sites Snapshot Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set End Snapshot Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Does Sites Data Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"description": "",
						"name": "Extract Sites From MGDC",
						"type": "IfCondition",
						"typeProperties": {
							"expression": {
								"type": "Expression",
								"value": "@and(and(variables('SitesDataExists'),\n     not(pipeline().parameters.ForceFullWhenDataExists)\t \n\t ), greaterOrEquals( startOfDay(variables('StartTimeForSites')) , startOfDay(variables('EndTime')) ))\n\n      "
							},
							"ifFalseActivities": [
								{
									"dependsOn": [],
									"name": "Extract Sites To Staging",
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureInput": false,
										"secureOutput": false,
										"timeout": "0.12:00:00"
									},
									"type": "Copy",
									"typeProperties": {
										"enableStaging": true,
										"sink": {
											"datasetSettings": {
												"annotations": [],
												"linkedService": {
													"name": "e629b492_d56f_43cc_a93f_3558c83b2f5d",
													"properties": {
														"annotations": [],
														"type": "Lakehouse",
														"typeProperties": {
															"artifactId": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).LakehouseId",
															"rootFolder": "Tables",
															"workspaceId": "@pipeline().DataFactory"
														}
													}
												},
												"schema": [],
												"type": "LakehouseTable",
												"typeProperties": {
													"schema": "dbo",
													"table": {
														"type": "Expression",
														"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).SitesStagingTableName"
													}
												}
											},
											"partitionOption": "None",
											"tableActionOption": "OverwriteSchema",
											"type": "LakehouseTableSink"
										},
										"source": {
											"DataFilter": {
												"type": "Expression",
												"value": "@pipeline().parameters.SitesFilter"
											},
											"datasetSettings": {
												"annotations": [],
												"externalReferences": {
													"connection": "[parameters('LS_Office365_MGDC')]"
												},
												"schema": [],
												"type": "Office365Table",
												"typeProperties": {
													"tableName": "BasicDataSet_v0.SharePointSites_v1"
												}
											},
											"dateFilterColumn": "SnapshotDate",
											"endTime": {
												"type": "Expression",
												"value": "@variables('EndTime')"
											},
											"startTime": {
												"type": "Expression",
												"value": "@variables('StartTimeForSites')"
											},
											"type": "Office365Source"
										},
										"translator": {
											"columnFlattenSettings": {
												"flattenColumnDelimiter": "_",
												"treatArrayAsString": false,
												"treatStructAsString": false
											},
											"mappings": [
												{
													"sink": {
														"name": "ptenant",
														"physicalType": "string"
													},
													"source": {
														"name": "ptenant",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Id",
														"physicalType": "string"
													},
													"source": {
														"name": "Id",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Url",
														"physicalType": "string"
													},
													"source": {
														"name": "Url",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ArchiveState",
														"physicalType": "string"
													},
													"source": {
														"name": "ArchiveState",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RootWeb_Configuration",
														"physicalType": "long"
													},
													"source": {
														"name": "RootWeb_Configuration",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "RootWeb_Id",
														"physicalType": "string"
													},
													"source": {
														"name": "RootWeb_Id",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RootWeb_Title",
														"physicalType": "string"
													},
													"source": {
														"name": "RootWeb_Title",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RootWeb_WebTemplate",
														"physicalType": "string"
													},
													"source": {
														"name": "RootWeb_WebTemplate",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RootWeb_WebTemplateId",
														"physicalType": "string"
													},
													"source": {
														"name": "RootWeb_WebTemplateId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RootWeb_LastItemModifiedDate",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "RootWeb_LastItemModifiedDate",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "WebCount",
														"physicalType": "long"
													},
													"source": {
														"name": "WebCount",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageQuota",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageQuota",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageUsed",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageUsed",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageMetrics_MetadataSize",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageMetrics_MetadataSize",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageMetrics_TotalFileCount",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageMetrics_TotalFileCount",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageMetrics_TotalFileStreamSize",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageMetrics_TotalFileStreamSize",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "StorageMetrics_TotalSize",
														"physicalType": "long"
													},
													"source": {
														"name": "StorageMetrics_TotalSize",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "GroupId",
														"physicalType": "string"
													},
													"source": {
														"name": "GroupId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "GeoLocation",
														"physicalType": "string"
													},
													"source": {
														"name": "GeoLocation",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IsInRecycleBin",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsInRecycleBin",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "RecycleBinItemCount",
														"physicalType": "long"
													},
													"source": {
														"name": "RecycleBinItemCount",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "RecycleBinItemSize",
														"physicalType": "long"
													},
													"source": {
														"name": "RecycleBinItemSize",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "SecondStageRecycleBinStorageUsage",
														"physicalType": "long"
													},
													"source": {
														"name": "SecondStageRecycleBinStorageUsage",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "IsTeamsConnectedSite",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsTeamsConnectedSite",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "IsTeamsChannelSite",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsTeamsChannelSite",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "TeamsChannelType",
														"physicalType": "string"
													},
													"source": {
														"name": "TeamsChannelType",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IsCommunicationSite",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsCommunicationSite",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "IsHubSite",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsHubSite",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "HubSiteId",
														"physicalType": "string"
													},
													"source": {
														"name": "HubSiteId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IsOneDrive",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsOneDrive",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "BlockAccessFromUnmanagedDevices",
														"physicalType": "boolean"
													},
													"source": {
														"name": "BlockAccessFromUnmanagedDevices",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "BlockDownloadOfAllFilesOnUnmanagedDevices",
														"physicalType": "boolean"
													},
													"source": {
														"name": "BlockDownloadOfAllFilesOnUnmanagedDevices",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "BlockDownloadOfViewableFilesOnUnmanagedDevices",
														"physicalType": "boolean"
													},
													"source": {
														"name": "BlockDownloadOfViewableFilesOnUnmanagedDevices",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "IsExternalSharingEnabled",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsExternalSharingEnabled",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "Privacy",
														"physicalType": "string"
													},
													"source": {
														"name": "Privacy",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ShareByEmailEnabled",
														"physicalType": "boolean"
													},
													"source": {
														"name": "ShareByEmailEnabled",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "ShareByLinkEnabled",
														"physicalType": "boolean"
													},
													"source": {
														"name": "ShareByLinkEnabled",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "SiteConnectedToPrivateGroup",
														"physicalType": "boolean"
													},
													"source": {
														"name": "SiteConnectedToPrivateGroup",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "SensitivityLabelInfo_DisplayName",
														"physicalType": "string"
													},
													"source": {
														"name": "SensitivityLabelInfo_DisplayName",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SensitivityLabelInfo_Id",
														"physicalType": "string"
													},
													"source": {
														"name": "SensitivityLabelInfo_Id",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Classification",
														"physicalType": "string"
													},
													"source": {
														"name": "Classification",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IBMode",
														"physicalType": "string"
													},
													"source": {
														"name": "IBMode",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IBSegments",
														"physicalType": "string"
													},
													"source": {
														"name": "IBSegments",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "RelatedGroupId",
														"physicalType": "string"
													},
													"source": {
														"name": "RelatedGroupId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Owner_AadObjectId",
														"physicalType": "string"
													},
													"source": {
														"name": "Owner_AadObjectId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Owner_Email",
														"physicalType": "string"
													},
													"source": {
														"name": "Owner_Email",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Owner_Name",
														"physicalType": "string"
													},
													"source": {
														"name": "Owner_Name",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Owner_UPN",
														"physicalType": "string"
													},
													"source": {
														"name": "Owner_UPN",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SecondaryContact_AadObjectId",
														"physicalType": "string"
													},
													"source": {
														"name": "SecondaryContact_AadObjectId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SecondaryContact_Email",
														"physicalType": "string"
													},
													"source": {
														"name": "SecondaryContact_Email",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SecondaryContact_Name",
														"physicalType": "string"
													},
													"source": {
														"name": "SecondaryContact_Name",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SecondaryContact_UPN",
														"physicalType": "string"
													},
													"source": {
														"name": "SecondaryContact_UPN",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ReadLocked",
														"physicalType": "boolean"
													},
													"source": {
														"name": "ReadLocked",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "ReadOnly",
														"physicalType": "boolean"
													},
													"source": {
														"name": "ReadOnly",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "CreatedTime",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "CreatedTime",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "LastSecurityModifiedDate",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "LastSecurityModifiedDate",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "Operation",
														"physicalType": "string"
													},
													"source": {
														"name": "Operation",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "LastUserAccessDate",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "LastUserAccessDate",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "SnapshotDate",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "SnapshotDate",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												}
											],
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"dependsOn": [],
									"description": "Do Not Extract Sites  -  Data already exists and (both start time and end time same or start time is greater than end time) and ForceFullWhenDataExists parameter set to false",
									"name": "Do Not Extract Sites",
									"type": "Fail",
									"typeProperties": {
										"errorCode": "-999",
										"message": "Error: -999 -  Do Not Extract Sites  -  Data already exists and (both start time and end time same or start time is greater than end time) and ForceFullWhenDataExists parameter set to false"
									}
								}
							]
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Set Files Snapshot Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set End Snapshot Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Does Files Data Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"description": "",
						"name": "Extract Files From MGDC",
						"type": "IfCondition",
						"typeProperties": {
							"expression": {
								"type": "Expression",
								"value": "@and(and(variables('FilesDataExists'),\n     not(pipeline().parameters.ForceFullWhenDataExists)\t \n\t ), greaterOrEquals( startOfDay(variables('StartTimeForFiles')) , startOfDay(variables('EndTime')) ))"
							},
							"ifFalseActivities": [
								{
									"dependsOn": [],
									"name": "Extract Files To Staging",
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureInput": false,
										"secureOutput": false,
										"timeout": "0.12:00:00"
									},
									"type": "Copy",
									"typeProperties": {
										"enableStaging": true,
										"sink": {
											"datasetSettings": {
												"annotations": [],
												"linkedService": {
													"name": "f589a5e3_9e9f_4bbe_8e32_55faadf2c82f",
													"properties": {
														"annotations": [],
														"type": "Lakehouse",
														"typeProperties": {
															"artifactId": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).LakehouseId",
															"rootFolder": "Tables",
															"workspaceId": "@pipeline().DataFactory"
														}
													}
												},
												"schema": [],
												"type": "LakehouseTable",
												"typeProperties": {
													"schema": "dbo",
													"table": {
														"type": "Expression",
														"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).FilesStagingTableName"
													}
												}
											},
											"partitionOption": "None",
											"tableActionOption": "OverwriteSchema",
											"type": "LakehouseTableSink"
										},
										"source": {
											"datasetSettings": {
												"annotations": [],
												"DataFilter": {
													"type": "Expression",
													"value": "@pipeline().parameters.FilesFilter"
												},
												"externalReferences": {
													"connection": "[parameters('LS_Office365_MGDC')]"
												},
												"schema": [],
												"type": "Office365Table",
												"typeProperties": {
													"tableName": "BasicDataSet_v0.SharePointFiles_v1"
												}
											},
											"dateFilterColumn": "SnapshotDate",
											"endTime": {
												"type": "Expression",
												"value": "@variables('EndTime')"
											},
											"startTime": {
												"type": "Expression",
												"value": "@variables('StartTimeForFiles')"
											},
											"type": "Office365Source"
										},
										"translator": {
											"columnFlattenSettings": {
												"flattenColumnDelimiter": "_",
												"treatArrayAsString": false,
												"treatStructAsString": false
											},
											"mappings": [
												{
													"sink": {
														"name": "ptenant",
														"physicalType": "string"
													},
													"source": {
														"name": "ptenant",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SiteId",
														"physicalType": "string"
													},
													"source": {
														"name": "SiteId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Author_Email",
														"physicalType": "string"
													},
													"source": {
														"name": "Author_Email",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Author_Name",
														"physicalType": "string"
													},
													"source": {
														"name": "Author_Name",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "DirName",
														"physicalType": "string"
													},
													"source": {
														"name": "DirName",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Extension",
														"physicalType": "string"
													},
													"source": {
														"name": "Extension",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "FileName",
														"physicalType": "string"
													},
													"source": {
														"name": "FileName",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "IsLabelEncrypted",
														"physicalType": "boolean"
													},
													"source": {
														"name": "IsLabelEncrypted",
														"physicalType": "boolean",
														"type": "Boolean"
													}
												},
												{
													"sink": {
														"name": "ItemId",
														"physicalType": "string"
													},
													"source": {
														"name": "ItemId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ListId",
														"physicalType": "string"
													},
													"source": {
														"name": "ListId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ListServerTemplate",
														"physicalType": "string"
													},
													"source": {
														"name": "ListServerTemplate",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "MajorVersion",
														"physicalType": "integer"
													},
													"source": {
														"name": "MajorVersion",
														"physicalType": "int32",
														"type": "Int32"
													}
												},
												{
													"sink": {
														"name": "MinorVersion",
														"physicalType": "integer"
													},
													"source": {
														"name": "MinorVersion",
														"physicalType": "int32",
														"type": "Int32"
													}
												},
												{
													"sink": {
														"name": "ModifiedBy_Email",
														"physicalType": "string"
													},
													"source": {
														"name": "ModifiedBy_Email",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ModifiedBy_Name",
														"physicalType": "string"
													},
													"source": {
														"name": "ModifiedBy_Name",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "Operation",
														"physicalType": "string"
													},
													"source": {
														"name": "Operation",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "QuickXorHash",
														"physicalType": "string"
													},
													"source": {
														"name": "QuickXorHash",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "ScopeId",
														"physicalType": "string"
													},
													"source": {
														"name": "ScopeId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SensitivityLabelInfo_DisplayName",
														"physicalType": "string"
													},
													"source": {
														"name": "SensitivityLabelInfo_DisplayName",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SensitivityLabelInfo_Id",
														"physicalType": "string"
													},
													"source": {
														"name": "SensitivityLabelInfo_Id",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SiteUrl",
														"physicalType": "string"
													},
													"source": {
														"name": "SiteUrl",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "SizeInBytes",
														"physicalType": "long"
													},
													"source": {
														"name": "SizeInBytes",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "SizeInBytesWithVersions",
														"physicalType": "long"
													},
													"source": {
														"name": "SizeInBytesWithVersions",
														"physicalType": "int64",
														"type": "Int64"
													}
												},
												{
													"sink": {
														"name": "TimeCreated",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "TimeCreated",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "TimeLastModified",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "TimeLastModified",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												},
												{
													"sink": {
														"name": "WebId",
														"physicalType": "string"
													},
													"source": {
														"name": "WebId",
														"physicalType": "string",
														"type": "String"
													}
												},
												{
													"sink": {
														"name": "WebTemplateId",
														"physicalType": "integer"
													},
													"source": {
														"name": "WebTemplateId",
														"physicalType": "int32",
														"type": "Int32"
													}
												},
												{
													"sink": {
														"name": "SnapshotDate",
														"physicalType": "timestamp"
													},
													"source": {
														"name": "SnapshotDate",
														"physicalType": "datetime",
														"type": "DateTime"
													}
												}
											],
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"dependsOn": [],
									"description": "Do Not Extract Files -  Data already exists and (both start time and end time same or start time is greater than end time) and ForceFullWhenDataExists parameter set to false",
									"name": "Do Not Extract Files",
									"type": "Fail",
									"typeProperties": {
										"errorCode": "-999",
										"message": "Error: -999 -  Do Not Extract Files - Data already exists and (both start time and end time same or start time is greater than end time) and ForceFullWhenDataExists parameter set to false"
									}
								}
							]
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Extract Files From MGDC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"name": "Files Validations Failed",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": "true",
							"variableName": "FilesExtractValidationsFailed"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Extract Sites From MGDC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"description": "true",
						"name": "Site Validations Failed",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": "true",
							"variableName": "FilesExtractValidationsFailed"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Sites View - Lakehouse SQLEndpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Files View - Lakehouse SQLEndpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Files Aggs View - Lakehouse SQLEndpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"description": "If this activity completed then Pipeline Completed Successfully",
						"name": "Pipeline Success",
						"policy": {
							"secureInput": false,
							"secureOutput": false
						},
						"type": "SetVariable",
						"typeProperties": {
							"value": "Pipeline Completed Successfully",
							"variableName": "PipelineFinalStatus"
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Merge Sites and Files To Final Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"name": "Wait 1 Min",
						"type": "Wait",
						"typeProperties": {
							"waitTimeInSeconds": 60
						}
					},
					{
						"dependsOn": [
							{
								"activity": "Wait 1 Min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"externalReferences": {
							"connection": "[parameters('LS_Lakehouse-SQLEndPoint')]"
						},
						"name": "Files Aggs View - Lakehouse SQLEndpoint",
						"policy": {
							"retry": 2,
							"retryIntervalInSeconds": 300,
							"secureInput": false,
							"secureOutput": false,
							"timeout": "0.12:00:00"
						},
						"type": "Script",
						"typeProperties": {
							"database": {
								"type": "Expression",
								"value": "@pipeline().parameters.LakehouseName"
							},
							"scriptBlockExecutionTimeout": "02:00:00",
							"scripts": [
								{
									"text": {
										"type": "Expression",
										"value": "@json(activity('Read Last Snapshot Dates').output.result.exitValue).FileAggsView"
									},
									"type": "NonQuery"
								}
							]
						}
					}
				],
				"lastModifiedByObjectId": "909f00ae-4251-400b-9be6-4af2e0aa2c1c",
				"lastPublishTime": "2025-07-10T01:55:59Z",
				"parameters": {
					"EndTime": {
						"type": "string"
					},
					"FilesFilter": {
						"type": "string"
					},
					"FilesTableName": {
						"defaultValue": "Files",
						"type": "string"
					},
					"ForceFullWhenDataExists": {
						"defaultValue": false,
						"type": "bool"
					},
					"LakehouseName": {
						"defaultValue": "<<LakeHouseNameHere>>",
						"type": "string"
					},
					"SitesFilter": {
						"type": "string"
					},
					"SitesTableName": {
						"defaultValue": "Sites",
						"type": "string"
					},
					"StagingSuffix": {
						"defaultValue": "_Staging",
						"type": "string"
					},
					"StartTime": {
						"type": "string"
					}
				},
				"variables": {
					"EndTime": {
						"type": "String"
					},
					"FilesDataExists": {
						"defaultValue": false,
						"type": "Boolean"
					},
					"FilesExtractValidationsFailed": {
						"defaultValue": "false",
						"type": "String"
					},
					"PipelineFinalStatus": {
						"type": "String"
					},
					"SiteExtractValidationsFailed": {
						"defaultValue": "false",
						"type": "String"
					},
					"SitesDataExists": {
						"defaultValue": false,
						"type": "Boolean"
					},
					"StartTimeForFiles": {
						"type": "String"
					},
					"StartTimeForSites": {
						"type": "String"
					}
				}
			},
			"type": "pipelines"
		}
	],
	"variables": {}
}