templates/Unlock organizational network insights using Microsoft 365 datasets/ONA.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"ona-synapse"},"Microsoft365":{"type":"string"},"MGDCSink":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/ONA')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"If GetUserData is true","type":"IfCondition","dependsOn":[{"activity":"Set User FolderName","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.GetUserData","type":"Expression"},"ifTrueActivities":[{"name":"Copy User","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"Office365Source","outputColumns":[{"name":"aboutMe"},{"name":"accountEnabled"},{"name":"ageGroup"},{"name":"assignedLicenses"},{"name":"assignedPlans"},{"name":"birthday"},{"name":"businessPhones"},{"name":"city"},{"name":"companyName"},{"name":"consentProvidedForMinor"},{"name":"country"},{"name":"createdDateTime"},{"name":"department"},{"name":"displayName"},{"name":"givenName"},{"name":"hireDate"},{"name":"id"},{"name":"imAddresses"},{"name":"interests"},{"name":"jobTitle"},{"name":"legalAgeGroupClassification"},{"name":"mail"},{"name":"mailNickname"},{"name":"mobilePhone"},{"name":"mySite"},{"name":"officeLocation"},{"name":"onPremisesImmutableId"},{"name":"onPremisesLastSyncDateTime"},{"name":"onPremisesSecurityIdentifier"},{"name":"onPremisesSyncEnabled"},{"name":"passwordPolicies"},{"name":"pastProjects"},{"name":"postalCode"},{"name":"preferredLanguage"},{"name":"preferredName"},{"name":"provisionedPlans"},{"name":"proxyAddresses"},{"name":"responsibilities"},{"name":"schools"},{"name":"skills"},{"name":"state"},{"name":"streetAddress"},{"name":"surname"},{"name":"usageLocation"},{"name":"userPrincipalName"},{"name":"userType"}]},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Microsoft365UserTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"UserSink","type":"DatasetReference","parameters":{"FolderName":{"value":"@variables('UserFolderName')","type":"Expression"}}}]}]}},{"name":"If GetEmailData is true","type":"IfCondition","dependsOn":[{"activity":"Set Email FolderName","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.GetEmailData","type":"Expression"},"ifTrueActivities":[{"name":"Copy Email","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"Office365Source","dateFilterColumn":"sentDateTime","startTime":{"value":"@formatDateTime(pipeline().parameters.StartDate)","type":"Expression"},"endTime":{"value":"@formatDateTime(pipeline().parameters.EndDate)","type":"Expression"},"outputColumns":[{"name":"receivedDateTime"},{"name":"sentDateTime"},{"name":"hasAttachments"},{"name":"internetMessageId"},{"name":"importance"},{"name":"parentFolderId"},{"name":"sender"},{"name":"from"},{"name":"toRecipients"},{"name":"ccRecipients"},{"name":"bccRecipients"},{"name":"replyTo"},{"name":"conversationId"},{"name":"uniqueBody"},{"name":"isDeliveryReceiptRequested"},{"name":"isReadReceiptRequested"},{"name":"isRead"},{"name":"isDraft"},{"name":"webLink"},{"name":"createdDateTime"},{"name":"lastModifiedDateTime"},{"name":"changeKey"},{"name":"categories"},{"name":"id"},{"name":"inferenceClassification"},{"name":"flag"},{"name":"internetMessageHeaders"},{"name":"conversationIndex"}]},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Microsoft365EmailTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"EmailSink","type":"DatasetReference","parameters":{"FolderName":{"value":"@variables('EmailFolderName')","type":"Expression"}}}]}]}},{"name":"If GetTeamsChatData is true","type":"IfCondition","dependsOn":[{"activity":"Set TeamsChat FolderName","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.GetTeamsChatData","type":"Expression"},"ifTrueActivities":[{"name":"Copy TeamsChat","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"Office365Source","dateFilterColumn":"SentDateTime","startTime":{"value":"@formatDateTime(pipeline().parameters.StartDate)","type":"Expression"},"endTime":{"value":"@formatDateTime(pipeline().parameters.EndDate)","type":"Expression"},"outputColumns":[{"name":"Id"},{"name":"CreatedDateTime"},{"name":"LastModifiedDateTime"},{"name":"ChangeKey"},{"name":"Categories"},{"name":"ReceivedDateTime"},{"name":"SentDateTime"},{"name":"HasAttachments"},{"name":"InternetMessageId"},{"name":"Importance"},{"name":"ParentFolderId"},{"name":"ConversationId"},{"name":"ConversationIndex"},{"name":"IsRead"},{"name":"IsDraft"},{"name":"Sender"},{"name":"From"},{"name":"ToRecipients"},{"name":"ReplyTo"},{"name":"Flag"}]},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Microsoft365TeamsChatTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"TeamsChatSink","type":"DatasetReference","parameters":{"FolderName":{"value":"@variables('TeamsChatFolderName')","type":"Expression"}}}]}]}},{"name":"If GetCalendarData is true","type":"IfCondition","dependsOn":[{"activity":"Set Calendar FileName","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.GetCalendarData","type":"Expression"},"ifTrueActivities":[{"name":"Copy Calendar","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"Office365Source","startTime":{"value":"@formatDateTime(pipeline().parameters.StartDate)","type":"Expression"},"endTime":{"value":"@formatDateTime(pipeline().parameters.EndDate)","type":"Expression"},"outputColumns":[{"name":"id"},{"name":"allowNewTimeProposals"},{"name":"createdDateTime"},{"name":"lastModifiedDateTime"},{"name":"changeKey"},{"name":"categories"},{"name":"originalStartTimeZone"},{"name":"originalEndTimeZone"},{"name":"responseStatus"},{"name":"iCalUId"},{"name":"isOnlineMeeting"},{"name":"reminderMinutesBeforeStart"},{"name":"isReminderOn"},{"name":"hasAttachments"},{"name":"importance"},{"name":"sensitivity"},{"name":"start"},{"name":"end"},{"name":"location"},{"name":"isAllDay"},{"name":"isCancelled"},{"name":"isOrganizer"},{"name":"onlineMeeting"},{"name":"onlineMeetingProvider"},{"name":"recurrence"},{"name":"responseRequested"},{"name":"showAs"},{"name":"transactionId"},{"name":"type"},{"name":"attendees"},{"name":"organizer"},{"name":"webLink"},{"name":"locations"},{"name":"onlineMeetingUrl"},{"name":"seriesMasterId"},{"name":"originalStart"}]},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"Microsoft365CalendarTable","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CalendarSink","type":"DatasetReference","parameters":{"FolderName":{"value":"@variables('CalendarFolderName')","type":"Expression"}}}]}]}},{"name":"Run ONA Notebook","type":"SynapseNotebook","dependsOn":[{"activity":"Convert StorageUrl to Abfss Path","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"ONA","type":"NotebookReference"},"parameters":{"calendarPath":{"value":{"value":"@concat(variables('StorageAbfssPath'), variables('CalendarFolderName'))","type":"Expression"},"type":"string"},"emailPath":{"value":{"value":"@concat(variables('StorageAbfssPath'), variables('EmailFolderName'))\n","type":"Expression"},"type":"string"},"teamsChatPath":{"value":{"value":"@concat(variables('StorageAbfssPath'), variables('TeamsChatFolderName'))","type":"Expression"},"type":"string"},"userPath":{"value":{"value":"@concat(variables('StorageAbfssPath'), variables('UserFolderName'))","type":"Expression"},"type":"string"},"usersOutputPath":{"value":{"value":"@concat(replace(variables('StorageAbfssPath'),'mgdc@','output@'),'users_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate, '.csv')","type":"Expression"},"type":"string"},"interactionsOutputPath":{"value":{"value":"@concat(replace(variables('StorageAbfssPath'),'mgdc@','output@'),'interactions_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate, '.csv')","type":"Expression"},"type":"string"},"period":{"value":{"value":"@concat(pipeline().parameters.StartDate, ' to ', pipeline().parameters.EndDate)","type":"Expression"},"type":"string"}},"snapshot":true,"sparkPool":{"referenceName":"onasynapsepool","type":"BigDataPoolReference"},"executorSize":null,"conf":{"spark.dynamicAllocation.enabled":null,"spark.dynamicAllocation.minExecutors":null,"spark.dynamicAllocation.maxExecutors":null},"driverSize":null,"numExecutors":null}},{"name":"Set User FolderName","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"UserFolderName","value":{"value":"@concat('user_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate)","type":"Expression"}}},{"name":"Set Email FolderName","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"EmailFolderName","value":{"value":"@concat('email_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate)","type":"Expression"}}},{"name":"Set TeamsChat FolderName","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"TeamsChatFolderName","value":{"value":"@concat('teamschat_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate)","type":"Expression"}}},{"name":"Set Calendar FileName","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"CalendarFolderName","value":{"value":"@concat('calendar_', pipeline().parameters.StartDate, '_to_', pipeline().parameters.EndDate)","type":"Expression"}}},{"name":"Convert StorageUrl to Abfss Path","type":"SetVariable","dependsOn":[{"activity":"If GetCalendarData is true","dependencyConditions":["Succeeded"]},{"activity":"If GetTeamsChatData is true","dependencyConditions":["Succeeded"]},{"activity":"If GetEmailData is true","dependencyConditions":["Succeeded"]},{"activity":"If GetUserData is true","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"StorageAbfssPath","value":{"value":"@concat(replace(replace(trim(pipeline().parameters.StorageUrl), 'https://', 'abfss://mgdc@'),'dfs.core.windows.net/','dfs.core.windows.net'),'/')\n","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"StartDate":{"type":"string"},"EndDate":{"type":"string"},"StorageUrl":{"type":"string","defaultValue":"https://<your-storage-account>.dfs.core.windows.net/"},"GetUserData":{"type":"bool","defaultValue":true},"GetEmailData":{"type":"bool","defaultValue":true},"GetCalendarData":{"type":"bool","defaultValue":true},"GetTeamsChatData":{"type":"bool","defaultValue":true}},"variables":{"CalendarFolderName":{"type":"String"},"EmailFolderName":{"type":"String"},"TeamsChatFolderName":{"type":"String"},"UserFolderName":{"type":"String"},"StorageAbfssPath":{"type":"String"}},"annotations":[],"lastPublishTime":"2022-11-09T20:05:42Z"},"dependsOn":["[concat(variables('workspaceId'), '/notebooks/ONA')]","[concat(variables('workspaceId'), '/bigDataPools/onasynapsepool')]","[concat(variables('workspaceId'), '/datasets/Microsoft365UserTable')]","[concat(variables('workspaceId'), '/datasets/UserSink')]","[concat(variables('workspaceId'), '/datasets/Microsoft365EmailTable')]","[concat(variables('workspaceId'), '/datasets/EmailSink')]","[concat(variables('workspaceId'), '/datasets/Microsoft365TeamsChatTable')]","[concat(variables('workspaceId'), '/datasets/TeamsChatSink')]","[concat(variables('workspaceId'), '/datasets/Microsoft365CalendarTable')]","[concat(variables('workspaceId'), '/datasets/CalendarSink')]"]},{"name":"[concat(parameters('workspaceName'), '/ONA')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"onasynapsepool","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"56g","driverCores":8,"executorMemory":"56g","executorCores":8,"numExecutors":3,"runAsWorkspaceSystemIdentity":false,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"3","spark.dynamicAllocation.maxExecutors":"3","spark.autotune.trackingId":"a6d1072d-a80b-4672-85da-3ccc76aba311"}},"metadata":{"saveOutput":true,"synapse_widget":{"version":"0.1","state":{"50f43b7b-0023-4758-a2bd-73b732cbd86d":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":"#microsoft.graph.event","1":"true","2":[{"emailAddress":{"address":"GradyA@M365x413676.OnMicrosoft.com","name":"Grady Archie"},"status":{"response":"microsoft.graph.responseType'none'","time":"0001-01-01T00:00:00Z"},"type":"microsoft.graph.attendeeType'required'"},{"emailAddress":{"address":"IsaiahL@M365x413676.OnMicrosoft.com","name":"Isaiah Langer"},"status":{"response":"microsoft.graph.responseType'none'","time":"0001-01-01T00:00:00Z"},"type":"microsoft.graph.attendeeType'optional'"},{"emailAddress":{"address":"LeeG@M365x413676.OnMicrosoft.com","name":"Lee Gu"},"status":{"response":"microsoft.graph.responseType'none'","time":"0001-01-01T00:00:00Z"},"type":"microsoft.graph.attendeeType'optional'"}],"3":[],"4":"rjMyj16tlU2AJL0XXV163QAAq3EQLw==","5":"2022-01-20T15:31:08Z","6":"834","7":{"dateTime":"2022-07-07T10:57:00.0000000","timeZone":"UTC"},"8":"false","9":"040000008200E00074C5B7101A82E00807E60707D6D6ECBD120ED8010000000000000000100000000D9AA9611DC97940B2024A2E1B563089","10":"AAMkAGI2ZGEzNWMzLTFhOGItNGY2Mi05OTg3LWExMjg4NmUxM2E2NQFRAAgI2l_rorKAAEYAAAAAIePTaFQnTEiTg7qKqmp00wcArjMyj16tlU2AJL0XXV163QAAAAABDQAArjMyj16tlU2AJL0XXV163QAAq66e3AAAEA==","11":"normal","12":"false","13":"false","14":"false","15":"false","16":"true","17":"2022-01-20T15:33:09Z","18":{"displayName":"","locationType":"microsoft.graph.locationType'default'","uniqueIdType":"microsoft.graph.locationUniqueIdType'unknown'"},"19":[],"21":"unknown","23":{"emailAddress":{"address":"GradyA@M365x413676.OnMicrosoft.com","name":"Grady Archie"}},"24":"Eastern Standard Time","25":"2022-07-07T09:00:00Z","26":"Eastern Standard Time","28":"34","29":"82100b66-ace5-4bd1-a137-f11432b93451","30":"5894557b-a010-497c-b6c2-21d879b90c7e","32":"15","33":"true","34":{"response":"microsoft.graph.responseType'notResponded'","time":"0001-01-01T00:00:00Z"},"35":{"isUserSummaryRow":false,"userHasCompleteData":false,"userReturnedNoData":false},"36":"normal","37":"AAMkAGI2ZGEzNWMzLTFhOGItNGY2Mi05OTg3LWExMjg4NmUxM2E2NQBGAAAAAAAh49NoVCdMSJODuoqqanTTBwCuMzKPXq2VTYAkvRddXXrdAAAAAAENAACuMzKPXq2VTYAkvRddXXrdAACrrp7cAAA=","38":"tentative","39":{"dateTime":"2022-07-07T09:00:00.0000000","timeZone":"UTC"},"41":"occurrence","42":"834","43":"https://outlook.office365.com/owa/?itemid=AAMkAGI2ZGEzNWMzLTFhOGItNGY2Mi05OTg3LWExMjg4NmUxM2E2NQFRAAgI2l%2BrorKAAEYAAAAAIePTaFQnTEiTg7qKqmp00wcArjMyj16tlU2AJL0XXV163QAAAAABDQAArjMyj16tlU2AJL0XXV163QAAq66e3AAAEA%3D%3D&exvsurl=1&path=/calendar/item"}],"schema":[{"key":"0","name":"ODataType","type":"string"},{"key":"1","name":"allowNewTimeProposals","type":"boolean"},{"key":"2","name":"attendees","type":"ArrayType(StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true), StructField(status,StructType(StructField(response,StringType,true), StructField(time,StringType,true)),true), StructField(type,StringType,true)),true)"},{"key":"3","name":"categories","type":"ArrayType(StringType,true)"},{"key":"4","name":"changeKey","type":"string"},{"key":"5","name":"createdDateTime","type":"string"},{"key":"6","name":"datarow","type":"bigint"},{"key":"7","name":"end","type":"StructType(StructField(dateTime,StringType,true), StructField(timeZone,StringType,true))"},{"key":"8","name":"hasAttachments","type":"boolean"},{"key":"9","name":"iCalUId","type":"string"},{"key":"10","name":"id","type":"string"},{"key":"11","name":"importance","type":"string"},{"key":"12","name":"isAllDay","type":"boolean"},{"key":"13","name":"isCancelled","type":"boolean"},{"key":"14","name":"isOnlineMeeting","type":"boolean"},{"key":"15","name":"isOrganizer","type":"boolean"},{"key":"16","name":"isReminderOn","type":"boolean"},{"key":"17","name":"lastModifiedDateTime","type":"string"},{"key":"18","name":"location","type":"StructType(StructField(displayName,StringType,true), StructField(locationType,StringType,true), StructField(uniqueId,StringType,true), StructField(uniqueIdType,StringType,true))"},{"key":"19","name":"locations","type":"ArrayType(StructType(StructField(displayName,StringType,true), StructField(locationType,StringType,true), StructField(uniqueId,StringType,true), StructField(uniqueIdType,StringType,true)),true)"},{"key":"20","name":"onlineMeeting","type":"StructType(StructField(conferenceId,StringType,true), StructField(joinUrl,StringType,true), StructField(tollNumber,StringType,true))"},{"key":"21","name":"onlineMeetingProvider","type":"string"},{"key":"22","name":"onlineMeetingUrl","type":"string"},{"key":"23","name":"organizer","type":"StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true))"},{"key":"24","name":"originalEndTimeZone","type":"string"},{"key":"25","name":"originalStart","type":"string"},{"key":"26","name":"originalStartTimeZone","type":"string"},{"key":"27","name":"pAdditionalInfo","type":"string"},{"key":"28","name":"pagerow","type":"bigint"},{"key":"29","name":"ptenant","type":"string"},{"key":"30","name":"puser","type":"string"},{"key":"31","name":"recurrence","type":"string"},{"key":"32","name":"reminderMinutesBeforeStart","type":"bigint"},{"key":"33","name":"responseRequested","type":"boolean"},{"key":"34","name":"responseStatus","type":"StructType(StructField(response,StringType,true), StructField(time,StringType,true))"},{"key":"35","name":"rowinformation","type":"StructType(StructField(errorInformation,StringType,true), StructField(isUserSummaryRow,BooleanType,true), StructField(userHasCompleteData,BooleanType,true), StructField(userReturnedNoData,BooleanType,true))"},{"key":"36","name":"sensitivity","type":"string"},{"key":"37","name":"seriesMasterId","type":"string"},{"key":"38","name":"showAs","type":"string"},{"key":"39","name":"start","type":"StructType(StructField(dateTime,StringType,true), StructField(timeZone,StringType,true))"},{"key":"40","name":"transactionId","type":"string"},{"key":"41","name":"type","type":"string"},{"key":"42","name":"userrow","type":"bigint"},{"key":"43","name":"webLink","type":"string"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["0"],"seriesFieldKeys":["6"],"isStacked":false}}}},"39df6658-9f9b-48cc-988e-1f4da983861f":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":"#microsoft.graph.message","1":[],"2":[],"3":[],"4":[{"emailAddress":{"address":"contosorequestapprovers@M365x413676.onmicrosoft.com","name":"ContosoRequestApprovers"}}],"5":"CQAAABYAAAAawEeZcJorSK4cK8FciFOuAAEh1Qea","6":"AAQkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNAAQAIahZtj3TH1CmrNyacdWMb0=","7":"AQHY3mH0hqFm2PdMfUKas3Jpx1YxvQ==","8":"2022-10-12T17:42:18Z","9":"669","10":{"flagStatus":"microsoft.graph.followupFlagStatus'notFlagged'"},"11":{"emailAddress":{"address":"SystemMailbox{bb558c35-97f1-4cb9-8ff7-d53741dc928c}@M365x413676.onmicrosoft.com","name":"Microsoft Exchange"}},"12":"false","13":"AAMkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNABGAAAAAADaqT4-UV99Sbs1oebh3afuBwAawEeZcJorSK4cK8FciFOuAAAAAAEMAAAawEeZcJorSK4cK8FciFOuAAEiIhjTAAA=","14":"normal","15":"focused","16":[{"name":"Received","value":"from BLAPR03MB5571.namprd03.prod.outlook.com (2603:10b6:208:298::17) by DM6PR03MB5289.namprd03.prod.outlook.com with HTTPS; Wed, 12 Oct 2022 17:42:17 +0000"},{"name":"Received","value":"from PH0PR03MB5911.namprd03.prod.outlook.com (2603:10b6:510:37::11) by BLAPR03MB5571.namprd03.prod.outlook.com (2603:10b6:208:298::17) with Microsoft SMTP Server (version=TLS1_2, cipher=TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384) id 15.20.5709.15; Wed, 12 Oct 2022 17:42:11 +0000"},{"name":"Received","value":"from PH0PR03MB5911.namprd03.prod.outlook.com ([fe80::bfd5:98f4:1d13:c329]) by PH0PR03MB5911.namprd03.prod.outlook.com ([fe80::bfd5:98f4:1d13:c329%3]) with mapi id 15.20.5723.020; Wed, 12 Oct 2022 17:42:11 +0000"},{"name":"Authentication-Results","value":"dkim=none (message not signed) header.d=none;dmarc=none action=none header.from=M365x413676.onmicrosoft.com;"},{"name":"Content-Type","value":"application/ms-tnef"},{"name":"Content-Transfer-Encoding","value":"binary"},{"name":"From","value":"\"Microsoft Exchange\" <SystemMailbox{bb558c35-97f1-4cb9-8ff7-d53741dc928c}@M365x413676.onmicrosoft.com>"},{"name":"To","value":"\"Ege Onelcin\" <ege.onelcin@m365x413676.onmicrosoft.com>"},{"name":"CC","value":"\"ContosoRequestApprovers\" <contosorequestapprovers@M365x413676.onmicrosoft.com>"},{"name":"Subject","value":"Your Privileged Access request is approved"},{"name":"Thread-Topic","value":"Your Privileged Access request is approved"},{"name":"Thread-Index","value":"AQHY3mH0hqFm2PdMfUKas3Jpx1YxvQ=="},{"name":"Date","value":"Wed, 12 Oct 2022 17:42:11 +0000"},{"name":"Message-ID","value":"<PH0PR03MB5911DEB6578C7A062D1442D0B5229@PH0PR03MB5911.namprd03.prod.outlook.com>"},{"name":"Accept-Language","value":"en-US"},{"name":"Content-Language","value":"en-US"},{"name":"X-MS-Exchange-Organization-SCL","value":"-1"},{"name":"X-MS-TNEF-Correlator","value":"<PH0PR03MB5911DEB6578C7A062D1442D0B5229@PH0PR03MB5911.namprd03.prod.outlook.com>"},{"name":"MIME-Version","value":"1.0"},{"name":"X-MS-Exchange-Organization-MessageDirectionality","value":"Originating"},{"name":"X-MS-Exchange-Organization-AuthSource","value":"PH0PR03MB5911.namprd03.prod.outlook.com"},{"name":"X-MS-Exchange-Organization-AuthAs","value":"Internal"},{"name":"X-MS-Exchange-Organization-AuthMechanism","value":"04"},{"name":"X-MS-Exchange-Organization-Network-Message-Id","value":"540ec092-510f-4589-bde8-08daac791777"},{"name":"X-MS-PublicTrafficType","value":"Email"},{"name":"X-MS-TrafficTypeDiagnostic","value":"PH0PR03MB5911:EE_|BLAPR03MB5571:EE_"},{"name":"Return-Path","value":"SystemMailbox{bb558c35-97f1-4cb9-8ff7-d53741dc928c}@M365x413676.onmicrosoft.com"},{"name":"X-MS-Exchange-Organization-ExpirationStartTime","value":"12 Oct 2022 17:42:11.4887 (UTC)"},{"name":"X-MS-Exchange-Organization-ExpirationStartTimeReason","value":"OriginalSubmit"},{"name":"X-MS-Exchange-Organization-ExpirationInterval","value":"1:00:00:00.0000000"},{"name":"X-MS-Exchange-Organization-ExpirationIntervalReason","value":"OriginalSubmit"},{"name":"X-MS-Office365-Filtering-Correlation-Id","value":"540ec092-510f-4589-bde8-08daac791777"},{"name":"X-LD-Processed","value":"82100b66-ace5-4bd1-a137-f11432b93451,ExtAddr"},{"name":"X-Microsoft-Antispam","value":"BCL:0;"},{"name":"X-Forefront-Antispam-Report","value":"CIP:255.255.255.255;CTRY:;LANG:en;SCL:-1;SRV:;IPV:NLI;SFV:SKI;H:PH0PR03MB5911.namprd03.prod.outlook.com;PTR:;CAT:NONE;SFS:;DIR:INB;"},{"name":"X-Auto-Response-Suppress","value":"DR, OOF, AutoReply"},{"name":"X-MS-Exchange-CrossTenant-OriginalArrivalTime","value":"12 Oct 2022 17:42:11.0933 (UTC)"},{"name":"X-MS-Exchange-CrossTenant-FromEntityHeader","value":"Hosted"},{"name":"X-MS-Exchange-CrossTenant-Id","value":"82100b66-ace5-4bd1-a137-f11432b93451"},{"name":"X-MS-Exchange-CrossTenant-AuthSource","value":"PH0PR03MB5911.namprd03.prod.outlook.com"},{"name":"X-MS-Exchange-CrossTenant-AuthAs","value":"Internal"},{"name":"X-MS-Exchange-CrossTenant-Network-Message-Id","value":"540ec092-510f-4589-bde8-08daac791777"},{"name":"X-MS-Exchange-CrossTenant-MailboxType","value":"HOSTED"},{"name":"X-MS-Exchange-CrossTenant-UserPrincipalName","value":"wI6cr4jcNOH9Om0mxR80XZh8GK18GgWExyXxoCPR2rxKksyv0PLfxynsd1UPpCbvauZtaVv58WXgi1GiNyh2oKqpaOaqwEgGsWtVmT1AOfFqcMEysOl2lG3wI6g0Gcsx8+x8x2j2KhkeMqkrOmFcGGgXNreFxpxvfiAXqyurVP7fe7+wAHUePzZI2PXC7KoDR7r79kOAuF5e6QlSbKx9lnf1j1t5zTWRDkew7J9A9g8="},{"name":"X-MS-Exchange-Transport-CrossTenantHeadersStamped","value":"BLAPR03MB5571"},{"name":"X-MS-Exchange-Transport-EndToEndLatency","value":"00:00:06.8045772"},{"name":"X-MS-Exchange-Processed-By-BccFoldering","value":"15.20.5709.022"},{"name":"X-Microsoft-Antispam-Mailbox-Delivery","value":"ucf:0;jmr:0;auth:0;dest:I;ENG:(910001)(944506478)(944626604)(920097)(425001)(930097);"},{"name":"X-Microsoft-Antispam-Message-Info","value":"0u9PfKIwqP8VNVDr304lnkqDXqnyZBuEezt/qn8dKVce19z3dt2x9Z/RXQWE0FuGM+vrSJn8JWpwJ4dd8/r1zz1NiKWvgqaS127tB6uPsdzjHe3fuwHb9Qox9vmPQEXLRAAyvROrf/0MuMXBpyxXAAnJSfnOT4YwCihOLRCq1iKDeQeanm0tCCnv5hw0iajnnIP0riQE9FPBHPECZijpI1a7yHV6DVGkzQRN8FfiVlnhcDa/xxCF9gSmhK7kJy/SWomXXWT4NAYCIWGG+EmYY6eKDCn/LTA72CQz4KW6CpZWwnLCiwPNr50TUAnjxoui3Yl5ZRJHgl69qHyDhtnG4Nc9ZfB5/2puIOTsy9NEqsZvywmLDQmIEZ5u4QH/LxlMHpCRBOBVwmTmQScLASVPwoaJTm1jHFa3kfo3ATfv0ATUDvICqFrZv1nPVV0cGWo4K8kGeZ9S+mwFW3Nc9BuV6Hm3yz5MPalB0wXKYemHsc0OiMkVl/HrZZLIZko9jxCZmCpcue4+ZH3WDnF/K55XXkVctky+77cfZjr0djyUNBxDIod5KRPEMSD4lTjE5Uw0irr2LAnZMXUWwXS8U63kUGCDjgwsSeMKzXSgA8iHwq5+ZQvn+TXwvAHnBosvCgWma+JZ0Z9seyJL828+1qLFGxK2xUCqqIoZaoweruDM839JuQFJp5PKE3yrms9D48bQ1ju0NkBztv5Or+YFYewX7bvMlsoTN1qeNabr4mjsB+bfdiA8pUQBcZ00s9i2hFPIt5Qio+1UavnkVbdrMlPBhs4VIwfj2aHbz2iamRPBt0KoBhDThl9ZpWrP3nmkH4JEc2lnWRtUvdL15CG30SaLNpffNHbDRKi3FJpzhFrrXYM="}],"17":"<PH0PR03MB5911DEB6578C7A062D1442D0B5229@PH0PR03MB5911.namprd03.prod.outlook.com>","19":"false","20":"false","21":"false","22":"2022-10-12T17:42:19Z","24":"19","25":"82100b66-ace5-4bd1-a137-f11432b93451","26":"5c03d404-6642-44e4-856c-71d5b18439e8","27":"2022-10-12T17:42:18Z","28":[],"29":{"isUserSummaryRow":false,"userHasCompleteData":false,"userReturnedNoData":false},"30":{"emailAddress":{"address":"SystemMailbox{bb558c35-97f1-4cb9-8ff7-d53741dc928c}@M365x413676.onmicrosoft.com","name":"Microsoft Exchange"}},"31":"2022-10-12T17:42:11Z","32":[{"emailAddress":{"address":"ege.onelcin@m365x413676.onmicrosoft.com","name":"Ege Onelcin"}}],"33":{"content":"<html><body><div>\r\n<div style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;background-color:#F1F1F1;width:100%;margin:0;padding:0;\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" id=\"x_backgroundTable\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;margin:0;padding:0;line-height:100%!important;\">\r\n<tr>\r\n<td width=\"100%\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;max-width:600px;\">\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td valign=\"top\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td valign=\"top\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;\">\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-size:16px;width:100%;border-collapse:collapse;\">\r\n<tr>\r\n<td style=\"color:#AAAAAA;font-size:9px;\">Office 365 Privileged Access Management Notification </td></tr></table></td>\r\n<td style=\"width:16px;\"></td></tr></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td valign=\"top\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td valign=\"top\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#00CCF2;width:100%;border-collapse:collapse;\"></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#00CCF2;width:100%;border-collapse:collapse;\">\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td>\r\n<h1 style=\"font-size:28px;font-weight:100;line-height:32px;\">Your request is approved.</h1>\r\n<h4 style=\"font-size:14px;font-weight:400;line-height:16px;\">Privileged Access Management</h4></td>\r\n<td style=\"width:16px;\"></td></tr></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#00CCF2;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;\"></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;\">\r\n<tr>\r\n<td style=\"width:64px;\"></td>\r\n<td style=\"height:8px;\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:100%;border-collapse:collapse;border:1px solid #F1F1F1;\">\r\n<tr>\r\n<td colspan=\"3\" style=\"height:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:100%;border-collapse:collapse;line-height:18px;\">\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Request Id </td>\r\n<td style=\"vertical-align:top;\">01dc6eca-860b-40e7-a8c6-78ae9a46ac47</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Requested By </td>\r\n<td style=\"vertical-align:top;\">Ege Onelcin (ege.onelcin@m365x413676.onmicrosoft.com)</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Access level </td>\r\n<td style=\"vertical-align:top;\">Task:Data Access Request</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Duration </td>\r\n<td style=\"vertical-align:top;\">4320 hours</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Reason </td>\r\n<td style=\"vertical-align:top;\">An app installed for your organization requires approval for access to Office 365 Data.</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Approved by </td>\r\n<td style=\"vertical-align:top;\">Nikolas Charlebois (admin@M365x413676.onmicrosoft.com)</td></tr>\r\n<tr>\r\n<td colspan=\"2\" style=\"height:8px;\"></td></tr>\r\n<tr>\r\n<td style=\"font-weight:600;vertical-align:top;width:50%;\">Valid until </td>\r\n<td style=\"vertical-align:top;\">04/10/2023 17:42:11</td></tr></table></td>\r\n<td style=\"width:16px;\"></td></tr></table></td>\r\n<td style=\"width:64px;\"></td></tr></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;\"></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;line-height:18px;\">\r\n<tr>\r\n<td style=\"width:64px;\"></td>\r\n<td>Your request for privileged access is approved and will be valid until the specified time. No further action is required. </td>\r\n<td style=\"width:64px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td style=\"height:16px;\"></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:64px;\"></td>\r\n<td>To avoid risk of phishing, the Office 365 PAM emails do not include any hyperlinks that require you to sign in to Office 365. </td>\r\n<td style=\"width:64px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td style=\"height:16px;\"></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:64px;\"></td>\r\n<td>If you believe you have received this email in error, please report it to your designated administrator. </td>\r\n<td style=\"width:64px;\"></td></tr></table><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:white;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td valign=\"top\"><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#F1F1F1;width:100%;border-collapse:collapse;\"></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><table align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"color:#999999;font-size:11px;width:100%;border-collapse:collapse;line-height:14px;\">\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td>This email was sent through Office 365 Privileged Access Management, on behalf of your organization. </td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><a href=\"https://www.microsoft.com/privacy\" data-auth=\"NotApplicable\" style=\"color:orange;\">Privacy Statement </a></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td style=\"height:16px;\"></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td>Microsoft Corporation, One Microsoft Way, Redmond, WA 98052 USA </td>\r\n<td style=\"width:16px;\"></td></tr></table></td>\r\n<td style=\"width:16px;\"></td></tr>\r\n<tr>\r\n<td style=\"width:16px;\"></td>\r\n<td><img data-imagetype=\"DataUri\" src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAAAtCAYAAAC6adWJAAABgmlDQ1BzUkdCIElFQzYxOTY2LTIuMQAAKJF1kb9LQlEUxz+pYaRhUEODg4Q1afQDpJYGpSyoBjPIatGXPwK1x3tGSGvQKhRELf0a6i+oNWgOgqIIoqGpuail5HWeCkbkuZx7Pvd77zncey5Yolklp9v6IZcvaJFw0DMfW/DYX7DhoAM3vriiq9Oz41Ea2uc9TWa89Zu1Gp/71xzLSV2BphbhUUXVCsITwlPrBdXkHeFOJRNfFj4T9mlyQeE7U09U+dXkdJW/TdaikRBY2oU96V+c+MVKRssJy8vx5rJrSu0+5kucyfzcrMRucTc6EcIE8TDJGCECDDAicwA/g/TJigb5/ZX8GVYlV5FZpYjGCmkyFPCJuibVkxJToidlZCma/f/bVz01NFit7gxC87NhvPeAfRvKJcP4OjKM8jFYn+AyX89fPYThD9FLdc17AK5NOL+qa4lduNiCrkc1rsUrklXckkrB2ym0xaDjBloXqz2r7XPyANEN+apr2NuHXjnvWvoBdB9n7MSb/TwAAAAJcEhZcwAACxMAAAsTAQCanBgAAAYtSURBVHic7Zh9jFxVGcaf5713RmZ3aVIqi9aP+JFgizTRWGyDiaZS2hVQwIBREdHU7GZptt07Q6gmJlVawSrO7LQbSWooLI0hJhSREK0EjBioJEWKWBFotYFQdAtttx+7Wzr3vo9/zLSpZLaG2VU2zfkl95/7nPOc95x35p73HCAQCAQCgUAgEAgEAoFAIBAIBALTB7bacWTJe9uiQv4DzbQMGK30/OOIx3hXM92F/T9YiuFWxz5TiVvtGBXyF4p4sJlGaVsa4dcxsLapTtwB4Putjn2m0nIyAOQAnDeBdg6AttPoZ09i3GlBqVSipLOyLEur1WptKjwnk4wpJUmSeSRjSbsrlcqRU7X+/v73mFmnpH3u/qqZfVLS/rGxsb9v3LhR/+9Y+/r6OiRdTfLjURQ9WiwWt5bL5WyyvjYVwU0FJNeTvAvAFW/WzGwNybtIfiVN0zaSd5pZT6FQKLwNoSKO42tJ3iHp/QAiAPNKpdIlk/adfGhTxgUAOkkuA3DviZdJkswheZ2kHIDZcRxnANYBeJnksbcjUJKXAjgLwHIzo6QtAPYCeHQyvtMpGZmkXQA+kSTJ+ZVK5cXe3l6S7JZ0FMA+ACApd6eZpVEUqVgsFtz9YpKXmBmyLNtiZq8DWCLpCUldZra9VqvtjON4MYCLABwBsJXkjizLZGZzAFxFcpakhyuVytb+/v4OkgtJLpIkd3+Y5J/N7GMA5qBeiV7r7gWSH5Z0dpIk10v63cDAwN5WFqDlZAh4A9BLE8j/Qn3CL/1nl5Ol9MGmntJjJBeQLAHoyefz7wNwhaTNJBeeaGdmt5G8b3R09Om2trbVZraM5A4A42ZGko8DWA/gWTMbcfd8LpfrJrkIwFMAzgXQI6loZs80Po9jJP8J4OLly5dvI7mG5PUAnjSzPMlEUgXAIZKzAZDk51Ffww6SBmAJgL+g/i95y7ScjDUf7dlHYfME8p4uX/W82QQ68adbmr0m90gaN7Mvr1ixYq2ZLUW9KtsEYOGb2xcKhYtIrpR0j7vfImkMwMwoiuY2mjzk7kOSukhe5u5Fd3+Q5Hlmdrek283sGwDOd/d1ZrY+y7KOXC63oPFpHHL328wsD+BnJL/k7jeY2WdIdqVp+q04jmcAeADAHklFSYfe0kKeQsvJ+PHc7neD6G2uats6WxUDE+gOAdjaRMkk3Q2gN47jGwBcCOARAK80syE5H0Be0i8rlcqJX+PBUqk0FwAkbanVanvz+XxHQ3uoWq0e7O7uHmlvb/+rmS1I03Q8iqInzWyVu19O8mYz+wiAAoAHqtXqPgBYuXLlb+M4vtnMZgA4BgAjIyPDnZ2dx9w9BfBGpVJ57XRr9t+YTDUVA5g1wTMD9Q1uIr1tItOBgYGnJT0BYLmkBe6+iWx+USCpBgAkZ/b19REA+vv7o5OTM6vl83mRrAHIN2JCe3t7RLIDQM3dX0zT9Dp3/x6AC0je6u6ddXvNBIAkSWhmswCkksYnCL3l24yT8U7W4H/Ej0i+08xeNrMXTtPuD6hv7L25XO4LSZJ0mVnXqQ3K5bK7+04A+wGsTpJkcWMvmO/uv4jjuBBF0SKS2yVtA/AOSc8CGCa5olgsfo7klSS/Kuk5ks+d6p9l2XFJNUkfSpLk00mSzGp10tMpGbsl7QcASb93963ufl+tVjsAIEO9GBhGvRDYLWn4wIEDO7Msu7HR/3aSPwQwT9KopBckHW/4bZe0FsB8khskJZIecffvkOwkeROAQZKzJW1K0/Q37v5t1G8ZBgDcCmAHgO+Wy+XXJe2V9Pzx48cl6YiknwOYSXI1gA+2ugDTKRnXoHG+cPdxSV8HcOeGDRtqqFdmN0r6KYAagGskDQ4NDWWHDx/+laQvSvosgMsBDAL4I4ClaOw1AwMDRyXdA6AL9YqnS1KpWq2+gnr1czWAKwFcJmlocHBwNMuy+xvvFwO4FMCycrn8VCPW1QAWp2maVioVl7Qe9ZL5aw2/lmj9O7f54KdAPN5c1GM695z7AVSby/gJu3BTy2OfoUzm0DcK4JnmEncBeG1CnXh1EuOesbSeDGEXqG821cijMBxChr811a1+mg4EAoFAIBAIBAKBQCAQCAQCgUBg+vJv+GCuBdiZwhAAAAAASUVORK5CYII=\" alt=\"Microsoft\" title=\"Microsoft\" style=\"text-decoration:none;border-width:0;outline:none;outline:none;clear:both;float:none;\"> </td>\r\n<td style=\"width:16px;\"></td></tr></table></td></tr></table></div></div>\r\n</body></html>","contentType":"microsoft.graph.bodyType'html'"},"34":"669","35":"https://outlook.office365.com/owa/?ItemID=AAMkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNABGAAAAAADaqT4%2FUV99Sbs1oebh3afuBwAawEeZcJorSK4cK8FciFOuAAAAAAEMAAAawEeZcJorSK4cK8FciFOuAAEiIhjTAAA%3D&exvsurl=1&viewmodel=ReadMessageItem"}],"schema":[{"key":"0","name":"ODataType","type":"string"},{"key":"1","name":"attachments","type":"ArrayType(StructType(StructField(ODataType,StringType,true), StructField(contentBytes,StringType,true), StructField(contentId,StringType,true), StructField(contentLocation,StringType,true), StructField(contentType,StringType,true), StructField(id,StringType,true), StructField(isInline,BooleanType,true), StructField(lastModifiedDateTime,StringType,true), StructField(name,StringType,true), StructField(size,LongType,true)),true)"},{"key":"2","name":"bccRecipients","type":"ArrayType(StringType,true)"},{"key":"3","name":"categories","type":"ArrayType(StringType,true)"},{"key":"4","name":"ccRecipients","type":"ArrayType(StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true)),true)"},{"key":"5","name":"changeKey","type":"string"},{"key":"6","name":"conversationId","type":"string"},{"key":"7","name":"conversationIndex","type":"string"},{"key":"8","name":"createdDateTime","type":"string"},{"key":"9","name":"datarow","type":"bigint"},{"key":"10","name":"flag","type":"StructType(StructField(flagStatus,StringType,true))"},{"key":"11","name":"from","type":"StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true))"},{"key":"12","name":"hasAttachments","type":"boolean"},{"key":"13","name":"id","type":"string"},{"key":"14","name":"importance","type":"string"},{"key":"15","name":"inferenceClassification","type":"string"},{"key":"16","name":"internetMessageHeaders","type":"ArrayType(StructType(StructField(name,StringType,true), StructField(value,StringType,true)),true)"},{"key":"17","name":"internetMessageId","type":"string"},{"key":"18","name":"isDeliveryReceiptRequested","type":"boolean"},{"key":"19","name":"isDraft","type":"boolean"},{"key":"20","name":"isRead","type":"boolean"},{"key":"21","name":"isReadReceiptRequested","type":"boolean"},{"key":"22","name":"lastModifiedDateTime","type":"string"},{"key":"23","name":"pAdditionalInfo","type":"string"},{"key":"24","name":"pagerow","type":"bigint"},{"key":"25","name":"ptenant","type":"string"},{"key":"26","name":"puser","type":"string"},{"key":"27","name":"receivedDateTime","type":"string"},{"key":"28","name":"replyTo","type":"ArrayType(StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true)),true)"},{"key":"29","name":"rowinformation","type":"StructType(StructField(errorInformation,StringType,true), StructField(isUserSummaryRow,BooleanType,true), StructField(userHasCompleteData,BooleanType,true), StructField(userReturnedNoData,BooleanType,true))"},{"key":"30","name":"sender","type":"StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true))"},{"key":"31","name":"sentDateTime","type":"string"},{"key":"32","name":"toRecipients","type":"ArrayType(StructType(StructField(emailAddress,StructType(StructField(address,StringType,true), StructField(name,StringType,true)),true)),true)"},{"key":"33","name":"uniqueBody","type":"StructType(StructField(content,StringType,true), StructField(contentType,StringType,true))"},{"key":"34","name":"userrow","type":"bigint"},{"key":"35","name":"webLink","type":"string"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["0"],"seriesFieldKeys":["9"],"isStacked":false}}}},"a1c5357e-959a-4333-a57e-88923a911494":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":[],"1":[],"2":"CQAAABYAAAAawEeZcJorSK4cK8FciFOuAADM6h/s","3":"AAQkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNAAQAE1hK81_bd-zfTvt9SxPqU8=","4":"AQHYepkoTWErzX5t3/N9O+31LE+pTw==","5":"2022-06-07T18:05:24Z","6":{"FlagStatus":"Microsoft.OutlookServices.FollowupFlagStatus'NotFlagged'"},"7":{"EmailAddress":{"Address":"admin@M365x413676.OnMicrosoft.com","Name":"MOD Administrator"}},"8":"false","9":"AAMkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNABGAAAAAADaqT4-UV99Sbs1oebh3afuBwAawEeZcJorSK4cK8FciFOuAAAAAAE5AAAawEeZcJorSK4cK8FciFOuAADNHZQ5AAA=","10":"Normal","11":"1654625122978","12":"false","13":"true","14":"2022-06-07T18:05:25Z","15":"#Microsoft.OutlookServices.Message","16":"AQMkAGE0MGMzYTU5LTc2MjYtNDFhNS1hNTE3LWU2NDBmYzVkMmFiNAAuAAAD2qk_P1FffUm7NaHm4d2n7gEAGsBHmXCaK0iuHCvBXIhTrgAAAgE5AAAA","17":"2022-06-07T18:05:22Z","18":[],"19":{"EmailAddress":{"Address":"admin@M365x413676.OnMicrosoft.com","Name":"MOD Administrator"}},"20":"2022-06-07T18:05:22Z","21":[{"EmailAddress":{"Address":"Nik.Charlebois@M365x413676.onmicrosoft.com","Name":"Nik Charlebois"}},{"EmailAddress":{"Address":"Gladys@m365x413676.onmicrosoft.com","Name":"Gladys Alvarez Jimenez"}},{"EmailAddress":{"Address":"jcrendon@m365x413676.onmicrosoft.com","Name":"Juan Carlos Rendon"}}],"22":"0","24":"0","25":"82100b66-ace5-4bd1-a137-f11432b93451","26":"5c03d404-6642-44e4-856c-71d5b18439e8","27":{"isUserSummaryRow":false,"userHasCompleteData":false,"userReturnedNoData":false},"28":"0"}],"schema":[{"key":"0","name":"Attachments","type":"ArrayType(StructType(StructField(ContentType,StringType,true), StructField(Id,StringType,true), StructField(IsInline,BooleanType,true), StructField(LastModifiedDateTime,StringType,true), StructField(Name,StringType,true), StructField(ODataType,StringType,true), StructField(Size,LongType,true)),true)"},{"key":"1","name":"Categories","type":"ArrayType(StringType,true)"},{"key":"2","name":"ChangeKey","type":"string"},{"key":"3","name":"ConversationId","type":"string"},{"key":"4","name":"ConversationIndex","type":"string"},{"key":"5","name":"CreatedDateTime","type":"string"},{"key":"6","name":"Flag","type":"StructType(StructField(FlagStatus,StringType,true))"},{"key":"7","name":"From","type":"StructType(StructField(EmailAddress,StructType(StructField(Address,StringType,true), StructField(Name,StringType,true)),true))"},{"key":"8","name":"HasAttachments","type":"boolean"},{"key":"9","name":"Id","type":"string"},{"key":"10","name":"Importance","type":"string"},{"key":"11","name":"InternetMessageId","type":"string"},{"key":"12","name":"IsDraft","type":"boolean"},{"key":"13","name":"IsRead","type":"boolean"},{"key":"14","name":"LastModifiedDateTime","type":"string"},{"key":"15","name":"ODataType","type":"string"},{"key":"16","name":"ParentFolderId","type":"string"},{"key":"17","name":"ReceivedDateTime","type":"string"},{"key":"18","name":"ReplyTo","type":"ArrayType(StringType,true)"},{"key":"19","name":"Sender","type":"StructType(StructField(EmailAddress,StructType(StructField(Address,StringType,true), StructField(Name,StringType,true)),true))"},{"key":"20","name":"SentDateTime","type":"string"},{"key":"21","name":"ToRecipients","type":"ArrayType(StructType(StructField(EmailAddress,StructType(StructField(Address,StringType,true), StructField(Name,StringType,true)),true)),true)"},{"key":"22","name":"datarow","type":"bigint"},{"key":"23","name":"pAdditionalInfo","type":"string"},{"key":"24","name":"pagerow","type":"bigint"},{"key":"25","name":"ptenant","type":"string"},{"key":"26","name":"puser","type":"string"},{"key":"27","name":"rowinformation","type":"StructType(StructField(errorInformation,StringType,true), StructField(isUserSummaryRow,BooleanType,true), StructField(userHasCompleteData,BooleanType,true), StructField(userReturnedNoData,BooleanType,true))"},{"key":"28","name":"userrow","type":"bigint"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["2"],"seriesFieldKeys":["22"],"isStacked":false}}}},"e4822bba-9de5-482b-9226-7ac1fdbd0223":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"1":"true","3":[{"disabledPlans":[],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":[],"skuId":"184efa21-98c3-4e5d-95ab-d07053a96e67"}],"4":[{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"6dc145d6-95dd-4191-b9c3-185575ee6f6b"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"RMSOnline","servicePlanId":"5689bec4-755d-4753-8b61-40975025187c"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"33c4f319-9bdd-48d6-9c4d-410b750a4a5a"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftCommunicationsOnline","servicePlanId":"0feaeb32-d00e-4d66-bd5a-43b5b83db82c"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"efb87545-963c-4e0d-99df-69c6916d9eb0"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"b1188c4c-1b36-4018-b48b-ee07604f6feb"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"ProcessSimple","servicePlanId":"07699545-9485-468e-95b6-2fca3738be01"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"TeamspaceAPI","servicePlanId":"57ff2da0-773e-42df-b2af-ffb7a2317929"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"41fcdd7d-4733-4863-9cf4-c65b83ce2df4"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"9d0c4ee5-e4a1-4625-ab39-d82b619b1a34"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"a6520331-d7d4-4276-95f5-15c0933bc757"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"M365CommunicationCompliance","servicePlanId":"a413a9ff-720c-4822-98ef-2f37c2a21f4c"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"617b097b-4b93-4ede-83de-5f075bb5fb2f"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftCommunicationsOnline","servicePlanId":"4828c8ec-dc2e-4779-b502-87ac9ce28ab7"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftEndpointDLP","servicePlanId":"64bfac92-2b17-4482-b5e5-a0304429de3e"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"AzureAdvancedThreatAnalytics","servicePlanId":"14ab5db5-e6c4-4b20-b4bc-13e36fd2227f"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"d2d51368-76c9-4317-ada2-a12c004c432f"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"Adallom","servicePlanId":"8c098270-9dd4-4350-9b30-ba4703f3b36b"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"PowerBI","servicePlanId":"70d33638-9c74-4d01-bfd3-562de28bd4ba"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"5136a095-5cf0-4aff-bec3-e84448b38ea5"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftCommunicationsOnline","servicePlanId":"3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"CRM","servicePlanId":"afa73018-811e-46e9-988f-f75d2b1b8430"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MultiFactorService","servicePlanId":"8a256a2b-b617-496d-b51b-e76466e88db0"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"AADPremiumService","servicePlanId":"eec0eb4f-6444-4f95-aba0-50c24d67f998"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"43de0ff5-c92c-492b-9116-175376d08c38"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"46129a58-a698-46f0-aa5b-17f6586297d9"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftOffice","servicePlanId":"531ee2f8-b1cb-453b-9c21-d2180d014ca5"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"LearningAppServiceInTeams","servicePlanId":"b76fb638-6ba6-402a-b9f9-83d28acb3d86"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"SCO","servicePlanId":"c1ec4a95-1f05-45b3-a911-aa3fa01094f5"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"2f442157-a11c-46b9-ae5b-6e39ff4e5849"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"Deskless","servicePlanId":"8c7d2df8-86f0-4902-b2ed-a0458298f3b3"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"PowerAppsService","servicePlanId":"9c0dab89-a30c-4117-86e7-97bda240acd2"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"65cc641f-cccd-4643-97e0-a17e3045e541"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"Sway","servicePlanId":"a23b959c-7ce8-4e57-9140-b90eb88a9e97"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"c4801e8a-cb58-4c35-aca6-f2dcc106f287"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"RMSOnline","servicePlanId":"6c57d4b6-3b23-47a5-9bc9-69f17b4947b3"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"ProjectWorkManagement","servicePlanId":"b737dad2-2f6c-4c65-90e3-ca563267e8b9"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"34c0d7a0-a70f-4668-9238-47f9fc208882"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"WhiteboardServices","servicePlanId":"4a51bca5-1eff-43f5-878c-177680f191af"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"ccibotsprod","servicePlanId":"ded3d325-1bdc-453e-8432-5bac26d7a014"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"YammerEnterprise","servicePlanId":"7547a3fe-08ee-4ccb-b430-5077c5041653"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"To-Do","servicePlanId":"3fb82609-8c27-4f7b-bd51-30634711ee67"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftKaizala","servicePlanId":"0898bdbb-73b0-471a-81e5-20f1fe4dd66e"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"OfficeForms","servicePlanId":"e212cbc7-0961-4c40-9825-01117710dcb1"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"6db1f1db-2b46-403f-be40-e39395f08dbb"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"8e0c0a52-6a6c-4d40-8370-dd62790dcd70"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"AADPremiumService","servicePlanId":"41781fb2-bc02-4b7c-bd55-b576c07bb09d"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MIPExchangeSolutions","servicePlanId":"cd31b152-6326-4d1b-ae1b-997b625182e6"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftStream","servicePlanId":"6c6042f5-6f01-4d67-b8c1-eb99d36eed3e"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"199a5c09-e0ca-4e37-8f7c-b05d533e1ea2"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"Adallom","servicePlanId":"2e2ddb96-6af9-4b1d-a3f0-d6ecfd22edb2"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"MicrosoftThreatProtection","servicePlanId":"bf28f719-7844-4079-9c78-c1307898e192"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"e26c2fcc-ab91-4a61-b35c-03cdc8dddf66"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"9f431833-0334-42de-a7dc-70aa40db46db"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"efb0351d-3b08-4503-993d-383af8de41e3"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"RMSOnline","servicePlanId":"bea4c11e-220a-4e6d-8eb8-8ea15d019f90"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"4de31727-a228-4ec3-a5bf-8e45b5ca48cc"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"Office365InsiderRisk","servicePlanId":"d587c7a3-bda9-4f99-8776-9bcf59c84f75"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"CRM","servicePlanId":"28b0fa46-c39a-4188-89e2-58e979a6b014"},{"assignedDateTime":"2022-06-29T16:32:41Z","capabilityStatus":"Enabled","service":"ProjectProgramsAndPortfolios","servicePlanId":"b21a6b06-1988-436e-a07b-51ec6d9f52ad"}],"5":"0001-01-01T00:00:00Z","6":[],"11":"2022-06-29T16:31:49Z","12":"0","14":"Patrick Mahoney","15":"Patrick","16":"0001-01-01T00:00:00Z","17":"15cb4f7a-69e5-4730-bc63-fe057cbd141b","18":["patrick.mahoney@m365x413676.onmicrosoft.com"],"19":[],"22":"Patrick.Mahoney@m365x413676.onmicrosoft.com","23":"Patrick.Mahoney","25":"https://m365x413676-my.sharepoint.com/personal/patrick_mahoney_m365x413676_onmicrosoft_com/","32":"0","34":[],"37":"","38":[{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"SharePoint"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"SharePoint"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"MicrosoftCommunicationsOnline"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"MicrosoftCommunicationsOnline"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"MicrosoftCommunicationsOnline"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"},{"capabilityStatus":"Enabled","provisioningStatus":"Success","service":"exchange"}],"39":["SMTP:Patrick.Mahoney@m365x413676.onmicrosoft.com"],"40":"82100b66-ace5-4bd1-a137-f11432b93451","41":"15cb4f7a-69e5-4730-bc63-fe057cbd141b","42":[],"43":{"isUserSummaryRow":false,"userHasCompleteData":false,"userReturnedNoData":false},"44":[],"45":[],"48":"Mahoney","49":"US","50":"Patrick.Mahoney@m365x413676.onmicrosoft.com","51":"Member","52":"0"}],"schema":[{"key":"0","name":"aboutMe","type":"string"},{"key":"1","name":"accountEnabled","type":"boolean"},{"key":"2","name":"ageGroup","type":"string"},{"key":"3","name":"assignedLicenses","type":"ArrayType(StructType(StructField(disabledPlans,ArrayType(StringType,true),true), StructField(skuId,StringType,true)),true)"},{"key":"4","name":"assignedPlans","type":"ArrayType(StructType(StructField(assignedDateTime,StringType,true), StructField(capabilityStatus,StringType,true), StructField(service,StringType,true), StructField(servicePlanId,StringType,true)),true)"},{"key":"5","name":"birthday","type":"string"},{"key":"6","name":"businessPhones","type":"ArrayType(StringType,true)"},{"key":"7","name":"city","type":"string"},{"key":"8","name":"companyName","type":"string"},{"key":"9","name":"consentProvidedForMinor","type":"string"},{"key":"10","name":"country","type":"string"},{"key":"11","name":"createdDateTime","type":"string"},{"key":"12","name":"datarow","type":"bigint"},{"key":"13","name":"department","type":"string"},{"key":"14","name":"displayName","type":"string"},{"key":"15","name":"givenName","type":"string"},{"key":"16","name":"hireDate","type":"string"},{"key":"17","name":"id","type":"string"},{"key":"18","name":"imAddresses","type":"ArrayType(StringType,true)"},{"key":"19","name":"interests","type":"ArrayType(StringType,true)"},{"key":"20","name":"jobTitle","type":"string"},{"key":"21","name":"legalAgeGroupClassification","type":"string"},{"key":"22","name":"mail","type":"string"},{"key":"23","name":"mailNickname","type":"string"},{"key":"24","name":"mobilePhone","type":"string"},{"key":"25","name":"mySite","type":"string"},{"key":"26","name":"officeLocation","type":"string"},{"key":"27","name":"onPremisesImmutableId","type":"string"},{"key":"28","name":"onPremisesLastSyncDateTime","type":"string"},{"key":"29","name":"onPremisesSecurityIdentifier","type":"string"},{"key":"30","name":"onPremisesSyncEnabled","type":"string"},{"key":"31","name":"pAdditionalInfo","type":"string"},{"key":"32","name":"pagerow","type":"bigint"},{"key":"33","name":"passwordPolicies","type":"string"},{"key":"34","name":"pastProjects","type":"ArrayType(StringType,true)"},{"key":"35","name":"postalCode","type":"string"},{"key":"36","name":"preferredLanguage","type":"string"},{"key":"37","name":"preferredName","type":"string"},{"key":"38","name":"provisionedPlans","type":"ArrayType(StructType(StructField(capabilityStatus,StringType,true), StructField(provisioningStatus,StringType,true), StructField(service,StringType,true)),true)"},{"key":"39","name":"proxyAddresses","type":"ArrayType(StringType,true)"},{"key":"40","name":"ptenant","type":"string"},{"key":"41","name":"puser","type":"string"},{"key":"42","name":"responsibilities","type":"ArrayType(StringType,true)"},{"key":"43","name":"rowinformation","type":"StructType(StructField(errorInformation,StringType,true), StructField(isUserSummaryRow,BooleanType,true), StructField(userHasCompleteData,BooleanType,true), StructField(userReturnedNoData,BooleanType,true))"},{"key":"44","name":"schools","type":"ArrayType(StringType,true)"},{"key":"45","name":"skills","type":"ArrayType(StringType,true)"},{"key":"46","name":"state","type":"string"},{"key":"47","name":"streetAddress","type":"string"},{"key":"48","name":"surname","type":"string"},{"key":"49","name":"usageLocation","type":"string"},{"key":"50","name":"userPrincipalName","type":"string"},{"key":"51","name":"userType","type":"string"},{"key":"52","name":"userrow","type":"bigint"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["0"],"seriesFieldKeys":["12"],"isStacked":false}}}},"389ed5a7-caa1-4c79-ae67-3c15b51886a4":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":"130e8cc160adc6e67c71fbb84dce0db7","1":"af76240337d16b38c675d1547c8728f4","2":"0","3":"4","4":"0","5":"4","6":"2022-06-01 to 2022-11-07"},{"0":"130e8cc160adc6e67c71fbb84dce0db7","1":"c8d02a18a2fa743f505e619b07f74ca5","2":"0","3":"4","4":"0","5":"4","6":"2022-06-01 to 2022-11-07"},{"0":"91a4c293f94141be37f69d73031559e9","1":"9d3da72dc09b417f6148ebc59a37ffe2","2":"0","3":"4","4":"0","5":"4","6":"2022-06-01 to 2022-11-07"},{"0":"91a4c293f94141be37f69d73031559e9","1":"e3a7b2256ca863c8ad72e2441b85f2a0","2":"0","3":"4","4":"0","5":"4","6":"2022-06-01 to 2022-11-07"},{"0":"9d3da72dc09b417f6148ebc59a37ffe2","1":"91a4c293f94141be37f69d73031559e9","2":"0","3":"4","4":"0","5":"4","6":"2022-06-01 to 2022-11-07"},{"0":"c8d02a18a2fa743f505e619b07f74ca5","1":"130e8cc160adc6e67c71fbb84dce0db7","2":"0","3":"18","4":"0","5":"18","6":"2022-06-01 to 2022-11-07"},{"0":"c8d02a18a2fa743f505e619b07f74ca5","1":"af76240337d16b38c675d1547c8728f4","2":"0","3":"12","4":"0","5":"12","6":"2022-06-01 to 2022-11-07"},{"0":"c8d02a18a2fa743f505e619b07f74ca5","1":"fc40a4cb7c7b8e00853e15ba488619a2","2":"0","3":"12","4":"0","5":"12","6":"2022-06-01 to 2022-11-07"},{"0":"0a6989cf1f382da5b0518b8f9e7a7369","1":"281859395ceac9a06fe784aadddc4f6f","2":"0","3":"0","4":"2","5":"0","6":"2022-06-01 to 2022-11-07"},{"0":"0a6989cf1f382da5b0518b8f9e7a7369","1":"9916c17c2284a77198eca4838cbafa69","2":"0","3":"0","4":"2","5":"0","6":"2022-06-01 to 2022-11-07"}],"schema":[{"key":"0","name":"Source","type":"string"},{"key":"1","name":"Target","type":"string"},{"key":"2","name":"InteractionsEmail","type":"bigint"},{"key":"3","name":"InteractionsMeetings","type":"bigint"},{"key":"4","name":"InteractionsTeamsChat","type":"bigint"},{"key":"5","name":"Interactions","type":"int"},{"key":"6","name":"Period","type":"string"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["0"],"seriesFieldKeys":["2"],"isStacked":false}}}},"1453db2a-1aed-45e0-a5bb-d6b6fcbb3119":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":"patrick.mahoney@m365x413676.onmicrosoft.com","1":"d941d9875d24d8ebdcdd08775e9da242"},{"0":"crystal@m365x413676.onmicrosoft.com","1":"af3e7b6391df36af997b9f92afc5f28d"},{"0":"lynner@m365x413676.onmicrosoft.com","1":"59c1b490e854246c9a65c8619e6c1b71"},{"0":"jeremy@m365x413676.onmicrosoft.com","1":"774a3e953c47e0b59115330b57e20a2e"},{"0":"brianj@m365x413676.onmicrosoft.com","1":"463cfe3277bd77a0313a5848e3bd08eb"},{"0":"o365dscsharedmailbox@m365x413676.onmicrosoft.com","1":"1905806e1df5ee74a881d475c53e36cc"},{"0":"xitao@m365x413676.onmicrosoft.com","1":"6ddb67d1e6eeca6982203b9734f8baed"},{"0":"leeg@m365x413676.onmicrosoft.com","1":"281859395ceac9a06fe784aadddc4f6f"},{"0":"hood@m365x413676.onmicrosoft.com","1":"1e501728669bafb8ff428c7791570c69"},{"0":"nikroom@m365x413676.onmicrosoft.com","1":"88118648d74db7181bfb346d24341ac5"},{"0":"sharedmailbox@m365x413676.onmicrosoft.com","1":"0a6989cf1f382da5b0518b8f9e7a7369"},{"0":"gladys@m365x413676.onmicrosoft.com","1":"af76240337d16b38c675d1547c8728f4"},{"0":"nik@m365x413676.onmicrosoft.com","1":"f9c7e3e95a4fdb7f9d872d8c55887c63"},{"0":"nik.charlebois@m365x413676.onmicrosoft.com","1":"c8d02a18a2fa743f505e619b07f74ca5"},{"0":"meganb@m365x413676.onmicrosoft.com","1":"9d3da72dc09b417f6148ebc59a37ffe2"},{"0":"matt.krause@m365x413676.onmicrosoft.com","1":"91a4c293f94141be37f69d73031559e9"},{"0":"rainier@m365x413676.onmicrosoft.com","1":"9916c17c2284a77198eca4838cbafa69"},{"0":"admin@m365x413676.onmicrosoft.com","1":"130e8cc160adc6e67c71fbb84dce0db7"},{"0":"simone.stocker@m365x413676.onmicrosoft.com","1":"125a4f54192e90e440884919d7c9366b"},{"0":"ddaianu_bpcs@m365x413676.onmicrosoft.com","1":"5e5187da2cded20257fbcc299481a44d"},{"0":"lidiah@m365x413676.onmicrosoft.com","1":"e3a7b2256ca863c8ad72e2441b85f2a0"},{"0":"watercooler@m365x413676.onmicrosoft.com","1":"332625b3952c76f9edfd79d5bcb96ab1"},{"0":"gmackinnon@m365x413676.onmicrosoft.com","1":"c8c12536cdd1d9c5da6451c8963b8b5c"},{"0":"chantrelle@m365x413676.onmicrosoft.com","1":"dbf282e860d8e2290967327948da66d1"},{"0":"jcrendon@m365x413676.onmicrosoft.com","1":"fc40a4cb7c7b8e00853e15ba488619a2"},{"0":"yina@m365x413676.onmicrosoft.com","1":"b738690c582cc3f5c74ebd1ced298d3a"},{"0":"ege.onelcin@m365x413676.onmicrosoft.com","1":"57dbf9687318ae6986beeaec42ac4d33"}],"schema":[{"key":"0","name":"id","type":"string"},{"key":"1","name":"hashed","type":"string"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"count","categoryFieldKeys":["0"],"seriesFieldKeys":["0"],"isStacked":false}}}},"eb9aad37-99c3-4219-ae75-1783795f205c":{"type":"Synapse.DataFrame","sync_state":{"table":{"rows":[{"0":"57dbf9687318ae6986beeaec42ac4d33","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"774a3e953c47e0b59115330b57e20a2e","1":"Customer & Partner Experience","2":"Principal Program Manager Lead","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"83","8":"74","9":"0","10":"0","11":"0","12":"0","13":"1","14":"1","15":"0.037037037037037035","16":"0.0","17":"0.125","18":"0.3065508757824699","19":"2022-06-01 to 2022-11-07"},{"0":"1905806e1df5ee74a881d475c53e36cc","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"dbf282e860d8e2290967327948da66d1","1":"Go-to-Market","2":"Principal Program Manager Lead","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"430","8":"20","9":"0","10":"0","11":"0","12":"0","13":"4","14":"1","15":"0.09259259259259259","16":"0.0","17":"0.125","18":"0.4143601913720555","19":"2022-06-01 to 2022-11-07"},{"0":"fc40a4cb7c7b8e00853e15ba488619a2","1":"Customer & Partner Experience","2":"Senior Program Manager","4":"MX","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"23","8":"219","9":"0","10":"2","11":"0","12":"16","13":"2","14":"9","15":"0.2037037037037037","16":"0.0","17":"0.125","18":"0.8959054633422038","19":"2022-06-01 to 2022-11-07"},{"0":"af76240337d16b38c675d1547c8728f4","1":"Customer & Partner Experience","2":"Program Manager 2","4":"MX","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"317","8":"877","9":"0","10":"0","11":"0","12":"16","13":"12","14":"15","15":"0.5","16":"1.0","17":"0.125","18":"1.0","19":"2022-06-01 to 2022-11-07"},{"0":"5e5187da2cded20257fbcc299481a44d","4":"RO","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"760","8":"333","9":"0","10":"0","11":"0","12":"0","13":"13","14":"11","15":"0.4444444444444444","16":"1.0","17":"0.125","18":"0.8659910350481632","19":"2022-06-01 to 2022-11-07"},{"0":"130e8cc160adc6e67c71fbb84dce0db7","1":"IT","4":"CA","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"794","8":"896","9":"22","10":"0","11":"12","12":"18","13":"21","14":"12","15":"0.6111111111111112","16":"1.0","17":"0.125","18":"0.8561163554593175","19":"2022-06-01 to 2022-11-07"},{"0":"0a6989cf1f382da5b0518b8f9e7a7369","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"20","8":"174","9":"0","10":"0","11":"0","12":"0","13":"1","14":"7","15":"0.14814814814814814","16":"0.0","17":"0.125","18":"0.5889124207732561","19":"2022-06-01 to 2022-11-07"},{"0":"b738690c582cc3f5c74ebd1ced298d3a","1":"M365 Core","2":"Partner GPM","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"e3a7b2256ca863c8ad72e2441b85f2a0","1":"Engineering","2":"Product Manager","3":"OK","4":"US","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"571","8":"1151","9":"0","10":"0","11":"0","12":"4","13":"13","14":"14","15":"0.5","16":"1.0","17":"0.125","18":"0.9223109688993918","19":"2022-06-01 to 2022-11-07"},{"0":"c8d02a18a2fa743f505e619b07f74ca5","1":"Services","2":"Senior Premier Field Engineer","3":"Ontario","4":"CA","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"186","8":"1337","9":"4","10":"0","11":"42","12":"4","13":"16","14":"12","15":"0.5185185185185185","16":"1.0","17":"0.125","18":"0.7264083425387692","19":"2022-06-01 to 2022-11-07"},{"0":"c8c12536cdd1d9c5da6451c8963b8b5c","4":"US","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"281859395ceac9a06fe784aadddc4f6f","1":"Manufacturing","2":"Director","3":"KS","4":"US","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"420","8":"674","9":"0","10":"0","11":"0","12":"0","13":"11","14":"9","15":"0.37037037037037035","16":"1.0","17":"0.125","18":"0.865930325365087","19":"2022-06-01 to 2022-11-07"},{"0":"9d3da72dc09b417f6148ebc59a37ffe2","1":"Marketing","2":"Marketing Manager","3":"PA","4":"US","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"1900","8":"774","9":"0","10":"0","11":"4","12":"4","13":"14","14":"12","15":"0.48148148148148145","16":"1.0","17":"0.125","18":"0.8261609408222461","19":"2022-06-01 to 2022-11-07"},{"0":"463cfe3277bd77a0313a5848e3bd08eb","1":"Engineering","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"362","8":"106","9":"0","10":"0","11":"0","12":"0","13":"5","14":"7","15":"0.2222222222222222","16":"0.0","17":"0.125","18":"0.7172441280946755","19":"2022-06-01 to 2022-11-07"},{"0":"1e501728669bafb8ff428c7791570c69","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"355","8":"529","9":"0","10":"0","11":"0","12":"0","13":"7","14":"9","15":"0.2962962962962963","16":"0.0","17":"0.125","18":"0.6370404364263131","19":"2022-06-01 to 2022-11-07"},{"0":"59c1b490e854246c9a65c8619e6c1b71","1":"Retail","2":"Planner","3":"OK","4":"US","5":"en-US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"619","8":"511","9":"0","10":"0","11":"0","12":"0","13":"12","14":"11","15":"0.42592592592592593","16":"1.0","17":"0.125","18":"0.8588843160862223","19":"2022-06-01 to 2022-11-07"},{"0":"af3e7b6391df36af997b9f92afc5f28d","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"933","8":"413","9":"0","10":"0","11":"0","12":"0","13":"12","14":"9","15":"0.3888888888888889","16":"0.0","17":"0.125","18":"0.6173171578331803","19":"2022-06-01 to 2022-11-07"},{"0":"f9c7e3e95a4fdb7f9d872d8c55887c63","1":"Customer & Partner Experience","2":"Senior Program Manager","4":"CA","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"336","8":"376","9":"0","10":"0","11":"0","12":"0","13":"8","14":"7","15":"0.2777777777777778","16":"0.0","17":"0.125","18":"0.7979693471966928","19":"2022-06-01 to 2022-11-07"},{"0":"332625b3952c76f9edfd79d5bcb96ab1","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"105","8":"9","9":"0","10":"0","11":"0","12":"0","13":"3","14":"0","15":"0.05555555555555555","16":"0.0","17":"0.125","18":"0.3379704275873709","19":"2022-06-01 to 2022-11-07"},{"0":"9916c17c2284a77198eca4838cbafa69","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"506","8":"210","9":"0","10":"0","11":"0","12":"0","13":"7","14":"8","15":"0.2777777777777778","16":"0.0","17":"0.125","18":"0.8248966457742072","19":"2022-06-01 to 2022-11-07"},{"0":"d941d9875d24d8ebdcdd08775e9da242","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"6ddb67d1e6eeca6982203b9734f8baed","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"91a4c293f94141be37f69d73031559e9","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"8","12":"4","13":"2","14":"1","15":"0.05555555555555555","16":"0.0","17":"0.125","18":"0.14311772034374612","19":"2022-06-01 to 2022-11-07"},{"0":"125a4f54192e90e440884919d7c9366b","4":"US","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"0","8":"0","9":"0","10":"0","11":"0","12":"0","13":"0","14":"0","15":"0.0","16":"0.0","17":"0.0","18":"0.10412734769599474","19":"2022-06-01 to 2022-11-07"},{"0":"88118648d74db7181bfb346d24341ac5","6":"82100b66-ace5-4bd1-a137-f11432b93451","7":"26","8":"63","9":"0","10":"0","11":"0","12":"0","13":"2","14":"4","15":"0.1111111111111111","16":"0.0","17":"0.125","18":"0.558892482369227","19":"2022-06-01 to 2022-11-07"}],"schema":[{"key":"0","name":"EmailAddress","type":"string"},{"key":"1","name":"Department","type":"string"},{"key":"2","name":"Title","type":"string"},{"key":"3","name":"StateOrProvince","type":"string"},{"key":"4","name":"Country","type":"string"},{"key":"5","name":"Languages","type":"string"},{"key":"6","name":"TenantID","type":"string"},{"key":"7","name":"NumberOfEventsOrganized","type":"bigint"},{"key":"8","name":"NumberOfEventsAttended","type":"bigint"},{"key":"9","name":"NumberOfEmailsSent","type":"bigint"},{"key":"10","name":"NumberOfEmailsReceived","type":"bigint"},{"key":"11","name":"NumberOfChatsSent","type":"bigint"},{"key":"12","name":"NumberOfChatsReceived","type":"bigint"},{"key":"13","name":"Out-DegreeIndex","type":"bigint"},{"key":"14","name":"In-DegreeIndex","type":"bigint"},{"key":"15","name":"DegreeIndex","type":"double"},{"key":"16","name":"BetweenessIndex","type":"float"},{"key":"17","name":"CommunityBridgeIndex","type":"double"},{"key":"18","name":"InfluenceIndex","type":"double"},{"key":"19","name":"Period","type":"string"}],"truncated":false},"isSummary":false,"language":"scala"},"persist_state":{"view":{"type":"details","tableOptions":{},"chartOptions":{"chartType":"bar","aggregationType":"sum","categoryFieldKeys":["0"],"seriesFieldKeys":["7"],"isStacked":false}}}}}},"enableDebugMode":false,"kernelspec":{"name":"synapse_pyspark","display_name":"Synapse PySpark"},"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/30a81c99-6121-40ba-99d7-ac674961cd7e/resourceGroups/rg-mgdc-ona/providers/Microsoft.Synapse/workspaces/ona-synapse/bigDataPools/onasynapsepool","name":"onasynapsepool","type":"Spark","endpoint":"https://ona-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/onasynapsepool","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net"},"sparkVersion":"3.2","nodeCount":3,"cores":8,"memory":56,"automaticScaleJobs":false},"sessionKeepAliveTimeout":30},"cells":[{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"tags":["parameters"]},"source":["# Default parameters that can be freely changed or overriden by pipeline run \r\n","calendarPath = \"abfss://mgdc@onacontrolplane.dfs.core.windows.net/calendar_2022-06-01_to_2022-11-07/\"\r\n","emailPath = \"abfss://mgdc@onacontrolplane.dfs.core.windows.net/email_2022-06-01_to_2022-11-07/\"\r\n","teamsChatPath = \"abfss://mgdc@onacontrolplane.dfs.core.windows.net/teamschat_2022-06-01_to_2022-11-07/\"\r\n","userPath = \"abfss://mgdc@onacontrolplane.dfs.core.windows.net/user_2022-06-01_to_2022-11-07/\"\r\n","usersOutputPath = \"abfss://output@onacontrolplane.dfs.core.windows.net/users_2022-06-01_to_2022-11-07.csv\"\r\n","interactionsOutputPath = \"abfss://output@onacontrolplane.dfs.core.windows.net/interactions_2022-06-01_to_2022-11-07.csv\"\r\n","period = \"2022-06-01 to 2022-11-07\""],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":168,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:37:24.9573771Z","session_start_time":null,"execution_start_time":"2022-11-11T11:37:25.1500503Z","execution_finish_time":"2022-11-11T11:37:25.3175452Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 168, Finished, Available)"},"metadata":{}}],"execution_count":168},{"cell_type":"code","metadata":{"microsoft":{},"collapsed":false},"source":["# Load data\r\n","meetingsRaw = spark.read.json(calendarPath)\r\n","display(meetingsRaw.limit(1))\r\n","emailsRaw = spark.read.json(emailPath)\r\n","display(emailsRaw.limit(1))\r\n","teamschatsRaw = spark.read.json(teamsChatPath)\r\n","display(teamschatsRaw.limit(1))\r\n","usersRaw = spark.read.json(userPath)\r\n","display(usersRaw.limit(1))\r\n",""],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":64,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T07:48:03.8688088Z","session_start_time":null,"execution_start_time":"2022-11-11T07:48:04.0160649Z","execution_finish_time":"2022-11-11T07:48:11.2974041Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 64, Finished, Available)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"50f43b7b-0023-4758-a2bd-73b732cbd86d","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, 50f43b7b-0023-4758-a2bd-73b732cbd86d)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"39df6658-9f9b-48cc-988e-1f4da983861f","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, 39df6658-9f9b-48cc-988e-1f4da983861f)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"a1c5357e-959a-4333-a57e-88923a911494","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, a1c5357e-959a-4333-a57e-88923a911494)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"e4822bba-9de5-482b-9226-7ac1fdbd0223","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, e4822bba-9de5-482b-9226-7ac1fdbd0223)"},"metadata":{}}],"execution_count":64},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Drop duplicates\r\n","usersDedup = usersRaw.dropDuplicates([\"puser\"])\r\n","emailsDedup = emailsRaw.dropDuplicates([\"Id\"]).select(\"Sender\", \"ToRecipients\")\r\n","teamschatsDedup = teamschatsRaw.dropDuplicates([\"Id\"]).select(\"Sender\", \"ToRecipients\")\r\n","meetingsDedup = meetingsRaw.dropDuplicates([\"Id\"]).select(\"organizer\", \"attendees\")\r\n","\r\n","print(f\"# usersRaw: {usersRaw.count()}\")\r\n","print(f\"# usersDedup: {usersDedup.count()}\")\r\n","print(f\"# emailsRaw: {emailsRaw.count()}\")\r\n","print(f\"# emailsDedup: {emailsDedup.count()}\")\r\n","print(f\"# teamschatsRaw: {teamschatsRaw.count()}\")\r\n","print(f\"# teamschatsDedup: {teamschatsDedup.count()}\")\r\n","print(f\"# meetingsRaw: {meetingsRaw.count()}\")\r\n","print(f\"# meetingsDedup: {meetingsDedup.count()}\")"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":65,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T07:51:06.2333701Z","session_start_time":null,"execution_start_time":"2022-11-11T07:51:06.5482709Z","execution_finish_time":"2022-11-11T07:51:10.7366837Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 65, Finished, Available)"},"metadata":{}},{"name":"stdout","output_type":"stream","text":"# usersRaw: 27\n# usersDedup: 27\n# emailsRaw: 11554\n# emailsDedup: 11554\n# teamschatsRaw: 36\n# teamschatsDedup: 36\n# meetingsRaw: 15770\n# meetingsDedup: 15770\n"}],"execution_count":65},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["from pyspark.sql.functions import coalesce, col, count, explode, format_number, isnull, lit, md5, rand, size, udf\r\n","import pyspark.sql.functions as F"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":66,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T07:53:20.1787755Z","session_start_time":null,"execution_start_time":"2022-11-11T07:53:20.3352735Z","execution_finish_time":"2022-11-11T07:53:20.515623Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 66, Finished, Available)"},"metadata":{}}],"execution_count":66},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Get the user email addresses and filter emails, teamschat, and meetings to only contain edges with those users\r\n","usersEmailAddresses = usersDedup.selectExpr(\"lower(userPrincipalName) as id\")"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":117,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:39:45.7613028Z","session_start_time":null,"execution_start_time":"2022-11-11T08:39:45.9770494Z","execution_finish_time":"2022-11-11T08:39:46.553748Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 117, Finished, Available)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"1453db2a-1aed-45e0-a5bb-d6b6fcbb3119","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, 1453db2a-1aed-45e0-a5bb-d6b6fcbb3119)"},"metadata":{}}],"execution_count":117},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Explode row with one sender -> N recipients into N rows\r\n","# Filter to only keep emails with 5 or less recipients\r\n","emails = emailsDedup.where(size(col(\"ToRecipients\")) <= 5) \\\r\n","                    .select(lower(col(\"Sender.EmailAddress.Address\")).alias(\"sender\"), explode(col(\"ToRecipients\")).alias(\"exploded\")) \\\r\n","                    .join(usersEmailAddresses, col(\"id\") == col(\"sender\"), \"inner\").drop(\"id\") \\\r\n","                    .join(usersEmailAddresses, col(\"id\") == lower(col(\"exploded.EmailAddress.Address\")), \"inner\").drop(\"id\") \\\r\n","                    .withColumn(\"src\", md5(col(\"sender\"))) \\\r\n","                    .withColumn(\"dst\", md5(col(\"exploded.EmailAddress.Address\"))) \\\r\n","                    .select(col(\"src\"), col(\"dst\")) \\\r\n","                    .where(col(\"src\") != col(\"dst\"))"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":106,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:35:08.1682192Z","session_start_time":null,"execution_start_time":"2022-11-11T08:35:08.336683Z","execution_finish_time":"2022-11-11T08:35:09.3166177Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 106, Finished, Available)"},"metadata":{}}],"execution_count":106},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Explode row with one sender -> N recipients into N rows\r\n","# Filter to only keep teamschat messages with 5 or less recipients\r\n","teamschats = teamschatsDedup.where(size(col(\"ToRecipients\")) <= 5) \\\r\n","                            .select(lower(col(\"Sender.EmailAddress.Address\")).alias(\"sender\"), explode(col(\"ToRecipients\")).alias(\"exploded\")) \\\r\n","                            .join(usersEmailAddresses, col(\"id\") == col(\"sender\"), \"inner\").drop(\"id\") \\\r\n","                            .join(usersEmailAddresses, col(\"id\") == lower(col(\"exploded.EmailAddress.Address\")), \"inner\").drop(\"id\") \\\r\n","                            .withColumn(\"src\", md5(lower(col(\"sender\")))) \\\r\n","                            .withColumn(\"dst\", md5(lower(col(\"exploded.EmailAddress.Address\")))) \\\r\n","                            .select(col(\"src\"), col(\"dst\")) \\\r\n","                            .where(col(\"src\") != col(\"dst\"))"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":107,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:35:16.597282Z","session_start_time":null,"execution_start_time":"2022-11-11T08:35:16.8407564Z","execution_finish_time":"2022-11-11T08:35:17.0487449Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 107, Finished, Available)"},"metadata":{}}],"execution_count":107},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Explode row with one organizer -> N attendees into N rows\r\n","# Filter to only keep meetings with 5 or less attendees\r\n","meetings = meetingsDedup.where(size(col(\"attendees\")) <= 5) \\\r\n","                        .select(lower(col(\"organizer.emailAddress.address\")).alias(\"sender\"), explode(col(\"attendees\")).alias(\"exploded\")) \\\r\n","                        .join(usersEmailAddresses, col(\"id\") == col(\"sender\"), \"inner\").drop(\"id\") \\\r\n","                        .join(usersEmailAddresses, col(\"id\") == lower(col(\"exploded.EmailAddress.Address\")), \"inner\").drop(\"id\") \\\r\n","                        .withColumn(\"src\", md5(lower(col(\"sender\")))) \\\r\n","                        .withColumn(\"dst\", md5(lower(col(\"exploded.EmailAddress.Address\")))) \\\r\n","                        .select(col(\"src\"), col(\"dst\")) \\\r\n","                        .where(col(\"src\") != col(\"dst\"))\r\n",""],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":108,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:35:19.3937247Z","session_start_time":null,"execution_start_time":"2022-11-11T08:35:19.5378413Z","execution_finish_time":"2022-11-11T08:35:19.7019543Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 108, Finished, Available)"},"metadata":{}}],"execution_count":108},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Join after counting all email, teamsChat, meeting\r\n","emailEdges = emails.groupBy(\"src\", \"dst\").count().select(col(\"src\").alias(\"src1\"), col(\"dst\").alias(\"dst1\"), col(\"count\").alias(\"numEmail\"))\r\n","teamsChatEdges = teamschats.groupBy(\"src\", \"dst\").count().select(col(\"src\").alias(\"src2\"), col(\"dst\").alias(\"dst2\"), col(\"count\").alias(\"numTeamsChat\"))\r\n","meetingEdges = meetings.groupBy(\"src\", \"dst\").count().select(col(\"src\").alias(\"src3\"), col(\"dst\").alias(\"dst3\"), col(\"count\").alias(\"numMeeting\"))\r\n","\r\n","allEdges = emailEdges.alias(\"e\").join(teamsChatEdges.alias(\"t\"), (col(\"src1\") == col(\"src2\")) & (col(\"dst1\") == col(\"dst2\")), \"full\") \\\r\n","                             .join(meetingEdges.alias(\"m\"), (col(\"src1\") == col(\"src3\")) & (col(\"dst1\") == col(\"dst3\")), \"full\")"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":109,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:35:24.5581248Z","session_start_time":null,"execution_start_time":"2022-11-11T08:35:26.3842355Z","execution_finish_time":"2022-11-11T08:35:26.5592388Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 109, Finished, Available)"},"metadata":{}}],"execution_count":109},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Coalesce together src/dst duplicate columns after join\r\n","teamsChatToEmailRatio = 8 # interaction ratio for teamschat to email\r\n","edgesRenamed = allEdges.select(\r\n","    coalesce( *[col(c) for c in [\"src1\", \"src2\", \"src3\"]]).alias(\"Source\"),\r\n","    coalesce( *[col(c) for c in [\"dst1\", \"dst2\", \"dst3\"]]).alias(\"Target\"),\r\n","    col(\"numEmail\").alias(\"InteractionsEmail\"),\r\n","    col(\"numTeamsChat\").alias(\"InteractionsMeetings\"),\r\n","    col(\"numMeeting\").alias(\"InteractionsTeamsChat\")\r\n",").fillna(0) \\\r\n"," .withColumn(\"Interactions\", (col(\"InteractionsEmail\") + col(\"InteractionsMeetings\") + F.round(col(\"InteractionsTeamsChat\")/8.0)).cast('int')) \\\r\n"," .withColumn(\"Period\", lit(period))\r\n","edgesRenamed.coalesce(1).write.option(\"header\", True).mode(\"overwrite\").csv(interactionsOutputPath)\r\n","display(edgesRenamed.limit(10))"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":110,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:35:28.1390937Z","session_start_time":null,"execution_start_time":"2022-11-11T08:35:28.6067139Z","execution_finish_time":"2022-11-11T08:35:34.3667523Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 110, Finished, Available)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"389ed5a7-caa1-4c79-ae67-3c15b51886a4","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, 389ed5a7-caa1-4c79-ae67-3c15b51886a4)"},"metadata":{}}],"execution_count":110},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["eventsOrganized = meetings.groupBy(\"src\").count().withColumnRenamed(\"count\", \"NumberOfEventsOrganized\")\r\n","eventsAttended = meetings.groupBy(\"dst\").count().withColumnRenamed(\"count\", \"NumberOfEventsAttended\")\r\n","emailsSent = emails.groupBy(\"src\").count().withColumnRenamed(\"count\", \"NumberOfEmailsSent\")\r\n","emailsReceived = emails.groupBy(\"dst\").count().withColumnRenamed(\"count\", \"NumberOfEmailsReceived\")\r\n","teamsChatsSent = teamschats.groupBy(\"src\").count().withColumnRenamed(\"count\", \"NumberOfChatsSent\")\r\n","teamsChatsReceived = teamschats.groupBy(\"dst\").count().withColumnRenamed(\"count\", \"NumberOfChatsReceived\")"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":111,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:36:06.1432918Z","session_start_time":null,"execution_start_time":"2022-11-11T08:36:06.3291589Z","execution_finish_time":"2022-11-11T08:36:06.4919349Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 111, Finished, Available)"},"metadata":{}}],"execution_count":111},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Select user properties for output and join all raw email/teamschat/meeting counts\r\n","usersDedupRenamed = usersDedup.withColumn(\"EmailAddress\", md5(lower(col(\"userPrincipalName\")))) \\\r\n","                              .selectExpr(\"EmailAddress\", \"department as Department\", \"jobTitle as Title\", \"state as StateOrProvince\",\r\n","                                          \"usageLocation as Country\",\"preferredLanguage as Languages\",\"ptenant as TenantID\")\r\n","usersJoined = usersDedupRenamed.join(eventsOrganized, col(\"src\") == col(\"EmailAddress\"), \"left\").drop(\"src\") \\\r\n","                               .join(eventsAttended, col(\"dst\") == col(\"EmailAddress\"), \"left\").drop(\"dst\") \\\r\n","                               .join(emailsSent, col(\"src\") == col(\"EmailAddress\"), \"left\").drop(\"src\") \\\r\n","                               .join(emailsReceived, col(\"dst\") == col(\"EmailAddress\"), \"left\").drop(\"dst\") \\\r\n","                               .join(teamsChatsSent, col(\"src\") == col(\"EmailAddress\"), \"left\").drop(\"src\") \\\r\n","                               .join(teamsChatsReceived, col(\"dst\") == col(\"EmailAddress\"), \"left\").drop(\"dst\") \\\r\n","                               .fillna(0)\r\n","numUsers = usersJoined.count()"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":112,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:36:09.6978693Z","session_start_time":null,"execution_start_time":"2022-11-11T08:36:09.8299733Z","execution_finish_time":"2022-11-11T08:36:13.9627267Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 112, Finished, Available)"},"metadata":{}}],"execution_count":112},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Build graphframe for calculating graph based indexes\r\n","from graphframes import GraphFrame\r\n","vertices = usersJoined.selectExpr(\"EmailAddress as id\")\r\n","edges = edgesRenamed.selectExpr(\"Source as src\", \"Target as dst\")\r\n","graph = GraphFrame(vertices, edges)\r\n",""],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":113,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T08:36:17.8136606Z","session_start_time":null,"execution_start_time":"2022-11-11T08:36:17.9510523Z","execution_finish_time":"2022-11-11T08:36:18.3057294Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 113, Finished, Available)"},"metadata":{}}],"execution_count":113},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Run LPA (label propagation algorithm) to discover communities\r\n","labels = graph.labelPropagation(maxIter = 5)\r\n",""],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":153,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:07:01.9444284Z","session_start_time":null,"execution_start_time":"2022-11-11T11:07:02.2527091Z","execution_finish_time":"2022-11-11T11:07:24.8851991Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 153, Finished, Available)"},"metadata":{}}],"execution_count":153},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Convert LPA community label to an index map\r\n","labelsDistinct = labels.select(col(\"label\")).distinct()\r\n","labelsList = [l.label for l in labelsDistinct.collect()]\r\n","labelsMap = {}\r\n","labelIndex = 1\r\n","for label in labelsList:\r\n","    labelsMap[label] = str(labelIndex)\r\n","    labelIndex += 1\r\n","print(labelsMap)"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":154,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:08:28.6200445Z","session_start_time":null,"execution_start_time":"2022-11-11T11:08:28.7359311Z","execution_finish_time":"2022-11-11T11:08:34.7216664Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 154, Finished, Available)"},"metadata":{}},{"name":"stdout","output_type":"stream","text":"{8589934592: '1', 532575944704: '2', 755914244096: '3', 1288490188800: '4', 1279900254208: '5', 1400159338496: '6', 300647710720: '7', 77309411328: '8'}\n"}],"execution_count":154},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Construct udf for mapping users to community label\r\n","from pyspark.sql import types as t\r\n","def getLabelIndex(x):\r\n","    return labelsMap.get(x)\r\n","\r\n","labelIndexUdf = udf(getLabelIndex, t.StringType())\r\n","\r\n","verticesLabelled = labels.withColumn(\"index\", labelIndexUdf(col(\"label\"))) \\\r\n","                         .drop(\"label\")"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":156,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:15:32.7455645Z","session_start_time":null,"execution_start_time":"2022-11-11T11:15:32.9348541Z","execution_finish_time":"2022-11-11T11:15:33.1130725Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 156, Finished, Available)"},"metadata":{}}],"execution_count":156},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Calculate Community Bridging Index\r\n","# Counts how many communities C a user is connected to with an out edge, normalized by num of communities\r\n","# For all users, compute C / (num of Communities)\r\n","# 1 = they are connected to all communities\r\n","# 0 = they have no connections\r\n","# In the future, can also explore weighting on the community size\r\n","#\r\n","# join edges with verticesLabelled on \"join key == dst\" so edges are labelled by community based on the target dst\r\n","edgesLabelled = edges.join(verticesLabelled, col(\"id\") == col(\"dst\"), \"inner\").drop(\"dst\",\"id\").distinct()\r\n","# group on src and count how many distinct community labelled targets each src has\r\n","communityBridging = edgesLabelled.groupBy(\"src\").count() \\\r\n","                                 .withColumn(\"CommunityBridgeIndex\", col(\"count\") / float(len(labelsMap))).drop(\"count\")\r\n","#display(vertexCommunityBridging)"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":166,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:36:30.9588876Z","session_start_time":null,"execution_start_time":"2022-11-11T11:36:31.1417892Z","execution_finish_time":"2022-11-11T11:36:31.6739786Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 166, Finished, Available)"},"metadata":{}}],"execution_count":166},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Run PageRank for all nodes in the graph\r\n","pagerank = graph.pageRank(resetProbability=0.15, sourceId=None, maxIter=None, tol=0.001)\r\n","#pagerank.vertices.limit(20).show()"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":195,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:54:21.3787404Z","session_start_time":null,"execution_start_time":"2022-11-11T11:54:21.567735Z","execution_finish_time":"2022-11-11T11:54:29.0173482Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 195, Finished, Available)"},"metadata":{}}],"execution_count":195},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Calculate Influence Index using normalized page rank\r\n","pagerankMax = pagerank.vertices.agg(F.max(\"pagerank\")).collect()[0][0]\r\n","#print(pagerankMax)\r\n","pagerankNormalized = pagerank.vertices.withColumn(\"InfluenceIndex\", col(\"pagerank\") / pagerankMax).drop(\"pagerank\")\r\n","#display(pagerankNormalized)"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":196,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:54:41.1280979Z","session_start_time":null,"execution_start_time":"2022-11-11T11:54:44.0005917Z","execution_finish_time":"2022-11-11T11:54:46.1612654Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 196, Finished, Available)"},"metadata":{}}],"execution_count":196},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Calculate out-degrees and in-degrees based on number of connections\r\n","outDegreeEdges = edgesRenamed.where(col(\"Interactions\") > 0).groupBy(\"Source\").count().select(col(\"Source\"), col(\"count\").alias(\"Out-DegreeIndex\"))\r\n","inDegreeEdges = edgesRenamed.where(col(\"Interactions\") > 0).groupBy(\"Target\").count().select(col(\"Target\"), col(\"count\").alias(\"In-DegreeIndex\"))"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":171,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:38:25.5198448Z","session_start_time":null,"execution_start_time":"2022-11-11T11:38:28.2616782Z","execution_finish_time":"2022-11-11T11:38:28.4694761Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 171, Finished, Available)"},"metadata":{}}],"execution_count":171},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Calculate Betweeness Index by counting the number of time each node appears on shortest paths between sampled src->dst nodes\r\n","\r\n","# parameters for tuning the cost of betweeness calculation\r\n","dstNodesLimit = 1 # num of destination nodes per source node to sample for calculating shortest paths\r\n","bfsPathLimit = 5 # max shortest path length\r\n","\r\n","import random\r\n","import copy\r\n","nodes = [v.id for v in vertices.collect()]\r\n","betweenessCounts = {}\r\n","\r\n","for src in nodes:\r\n","    betweenessCounts[src] = 0\r\n","\r\n","for src in nodes:\r\n","    dstNodesCount = 0\r\n","    dstNodes = copy.deepcopy(nodes)\r\n","    random.shuffle(dstNodes)\r\n","\r\n","    for dst in dstNodes:\r\n","\r\n","        if (src == dst):\r\n","            continue\r\n","\r\n","        if (result.count() > 0):\r\n","            resultVertices = list(filter(lambda x: x.startswith('v'), result.columns))\r\n","\r\n","            for v in resultVertices:\r\n","                vIds = [row[v][\"id\"] for row in result.select(col(v)).collect()]\r\n","                for vId in vIds:\r\n","                    if vId in betweenessCounts:\r\n","                        betweenessCounts[vId] += 1\r\n","                    else:\r\n","                        betweenessCounts[vId] = 1\r\n","\r\n","        dstNodesCount += 1\r\n","        if (dstNodesCount >= dstNodesLimit):\r\n","            break"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":149,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T10:06:15.0725692Z","session_start_time":null,"execution_start_time":"2022-11-11T10:06:15.3235349Z","execution_finish_time":"2022-11-11T10:47:02.7479052Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 149, Finished, Available)"},"metadata":{}}],"execution_count":149},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["# Normalize betweeness index by total number of shortest paths sampled\r\n","numShortestPaths = dstNodesLimit * len(nodes)\r\n","def getBetweenessIndex(x):\r\n","    return betweenessCounts.get(x) / float(numShortestPaths)\r\n","betweenessIndexUdf = udf(getBetweenessIndex, t.FloatType())\r\n","print(betweenessCounts)"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":150,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T10:48:44.2609666Z","session_start_time":null,"execution_start_time":"2022-11-11T10:48:44.4242717Z","execution_finish_time":"2022-11-11T10:48:44.5957126Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 150, Finished, Available)"},"metadata":{}},{"name":"stdout","output_type":"stream","text":"{'57dbf9687318ae6986beeaec42ac4d33': 0, '774a3e953c47e0b59115330b57e20a2e': 0, '1905806e1df5ee74a881d475c53e36cc': 0, 'dbf282e860d8e2290967327948da66d1': 0, 'fc40a4cb7c7b8e00853e15ba488619a2': 0, 'af76240337d16b38c675d1547c8728f4': 27, '5e5187da2cded20257fbcc299481a44d': 27, '130e8cc160adc6e67c71fbb84dce0db7': 27, '0a6989cf1f382da5b0518b8f9e7a7369': 0, 'b738690c582cc3f5c74ebd1ced298d3a': 0, 'e3a7b2256ca863c8ad72e2441b85f2a0': 27, 'c8d02a18a2fa743f505e619b07f74ca5': 27, 'c8c12536cdd1d9c5da6451c8963b8b5c': 0, '281859395ceac9a06fe784aadddc4f6f': 27, '9d3da72dc09b417f6148ebc59a37ffe2': 27, '463cfe3277bd77a0313a5848e3bd08eb': 0, '1e501728669bafb8ff428c7791570c69': 0, '59c1b490e854246c9a65c8619e6c1b71': 27, 'af3e7b6391df36af997b9f92afc5f28d': 0, 'f9c7e3e95a4fdb7f9d872d8c55887c63': 0, '332625b3952c76f9edfd79d5bcb96ab1': 0, '9916c17c2284a77198eca4838cbafa69': 0, 'd941d9875d24d8ebdcdd08775e9da242': 0, '6ddb67d1e6eeca6982203b9734f8baed': 0, '91a4c293f94141be37f69d73031559e9': 0, '125a4f54192e90e440884919d7c9366b': 0, '88118648d74db7181bfb346d24341ac5': 0}\n"}],"execution_count":150},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":false},"source":["# Join all indexes to users and output\r\n","usersEnriched = usersJoined.join(outDegreeEdges, col(\"Source\") == col(\"EmailAddress\"), \"left\").drop(\"Source\") \\\r\n","                           .join(inDegreeEdges, col(\"Target\") == col(\"EmailAddress\"), \"left\").drop(\"Target\") \\\r\n","                           .fillna(0) \\\r\n","                           .withColumn(\"DegreeIndex\", (col(\"In-DegreeIndex\") + col(\"Out-DegreeIndex\")) / (2 * numUsers)) \\\r\n","                           .withColumn(\"BetweenessIndex\", betweenessIndexUdf(col(\"EmailAddress\"))) \\\r\n","                           .join(communityBridging, col(\"src\") == col(\"EmailAddress\"), \"left\").drop(\"src\") \\\r\n","                           .join(pagerankNormalized, col(\"id\") == col(\"EmailAddress\"), \"left\").drop(\"id\") \\\r\n","                           .fillna(0) \\\r\n","                           .withColumn(\"Period\", lit(period))\r\n","display(usersEnriched)\r\n","usersEnriched.coalesce(1).write.option(\"header\", True).mode(\"overwrite\").csv(usersOutputPath)"],"outputs":[{"output_type":"display_data","data":{"application/vnd.livy.statement-meta+json":{"spark_pool":"onasynapsepool","session_id":"75","statement_id":198,"state":"finished","livy_statement_state":"available","queued_time":"2022-11-11T11:55:50.2153935Z","session_start_time":null,"execution_start_time":"2022-11-11T11:55:50.4352518Z","execution_finish_time":"2022-11-11T11:56:41.2673418Z","spark_jobs":null},"text/plain":"StatementMeta(onasynapsepool, 75, 198, Finished, Available)"},"metadata":{}},{"output_type":"display_data","data":{"application/vnd.synapse.widget-view+json":{"widget_id":"eb9aad37-99c3-4219-ae75-1783795f205c","widget_type":"Synapse.DataFrame"},"text/plain":"SynapseWidget(Synapse.DataFrame, eb9aad37-99c3-4219-ae75-1783795f205c)"},"metadata":{}}],"execution_count":198}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/onasynapsepool')]","type":"Microsoft.Synapse/workspaces/bigDataPools","apiVersion":"2019-06-01-preview","properties":{"autoPause":{"enabled":true,"delayInMinutes":15},"autoScale":{"enabled":true,"maxNodeCount":20,"minNodeCount":3},"nodeCount":0,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","sparkVersion":"3.2","isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":true,"customLibraries":[{"name":"graphframes-0.8.2-py3-none-any.whl","path":"ona-synapse/libraries/graphframes-0.8.2-py3-none-any.whl","containerName":"prep","uploadedTimestamp":"0001-01-01T00:00:00+00:00","type":"whl"},{"name":"graphframes-0.8.2-spark3.2-s_2.12.jar","path":"ona-synapse/libraries/graphframes-0.8.2-spark3.2-s_2.12.jar","containerName":"prep","uploadedTimestamp":"0001-01-01T00:00:00+00:00","type":"jar"}],"annotations":[]},"dependsOn":[],"location":"eastus"},{"name":"[concat(parameters('workspaceName'), '/Microsoft365UserTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('Microsoft365')]","type":"LinkedServiceReference"},"annotations":[],"type":"Office365Table","schema":[],"typeProperties":{"tableName":"BasicDataSet_v0.User_v1"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/UserSink')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('MGDCSink')]","type":"LinkedServiceReference"},"parameters":{"FolderName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().FolderName","type":"Expression"},"fileSystem":"mgdc"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Microsoft365EmailTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('Microsoft365')]","type":"LinkedServiceReference"},"annotations":[],"type":"Office365Table","schema":[],"typeProperties":{"tableName":"BasicDataSet_v0.Message_v1"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/EmailSink')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('MGDCSink')]","type":"LinkedServiceReference"},"parameters":{"FolderName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().FolderName","type":"Expression"},"fileSystem":"mgdc"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Microsoft365TeamsChatTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('Microsoft365')]","type":"LinkedServiceReference"},"annotations":[],"type":"Office365Table","schema":[],"typeProperties":{"tableName":"BasicDataSet_v0.TeamChat_v1"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/TeamsChatSink')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('MGDCSink')]","type":"LinkedServiceReference"},"parameters":{"FolderName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().FolderName","type":"Expression"},"fileSystem":"mgdc"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Microsoft365CalendarTable')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('Microsoft365')]","type":"LinkedServiceReference"},"annotations":[],"type":"Office365Table","schema":[],"typeProperties":{"tableName":"BasicDataSet_v0.CalendarView_v0"}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/CalendarSink')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('MGDCSink')]","type":"LinkedServiceReference"},"parameters":{"FolderName":{"type":"string"}},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().FolderName","type":"Expression"},"fileSystem":"mgdc"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/default')]","type":"Microsoft.Synapse/workspaces/managedVirtualNetworks","apiVersion":"2019-06-01-preview","properties":{},"dependsOn":[]}]}