templates/Transform data using data flow with copy ingest/Transform data using data flow with copy ingest.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name"
        },
        "SourceDataset": {
            "type": "string"
        },
        "DestinationStoreType": {
            "type": "string"
        },
        "DestinationStoreLocation": {
            "type": "object"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/DataflowCopy')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Run dataflow with Explicit copy to ingest copy source",
                "activities": [
                    {
                        "name": "LoadData",
                        "type": "Copy",
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource"
                            },
                            "sink": {
                                "type": "ParquetSink"
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceDatasetEntity",
                                "type": "DatasetReference"
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "StagingParquet",
                                "type": "DatasetReference"
                            }
                        ]
                    },
                    {
                        "name": "Trasformation",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "LoadData",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "Trasformation",
                                "type": "DataFlowReference"
                            },
                            "compute": {
                                "computeType": "General",
                                "dataTransformationUnits": 4,
                                "coreCount": 8
                            }
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceDatasetEntity')]",
                "[concat(variables('factoryId'), '/datasets/StagingParquet')]",
                "[concat(variables('factoryId'), '/dataflows/Trasformation')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceDatasetEntity')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('SourceDataset')]",
                    "type": "LinkedServiceReference"
                },
                "type": "SalesforceObject"
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/StagingParquet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Parquet",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "file.parquet",
                        "folderPath": "dataflow",
                        "container": "staging"
                    },
                    "compressionCodec": "snappy"
                },
                "schema": []
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/DestinationStore')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('DestinationStoreType')]",
                    "type": "LinkedServiceReference"
                },
                "type": "SalesforceObject",
                "typeProperties": {
                    "location": "[parameters('DestinationStoreLocation')]"
                },
                "schema": []
            }
        },
        {
            "name": "[concat(parameters('factoryName'), '/Trasformation')]",
            "type": "Microsoft.DataFactory/factories/dataflows",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "MappingDataFlow",
                "typeProperties": {
                    "sources": [
                        {
                            "dataset": {
                                "referenceName": "StagingParquet",
                                "type": "DatasetReference"
                            },
                            "name": "source1",
                            "script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> source1"
                        }
                    ],
                    "sinks": [
                        {
                            "dataset": {
                                "referenceName": "DestinationStore",
                                "type": "DatasetReference"
                            },
                            "name": "sink1",
                            "script": "source1 sink() ~> sink1"
                        }
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/StagingParquet')]"
            ]
        }
    ]
}