templates/Transformation with Azure Databricks/Transformation with Azure Databricks.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name"
        },
        "AzureDatabricks": {
            "type": "string"
        },
        "Source Blob Connection": {
            "type": "string"
        },
        "Destination Blob Connection": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Transformation with Azure Databricks')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Run a simple Transformation job using Azure Databricks, with a single pane of glass monitoring from ADF.\n\nIn the template, we check for source dataset availability. Once it is available we copy it into a blob storage for staging using a Copy activity. The same storage is accessed from Databricks clusters while processing the data (Transformation). The output is stored in the same storage under 'output' folder. Various notebook properties are referenced as expressions using pipeline parameters, which lets you configure more generic and reusable pipelines.",
                "activities": [
                    {
                        "name": "Availability flag",
                        "description": "Validation activity is used to get information about the source files if they are available for processing. \nIn this template, only when the '_success' flag/ file is available at source, would the downstream activities be triggered. ",
                        "type": "Validation",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "SourceAvailabilityDataset",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "timeout": "7.00:00:00",
                            "sleep": 10
                        }
                    },
                    {
                        "name": "file-to-blob",
                        "description": "Copy activity copies the actual files/ dataset to be processed by Databricks into a staging store. This storage should be accessible by the Azure Databricks cluster referenced in the next activity. ",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "Availability flag",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceFilesDataset",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DestinationFilesDataset",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Transformation",
                        "description": "Databricks Notebook activity does the processing of the data copied in the previous step (copy activity).  Please ensure you have added the databricks notebook (<a href='https://adflabstaging1.blob.core.windows.net/share/Transformations.html' target='_blank'>https://adflabstaging1.blob.core.windows.net/share/Transformations.html</a>) in the databricks work-space and referenced it in the notebook activity in ADF.",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "file-to-blob",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "Shared/Transformations",
                            "baseParameters": {
                                "input": {
                                    "value": "@pipeline().parameters.inputPath",
                                    "type": "Expression"
                                },
                                "output": {
                                    "value": "@pipeline().parameters.outputPath",
                                    "type": "Expression"
                                },
                                "filename": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                },
                                "pipelineRunId": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "[parameters('AzureDatabricks')]",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "parameters": {
                    "inputPath": {
                        "type": "String",
                        "defaultValue": "/staged_sink"
                    },
                    "outputPath": {
                        "type": "String",
                        "defaultValue": "/processed_sink"
                    },
                    "fileName": {
                        "type": "String",
                        "defaultValue": "Product.csv"
                    }
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceAvailabilityDataset')]",
                "[concat(variables('factoryId'), '/datasets/SourceFilesDataset')]",
                "[concat(variables('factoryId'), '/datasets/DestinationFilesDataset')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceAvailabilityDataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Dataset to check if '_success' flag/ file is available in source. If not, the activity fails, indicating that source dataset is not ready.\nContext: In Spark/ Hadoop environments, generally users leverage flags to identify if the data has been correctly written through the distributed compute engines. E.g. '_success' defines all nodes have successfully written the data.",
                "linkedServiceName": {
                    "referenceName": "[parameters('Source Blob Connection')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "_success",
                        "folderPath": "source",
                        "container": "data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceFilesDataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Connection to your source files in Azure Blob Store.",
                "linkedServiceName": {
                    "referenceName": "[parameters('Source Blob Connection')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Product.csv",
                        "folderPath": "source",
                        "container": "data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/DestinationFilesDataset')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Connection to your destination Azure Blob Store.",
                "linkedServiceName": {
                    "referenceName": "[parameters('Destination Blob Connection')]",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "folderPath": "staged_sink",
                        "container": "sinkdata"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": []
        }
    ]
}