templates/Bulk Copy from Files to Database/Bulk Copy from Files to Database.json
{  
   "$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{  
      "factoryName":{  
         "type":"string",
         "metadata":"Data Factory name"
      },
      "DataSourceConnection":{  
         "type":"string"
      },
      "DataSinkConnection":{  
         "type":"string"
      },
      "CopyProperties_parameter":{  
         "type":"object"
      }
   },
   "variables":{  
      "factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
   },
   "resources":[  
      {  
         "name":"[concat(parameters('factoryName'), '/Bulk Copy from Files to Database')]",
         "type":"Microsoft.DataFactory/factories/pipelines",
         "apiVersion":"2018-06-01",
         "properties":{  
            "activities":[  
               {  
                  "name":"Get Files",
                  "type":"GetMetadata",
                  "dependsOn":[  

                  ],
                  "policy":{  
                     "timeout":"7.00:00:00",
                     "retry":0,
                     "retryIntervalInSeconds":30,
                     "secureOutput":false,
                     "secureInput":false
                  },
                  "userProperties":[  

                  ],
                  "typeProperties":{  
                     "dataset":{  
                        "referenceName":"GetMetadataDataset",
                        "type":"DatasetReference",
                        "parameters": {
                           "SourceContainer": {
                               "value": "@pipeline().parameters.SourceContainer",
                               "type": "Expression"
                           },
                           "SourceDirectory": {
                               "value": "@pipeline().parameters.SourceDirectory",
                               "type": "Expression"
                           }
                       }
                     },
                     "fieldList":[  
                        "childItems"
                     ],
                     "storeSettings":{  
                        "type":"AzureBlobFSReadSettings",
                        "recursive":true
                     },
                     "formatSettings":{  
                        "type":"DelimitedTextReadSettings"
                     }
                  }
               },
               {  
                  "name":"ForEachFile",
                  "type":"ForEach",
                  "dependsOn":[  
                     {  
                        "activity":"Get Files",
                        "dependencyConditions":[  
                           "Succeeded"
                        ]
                     }
                  ],
                  "userProperties":[  

                  ],
                  "typeProperties":{  
                     "items":{  
                        "value":"@activity('Get Files').output.childItems",
                        "type":"Expression"
                     },
                     "activities":[  
                        {  
                           "name":"CopyFiles",
                           "type":"Copy",
                           "dependsOn":[  

                           ],
                           "policy":{  
                              "timeout":"7.00:00:00",
                              "retry":0,
                              "retryIntervalInSeconds":30,
                              "secureOutput":false,
                              "secureInput":false
                           },
                           "userProperties":[  

                           ],
                           "typeProperties": "[parameters('CopyProperties_parameter')]",                              
                           "inputs":[  
                              {  
                                 "referenceName":"SourceDataSet",
                                 "type":"DatasetReference",
                                 "parameters":{  
                                    "fileName":{  
                                       "value":"@item().name",
                                       "type":"Expression"
                                    },
                                    "SourceContainer":{  
                                       "value":"@pipeline().parameters.SourceContainer",
                                       "type":"Expression"
                                    },
                                    "SourceDirectory":{  
                                       "value":"@pipeline().parameters.SourceDirectory",
                                       "type":"Expression"
                                    }
                                 }
                              }
                           ],
                           "outputs":[  
                              {  
                                 "referenceName":"SinkDataSet",
                                 "type":"DatasetReference",
                                 "parameters":{  
                                    "sinkTableName":{  
                                       "value":"@item().name",
                                       "type":"Expression"
                                    }
                                 }
                              }
                           ]
                        }
                     ]
                  }
               }
            ],
            "parameters":{  
               "SourceContainer":{  
                  "type":"string"
               },
               "SourceDirectory":{  
                  "type":"string"
               }
            },
            "annotations":[  

            ]
         },
         "dependsOn":[  
            "[concat(variables('factoryId'), '/datasets/GetMetadataDataset')]",
            "[concat(variables('factoryId'), '/datasets/SourceDataset')]",
            "[concat(variables('factoryId'), '/datasets/SinkDataSet')]"
         ]
      },
      {  
         "name":"[concat(parameters('factoryName'), '/GetMetadataDataset')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{  
            "description":"Connection to your source data store.",
            "linkedServiceName":{  
               "referenceName":"[parameters('DataSourceConnection')]",
               "type":"LinkedServiceReference"
            },
            "parameters":{  
               "SourceContainer":{  
                  "type":"string",
                  "defaultValue":""
               },
               "SourceDirectory":{  
                  "type":"string",
                  "defaultValue":""
               }
            },
            "annotations":[  

            ],
            "type":"DelimitedText",
            "typeProperties":{  
               "location":{  
                  "type":"AzureBlobFSLocation",
                  "folderPath":{  
                     "value":"@dataset().SourceDirectory",
                     "type":"Expression"
                  },
                  "fileSystem":{  
                     "value":"@dataset().SourceContainer",
                     "type":"Expression"
                  }
               },
               "columnDelimiter":",",
               "escapeChar":"\\",
               "quoteChar":"\""
            },
            "schema":[  

            ]
         },
         "dependsOn":[  

         ]
      },
      {  
         "name":"[concat(parameters('factoryName'), '/SourceDataset')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{  
            "description":"Connection to your source data store.",
            "linkedServiceName":{  
               "referenceName":"[parameters('DataSourceConnection')]",
               "type":"LinkedServiceReference"
            },
            "parameters":{  
               "fileName":{  
                  "type":"string"
               },
               "SourceContainer":{  
                  "type":"string"
               },
               "SourceDirectory":{  
                  "type":"string"
               }
            },
            "annotations":[  

            ],
            "type":"DelimitedText",
            "typeProperties":{  
               "location":{  
                  "type":"AzureBlobFSLocation",
                  "fileName":{  
                     "value":"@dataset().fileName",
                     "type":"Expression"
                  },
                  "folderPath":{  
                     "value":"@dataset().SourceDirectory",
                     "type":"Expression"
                  },
                  "fileSystem":{  
                     "value":"@dataset().SourceContainer",
                     "type":"Expression"
                  }
               },
               "columnDelimiter":",",
               "escapeChar":"\\",
               "quoteChar":"\""
            },
            "schema":[  

            ]
         },
         "dependsOn":[  

         ]
      },
      {  
         "name":"[concat(parameters('factoryName'), '/SinkDataset')]",
         "type":"Microsoft.DataFactory/factories/datasets",
         "apiVersion":"2018-06-01",
         "properties":{  
            "description":"Connection to your destination data store.",
            "linkedServiceName":{  
               "referenceName":"[parameters('DataSinkConnection')]",
               "type":"LinkedServiceReference"
            },
            "parameters":{  
               "sinkTableName":{  
                  "type":"string"
               }
            },
            "annotations":[  

            ],
            "type":"AzureSqlDWTable",
            "schema":[  

            ],
            "typeProperties":{  
               "schema":"dbo",
               "table":{  
                  "value":"@dataset().sinkTableName",
                  "type":"Expression"
               }
            }
         },
         "dependsOn":[  

         ]
      }
   ]
}