templates/Delphix Continuous Compliance Masking/Delphix Continuous Compliance Masking.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"File Share Linked Service":{"type":"string"},"Connect_to_stroage":{"type":"string"},"ConnectingSynapse":{"type":"string"},"AzureSqlDatabaseSource":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Delphix Continuous Compliance Masking')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"Use this template to mask sensitive data using Delphix Continuous Compliance and load the compliant data to Azure Synapse or any ADF-supported datastore.\n\nThis template executes a Delphix masking job to replace sensitive data elements with similar but fictitious values, prior to loading the compliant data. It is recommended to first run the Profiling template (LINK TO PROFILING TEMPLATE).\n\nApply data-ready rules for regulatory needs like CCPA, LGPD, HIPAA, and others, and automatically move compliant data from sources like SAP, Salesforce, and Oracle EBS to high-value service layers, like Microsoft Synapse. Delphix masks data consistently across data sources, maintaining referential integrity for integrated application testing.\n\nA purchase of Delphix Continuous Compliance (Azure Marketplace) is required to use this template. To receive Delphix support, please register your engine.\n\nView documentation (LINK)\n","activities":[{"name":"Delphix Login","description":"API login to Delphix Compliance Engine","type":"WebActivity","dependsOn":[{"activity":"If Condition1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.MaskingEngineIP,'/masking/api/v5.1.11/login')","type":"Expression"},"method":"POST","headers":{"Content-Type":"application/json","Accept":"application/json"},"body":{"value":"{\"username\":\"@{pipeline().parameters.UserName}\",\"password\":\"@{pipeline().parameters.Password}\"}","type":"Expression"}}},{"name":"Iterate over Job Ids","type":"ForEach","dependsOn":[{"activity":"Delphix Login","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.Joblist","type":"Expression"},"isSequential":false,"activities":[{"name":"Trigger masking job in parallel","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Invoke atomic masking job","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"job":{"value":"@item()","type":"Expression"},"authkey":{"value":"@activity('Delphix Login').output.Authorization","type":"Expression"},"maskingengineip":{"value":"@pipeline().parameters.MaskingEngineIP","type":"Expression"}}}}]}},{"name":"Some or one job failed","type":"Fail","dependsOn":[{"activity":"Iterate over Job Ids","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Some or one job failed","errorCode":"1"}},{"name":"Fetch file list from target fileShare","type":"GetMetadata","dependsOn":[{"activity":"Iterate over Unmasked Files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"*"}},"fieldList":["childItems"],"storeSettings":{"type":"AzureFileStorageReadSettings","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Iterate over blob files","type":"ForEach","dependsOn":[{"activity":"Fetch file list from target fileShare","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Fetch file list from target fileShare').output.childItems","type":"Expression"},"activities":[{"name":"Copy data from blob to Synapse","type":"Copy","dependsOn":[{"activity":"Copy data from target to blob","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"SqlDWSink","writeBehavior":"Insert","tableOption":"autoCreate","disableMetricsCollection":false},"enableStaging":false},"inputs":[{"referenceName":"TargetBlobStorage","type":"DatasetReference","parameters":{"FileName":"@item().name"}}],"outputs":[{"referenceName":"ConnectToSynapseDataset","type":"DatasetReference","parameters":{"tableName":"@item().name"}}]},{"name":"Copy data from target to blob","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"@item().name"}}],"outputs":[{"referenceName":"TargetBlobStorage","type":"DatasetReference","parameters":{"FileName":"@item().name"}}]}]}},{"name":"Iterate over Unmasked Files","type":"ForEach","dependsOn":[{"activity":"Get List of Unmasked Files","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get List of Unmasked Files').output.childItems","type":"Expression"},"activities":[{"name":"Copy data from source Fileshare to target","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":"source","wildcardFileName":"@item().name","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false},"inputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"source","FileName":"@item().name"}}],"outputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"@item().name"}}]}]}},{"name":"Get List of Unmasked Files","type":"GetMetadata","dependsOn":[{"activity":"Iterate over Job Ids","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"*"}},"fieldList":["childItems"],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeEnd":{"value":"@pipeline().TriggerTime","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"If Condition1","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(pipeline().parameters.ExtractData,true)","type":"Expression"},"ifTrueActivities":[{"name":"Get Source Data","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Fetch Source Data","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"QueryToFetchTables":{"value":"@pipeline().parameters.QueryToFetchTables","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Joblist":{"type":"array"},"UserName":{"type":"string"},"Password":{"type":"string"},"MaskingEngineIP":{"type":"string"},"QueryToFetchTables":{"type":"string"},"TargetSchemaName":{"type":"string"},"ExtractData":{"type":"bool","defaultValue":true}},"variables":{"result":{"type":"String"},"status":{"type":"String"},"PipelineRunId":{"type":"String"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":["Delphix Masking"],"lastPublishTime":"2022-09-20T07:06:13Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/FileShareDataset')]","[concat(variables('factoryId'), '/pipelines/Invoke atomic masking job')]","[concat(variables('factoryId'), '/datasets/TargetBlobStorage')]","[concat(variables('factoryId'), '/datasets/ConnectToSynapseDataset')]","[concat(variables('factoryId'), '/pipelines/Fetch Source Data')]"]},{"name":"[concat(parameters('factoryName'), '/FileShareDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('File Share Linked Service')]","type":"LinkedServiceReference"},"parameters":{"DirectoryName":{"type":"string"},"FileName":{"type":"string"}},"folder":{"name":"Azure File Shares"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":{"value":"@dataset().DirectoryName","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Invoke atomic masking job')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Trigger Masking Job","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions')","type":"Expression"},"method":"POST","headers":{"Content-Type":"application/json","Accept":"application/json","Authorization":{"value":"@pipeline().parameters.authkey","type":"Expression"}},"body":{"value":"{\"jobId\":@{pipeline().parameters.job}}","type":"Expression"}}},{"name":"Polling","type":"Until","dependsOn":[{"activity":"Trigger Masking Job","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Check masking job in polling').output.status, 'SUCCEEDED'),or(equals(activity('Check masking job in polling').output.status, 'FAILED'),equals(activity('Check masking job in polling').output.status,'CANCELLED')))","type":"Expression"},"activities":[{"name":"Status Polling","type":"SetVariable","dependsOn":[{"activity":"Check masking job in polling","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"status","value":{"value":"@activity('Check masking job in polling').output.status","type":"Expression"}}},{"name":"Check masking job in polling","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions/', activity('Trigger Masking Job').output.executionId)","type":"Expression"},"method":"GET","headers":{"Content-Type":"application/json","Accept":"application/json","Authorization":{"value":"@pipeline().parameters.authkey","type":"Expression"}}}}],"timeout":"0.12:00:00"}},{"name":"If final status of the job is FAILED","type":"IfCondition","dependsOn":[{"activity":"Polling","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Check masking job in polling').output.status, 'FAILED'),equals(activity('Check masking job in polling').output.status, 'CANCELLED'))","type":"Expression"},"ifFalseActivities":[{"name":"Job Result","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"result","value":{"value":"@concat('Job: ', activity('Check masking job in polling').output.jobId, ' succeeded')","type":"Expression"}}}],"ifTrueActivities":[{"name":"Failure","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":{"value":"@concat('Job: ', activity('Check masking job in polling').output.jobId, ' with execution id: ' ,activity('Trigger Masking Job').output.executionId,' failed or cancelled. Please check the delphix engine logs.')","type":"Expression"},"errorCode":"1"}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"job":{"type":"string"},"authkey":{"type":"string"},"maskingengineip":{"type":"string"}},"variables":{"result":{"type":"String"},"status":{"type":"String"},"PipelineRunId":{"type":"String"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":[],"lastPublishTime":"2022-09-16T12:41:09Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/TargetBlobStorage')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Connect_to_stroage')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"}},"folder":{"name":"Azure Blob Storage"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"container":"maskeddata"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ConnectToSynapseDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ConnectingSynapse')]","type":"LinkedServiceReference"},"parameters":{"tableName":{"type":"string"}},"folder":{"name":"Azure Synapse"},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"NAME","type":"varchar"},{"name":"LAST_NAME","type":"varchar"},{"name":"AGE","type":"int","precision":10},{"name":"GENDER","type":"varchar"}],"typeProperties":{"schema":{"value":"@split(dataset().tableName,'.')[0]","type":"Expression"},"table":{"value":"@split(dataset().tableName,'.')[1]","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Fetch Source Data')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Fetch Table Name","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@pipeline().parameters.QueryToFetchTables","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"GetSourceData","type":"DatasetReference","parameters":{"TableName":"*","TableSchema":"*"}},"firstRowOnly":false}},{"name":"Iterator to loop over all tables","type":"ForEach","dependsOn":[{"activity":"Fetch Table Name","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Fetch Table Name').output.value","type":"Expression"},"activities":[{"name":"Copies data from table to csv file","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}];","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false},"inputs":[{"referenceName":"GetSourceData","type":"DatasetReference","parameters":{"TableName":"@item().TABLE_NAME","TableSchema":"@item().TABLE_SCHEMA"}}],"outputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"source","FileName":"@{item().TABLE_SCHEMA}.@{item().TABLE_NAME}.csv"}}]}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"QueryToFetchTables":{"type":"string"}},"variables":{"PipelineRunId":{"type":"String"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/GetSourceData')]","[concat(variables('factoryId'), '/datasets/FileShareDataset')]"]},{"name":"[concat(parameters('factoryName'), '/GetSourceData')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabaseSource')]","type":"LinkedServiceReference"},"parameters":{"TableName":{"type":"string"},"TableSchema":{"type":"string"}},"folder":{"name":"Azure SQL Database"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"Street","type":"varchar"},{"name":"city","type":"varchar"},{"name":"Zip","type":"int","precision":10},{"name":"Country","type":"varchar"}],"typeProperties":{"schema":{"value":"@dataset().TableSchema","type":"Expression"},"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]}]}