templates/Call Synapse pipeline with a notebook activity/Call Synapse pipeline with a notebook activity.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_ExecuteSynapseNotebook')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Call Synapse Pipeline with Notebook","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@Concat(pipeline().parameters.SynapseEndpoint,'/pipelines/',pipeline().parameters.PLName,'/createRun?api-version=2020-12-01')","type":"Expression"},"method":"POST","headers":{},"body":{},"authentication":{"type":"MSI","resource":"https://dev.azuresynapse.net/"}}},{"name":"Get pipeline status","type":"Until","dependsOn":[{"activity":"Call Synapse Pipeline with Notebook","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(or(equals('Succeeded',activity('Get run status').output.status),equals('Failed',activity('Get run status').output.status)),equals('Cancelled',activity('Get run status').output.status))","type":"Expression"},"activities":[{"name":"Get run status","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat(pipeline().parameters.SynapseEndpoint,'/pipelineruns/',activity('Call Synapse Pipeline with Notebook').output.runId,'?api-version=2020-12-01')","type":"Expression"},"method":"GET","headers":{},"authentication":{"type":"MSI","resource":"https://dev.azuresynapse.net/"}}},{"name":"Delay 30s","description":"To delay the polling to every 15 seconds. Increase if needed.","type":"Wait","dependsOn":[{"activity":"Get run status","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"waitTimeInSeconds":30}}],"timeout":"7.00:00:00"}},{"name":"If Notebook execution failed","type":"IfCondition","dependsOn":[{"activity":"Get pipeline status","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals('Failed',activity('Get run status').output.status)","type":"Expression"},"ifTrueActivities":[{"name":"Fail the pipeline","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":{"value":"@activity('Get run status').output.message","type":"Expression"},"errorCode":{"value":"@pipeline().parameters.FailedOrCancelledErrorCode","type":"Expression"}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"SynapseEndpoint":{"type":"string","defaultValue":"https://workshop-dev.dev.azuresynapse.net"},"PLName":{"type":"string","defaultValue":"PL_Notebook_OpenDataset"},"FailedOrCancelledErrorCode":{"type":"string","defaultValue":"600"}},"annotations":[],"lastPublishTime":"2021-11-14T22:12:53Z"},"dependsOn":[]}]}