community templates/Data Masking with Delphix/Data Masking with Delphix.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"hubsynapseworkspace"},"AzureFileStorage1":{"type":"string"},"AzureBlobStorage1":{"type":"string"},"hubsynapseworkspace-WorkspaceDefaultSqlServer":{"type":"string"},"AzureSqlDatabase1":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Data Masking with Delphix')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Use this template to mask sensitive data using Delphix Continuous Compliance and load the compliant (masked) data to Azure Synapse. This template extracts data from a source data store, executes Delphix Masking Job(s) to mask sensitive data in the extract using appropriate algorithms, and finally, loads the compliant data into target datastore.\n\nApply data-ready rules for regulatory needs like GDPR, CCPA, HIPAA, and others, and automatically move compliant data from sources like SAP, Salesforce, and Oracle EBS to high-value service layers, like Microsoft Synapse. Delphix masks data consistently across data sources, maintaining referential integrity for integrated application testing.\n\nNote: A purchase of Delphix Continuous Compliance (Azure Marketplace) is required to use this template. To receive Delphix support, please register your engine at https://support-register.delphix.com","activities":[{"name":"Delphix Login","description":"API login to Delphix Compliance Engine","type":"WebActivity","dependsOn":[{"activity":"Is Extract Source data required","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.MaskingEngineIP,'/masking/api/v5.1.11/login')","type":"Expression"},"connectVia":{"referenceName":"AutoResolveIntegrationRuntime","type":"IntegrationRuntimeReference"},"method":"POST","headers":{"Content-Type":"application/json","Accept":"application/json"},"body":{"value":"{\"username\":\"@{pipeline().parameters.UserName}\",\"password\":\"@{pipeline().parameters.Password}\"}","type":"Expression"}}},{"name":"Trigger Masking Jobs","type":"ForEach","dependsOn":[{"activity":"Delphix Login","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.Joblist","type":"Expression"},"isSequential":false,"activities":[{"name":"Trigger masking job in parallel","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Invoke atomic masking job","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"job":{"value":"@item()","type":"Expression"},"authkey":{"value":"@activity('Delphix Login').output.Authorization","type":"Expression"},"maskingengineip":{"value":"@pipeline().parameters.MaskingEngineIP","type":"Expression"}}}}]}},{"name":"One or more Masking Jobs Failed","type":"Fail","dependsOn":[{"activity":"Trigger Masking Jobs","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"One or more Masking Jobs Failed","errorCode":"1"}},{"name":"List files in Target Fileshare","description":"","type":"GetMetadata","dependsOn":[{"activity":"Copy Unmasked Files to Target Fileshare","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"*"}},"fieldList":["childItems"],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Load data to Synapse","type":"ForEach","dependsOn":[{"activity":"List files in Target Fileshare","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('List files in Target Fileshare').output.childItems","type":"Expression"},"activities":[{"name":"Copy data from Blob Storage to Synapse","type":"Copy","dependsOn":[{"activity":"Copy data from Target Fileshare to Blob Storage","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"SqlDWSink","writeBehavior":"Insert","tableOption":"autoCreate","disableMetricsCollection":false},"enableStaging":false},"inputs":[{"referenceName":"TargetBlobStorage","type":"DatasetReference","parameters":{"FileName":"@item().name"}}],"outputs":[{"referenceName":"ConnectToSynapseDataset","type":"DatasetReference","parameters":{"tableName":"@item().name"}}]},{"name":"Copy data from Target Fileshare to Blob Storage","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"@item().name"}}],"outputs":[{"referenceName":"TargetBlobStorage","type":"DatasetReference","parameters":{"FileName":"@item().name"}}]}]}},{"name":"Copy Unmasked Files to Target Fileshare","type":"ForEach","dependsOn":[{"activity":"List Unmasked Files","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('List Unmasked Files').output.childItems","type":"Expression"},"activities":[{"name":"Copy data from Source to Target Fileshare","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"wildcardFolderPath":"source","wildcardFileName":{"value":"@item().name","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false},"inputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"source","FileName":"@item().name"}}],"outputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"@item().name"}}]}]}},{"name":"List Unmasked Files","type":"GetMetadata","dependsOn":[{"activity":"Trigger Masking Jobs","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"Target","FileName":"*"}},"fieldList":["childItems"],"storeSettings":{"type":"AzureFileStorageReadSettings","recursive":true,"modifiedDatetimeEnd":{"value":"@pipeline().TriggerTime","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"Is Extract Source data required","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(pipeline().parameters.ExtractData,true)","type":"Expression"},"ifTrueActivities":[{"name":"Extract Source Data","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Extract Source Data","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"QueryToFetchTables":{"value":"@pipeline().parameters.QueryToFetchTables","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"Joblist":{"type":"array"},"UserName":{"type":"string"},"Password":{"type":"string"},"MaskingEngineIP":{"type":"string"},"QueryToFetchTables":{"type":"string"},"TargetSchemaName":{"type":"string"},"ExtractData":{"type":"bool","defaultValue":true}},"variables":{"result":{"type":"String"},"status":{"type":"String"},"PipelineRunId":{"type":"String"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":["Delphix","Anonymization","Masking","Compliance"],"lastPublishTime":"2022-09-20T07:06:13Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/FileShareDataset')]","[concat(variables('workspaceId'), '/pipelines/Invoke atomic masking job')]","[concat(variables('workspaceId'), '/datasets/TargetBlobStorage')]","[concat(variables('workspaceId'), '/datasets/ConnectToSynapseDataset')]","[concat(variables('workspaceId'), '/pipelines/Extract Source Data')]"]},{"name":"[concat(parameters('workspaceName'), '/FileShareDataset')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureFileStorage1')]","type":"LinkedServiceReference"},"parameters":{"DirectoryName":{"type":"string"},"FileName":{"type":"string"}},"folder":{"name":"Azure File Shares"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureFileStorageLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":{"value":"@dataset().DirectoryName","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Invoke atomic masking job')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Trigger Masking Job","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions')","type":"Expression"},"method":"POST","headers":{"Content-Type":"application/json","Accept":"application/json","Authorization":{"value":"@pipeline().parameters.authkey","type":"Expression"}},"body":{"value":"{\"jobId\":@{pipeline().parameters.job}}","type":"Expression"}}},{"name":"Check Masking Job Status","type":"Until","dependsOn":[{"activity":"Trigger Masking Job","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Retrieve Masking Job Status').output.status, 'SUCCEEDED'),or(equals(activity('Retrieve Masking Job Status').output.status, 'FAILED'),equals(activity('Retrieve Masking Job Status').output.status,'CANCELLED')))","type":"Expression"},"activities":[{"name":"Status Polling","type":"SetVariable","dependsOn":[{"activity":"Retrieve Masking Job Status","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"status","value":{"value":"@activity('Retrieve Masking Job Status').output.status","type":"Expression"}}},{"name":"Retrieve Masking Job Status","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":5,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat('http://',pipeline().parameters.maskingengineip,'/masking/api/v5.1.11/executions/', activity('Trigger Masking Job').output.executionId)","type":"Expression"},"method":"GET","headers":{"Content-Type":"application/json","Accept":"application/json","Authorization":{"value":"@pipeline().parameters.authkey","type":"Expression"}}}}],"timeout":"0.12:00:00"}},{"name":"If Masking Job is Unsuccessful","type":"IfCondition","dependsOn":[{"activity":"Check Masking Job Status","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Retrieve Masking Job Status').output.status, 'FAILED'),equals(activity('Retrieve Masking Job Status').output.status, 'CANCELLED'))","type":"Expression"},"ifFalseActivities":[{"name":"Job Result","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"result","value":{"value":"@concat('Job: ', activity('Retrieve Masking Job Status').output.jobId, ' succeeded')","type":"Expression"}}}],"ifTrueActivities":[{"name":"Failure","type":"Fail","dependsOn":[],"userProperties":[],"typeProperties":{"message":{"value":"@concat('Job: ', activity('Retrieve Masking Job Status').output.jobId, ' with execution id: ' ,activity('Trigger Masking Job').output.executionId,' failed or cancelled. Please check the delphix engine logs.')","type":"Expression"},"errorCode":"1"}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"job":{"type":"string"},"authkey":{"type":"string"},"maskingengineip":{"type":"string"}},"variables":{"result":{"type":"String"},"status":{"type":"String"},"PipelineRunId":{"type":"String"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":[],"lastPublishTime":"2022-09-16T12:41:09Z"},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/TargetBlobStorage')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"}},"folder":{"name":"Azure Blob Storage"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"container":"maskeddata"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/ConnectToSynapseDataset')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('hubsynapseworkspace-WorkspaceDefaultSqlServer')]","type":"LinkedServiceReference","parameters":{"DBName":"hubsSQLPool"}},"parameters":{"tableName":{"type":"string"}},"folder":{"name":"Azure Synapse"},"annotations":[],"type":"AzureSqlDWTable","schema":[{"name":"NAME","type":"varchar"},{"name":"LAST_NAME","type":"varchar"},{"name":"AGE","type":"int","precision":10},{"name":"GENDER","type":"varchar"}],"typeProperties":{"schema":{"value":"@split(dataset().tableName,'.')[0]","type":"Expression"},"table":{"value":"@split(dataset().tableName,'.')[1]","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Extract Source Data')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"List All Tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@pipeline().parameters.QueryToFetchTables","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"GetSourceData","type":"DatasetReference","parameters":{"TableName":"*","TableSchema":"*"}},"firstRowOnly":false}},{"name":"Iterator to loop over all tables","type":"ForEach","dependsOn":[{"activity":"List All Tables","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('List All Tables').output.value","type":"Expression"},"activities":[{"name":"Copies data from table to csv file","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}];","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureFileStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false},"inputs":[{"referenceName":"GetSourceData","type":"DatasetReference","parameters":{"TableName":"@item().TABLE_NAME","TableSchema":"@item().TABLE_SCHEMA"}}],"outputs":[{"referenceName":"FileShareDataset","type":"DatasetReference","parameters":{"DirectoryName":"source","FileName":"@{item().TABLE_SCHEMA}.@{item().TABLE_NAME}.csv"}}]}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"QueryToFetchTables":{"type":"string"}},"folder":{"name":"Delphix Continous Compliance"},"annotations":[]},"dependsOn":["[concat(variables('workspaceId'), '/datasets/GetSourceData')]","[concat(variables('workspaceId'), '/datasets/FileShareDataset')]"]},{"name":"[concat(parameters('workspaceName'), '/GetSourceData')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"parameters":{"TableName":{"type":"string"},"TableSchema":{"type":"string"}},"folder":{"name":"Azure SQL Database"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"Street","type":"varchar"},{"name":"city","type":"varchar"},{"name":"Zip","type":"int","precision":10},{"name":"Country","type":"varchar"}],"typeProperties":{"schema":{"value":"@dataset().TableSchema","type":"Expression"},"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]}]}