templates/Incremental copy from SAP BW to Azure Data Lake Storage Gen2/Incremental copy from SAP BW to Azure Data Lake Storage Gen2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"Azure Blob Storage Connection": {
			"type": "string"
		},
		"SAP BW Open Hub Connection": {
			"type": "string"
		},
		"Azure Data Lake Storage Gen2 Connection": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyFromSAPBWOpenHub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
				"activities": [
					{
						"name": "LookupLastRequestId",
						"description": "Retrieve the last max copied request ID stored in blob",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"dataset": {
								"referenceName": "AzureBlobDataset",
								"type": "DatasetReference",
								"parameters": {
									"HighWatermarkBlobPath": {
										"value": "@pipeline().parameters.HighWatermarkBlobPath",
										"type": "Expression"
									},
									"HighWatermarkBlobName": {
										"value": "@pipeline().parameters.HighWatermarkBlobName",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "CopyFromSAPBWOpenHub",
						"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastRequestId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SapOpenHubSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SAPOHDSource_Incremental",
								"type": "DatasetReference",
								"parameters": {
									"BaseReqeustId": {
										"value": "@activity('LookupLastRequestId').output.firstRow.Prop_0",
										"type": "Expression"
									},
									"SAPOpenHubDestinationName": {
										"value": "@pipeline().parameters.SAPOpenHubDestinationName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDataLakeStorageGen2Sink",
								"type": "DatasetReference",
								"parameters": {
									"ADLSGen2SinkPath": {
										"value": "@pipeline().parameters.ADLSGen2SinkPath",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "SetMaxCopiedRequestId",
						"description": "Store the latest max copied request ID into blob by calling Logic App",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CopyFromSAPBWOpenHub",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.LogicAppURL",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\"sapOpenHubMaxRequestId\":\"@{activity('CopyFromSAPBWOpenHub').output.sapOpenHubMaxRequestId}\"}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"SAPOpenHubDestinationName": {
						"type": "String"
					},
					"ADLSGen2SinkPath": {
						"type": "String"
					},
					"HighWatermarkBlobPath": {
						"type": "String"
					},
					"HighWatermarkBlobName": {
						"type": "String"
					},
					"LogicAppURL": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobDataset')]",
				"[concat(variables('factoryId'), '/datasets/SAPOHDSource_Incremental')]",
				"[concat(variables('factoryId'), '/datasets/AzureDataLakeStorageGen2Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Blob to store the max copied request ID from SAP BW Open Hub table as high watermark",
				"linkedServiceName": {
					"referenceName": "[parameters('Azure Blob Storage Connection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"HighWatermarkBlobPath": {
						"type": "String"
					},
					"HighWatermarkBlobName": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@dataset().HighWatermarkBlobName",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().HighWatermarkBlobPath",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPOHDSource_Incremental')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP BW Open Hub table source",
				"linkedServiceName": {
					"referenceName": "[parameters('SAP BW Open Hub Connection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BaseReqeustId": {
						"type": "Int"
					},
					"SAPOpenHubDestinationName": {
						"type": "String"
					}
				},
				"type": "SapOpenHubTable",
				"typeProperties": {
					"openHubDestinationName": {
						"value": "@dataset().SAPOpenHubDestinationName",
						"type": "Expression"
					},
					"excludeLastRequest": true,
					"baseRequestId": {
						"value": "@dataset().BaseReqeustId",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageGen2Sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADLS Gen2 sink",
				"linkedServiceName": {
					"referenceName": "[parameters('Azure Data Lake Storage Gen2 Connection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ADLSGen2SinkPath": {
						"type": "String"
					}
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "data.csv",
					"folderPath": {
						"value": "@dataset().ADLSGen2SinkPath",
						"type": "Expression"
					}
				}
			}
		}
	]
}