templates/Move files/Move files.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"DataSourceConnection": {
			"type": "string"
		},
		"DataDestinationConnection": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MoveFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "DataSource_Folder",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@pipeline().parameters.FolderPath_SourceStore",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "CopyAFile",
									"description": "Copy a file from the source store to the destination store.",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": false
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "DataSource_File",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@pipeline().parameters.FolderPath_SourceStore",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DataDestination",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@pipeline().parameters.FolderPath_DestinationStore",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteAFile",
									"description": "Delete a file from the source store",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyAFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"dataset": {
											"referenceName": "DataSource_File",
											"type": "DatasetReference",
											"parameters": {
												"path": {
													"value": "@pipeline().parameters.FolderPath_SourceStore",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false
									}
								}
							]
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the sub-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FolderPath_SourceStore": {
						"type": "String",
						"defaultValue": "/<myfolder>/<subfolder>/"
					},
					"FolderPath_DestinationStore": {
						"type": "String",
						"defaultValue": "/<myfolder>/<subfolder>/"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataSource_Folder')]",
				"[concat(variables('factoryId'), '/datasets/DataSource_File')]",
				"[concat(variables('factoryId'), '/datasets/DataDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSource_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "[parameters('DataSourceConnection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "",
					"folderPath": {
						"value": "@dataset().FolderPath",
						"type": "Expression"
					},
                    "key": "",
                    "bucketName": {
						"value": "@dataset().FolderPath",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSource_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the file in the data source store. ",
				"linkedServiceName": {
					"referenceName": "[parameters('DataSourceConnection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "String"
					},
					"filename": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "@dataset().filename",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().path",
						"type": "Expression"
					},
					"key": {
						"value": "@dataset().filename",
						"type": "Expression"
					},
					"bucketName": {
						"value": "@dataset().path",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataDestination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the destination store.",
				"linkedServiceName": {
					"referenceName": "[parameters('DataDestinationConnection')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "String"
					},
					"filename": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"treatEmptyAsNull": true
					},
					"fileName": {
						"value": "@dataset().filename",
						"type": "Expression"
					},
					"folderPath": {
						"value": "@dataset().path",
						"type": "Expression"
					}
				}
			}
		}
	]
}