templates/RunSynapseWebActivityPipeline/RunSynapseWebActivityPipeline.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": "Data Factory name"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/RunSynapseWebActivityPipeline')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Call Synapse Livy",
            "type": "WebActivity",
            "dependsOn": [],
            "policy": {
              "timeout": "00:30:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": {
                "value": "@Concat(pipeline().parameters.SynapseEndpoint,'/livyApi/versions/2019-11-01-preview/sparkPools/', pipeline().parameters.SparkPoolName, '/batches?detailed=True')",
                "type": "Expression"
              },
              "method": "POST",
              "headers": {},
              "body": {
                "name": "test",
                "file": "abfs://scripts@manhernastorage.blob.core.windows.net/p-scala-spark-1.0-SNAPSHOT.jar",
                "className": "euclidobservability.spark.ScalaSparkListenerTest",
                "args": [],
                "jars": [
                  "abfs://scripts@manhernastorage.blob.core.windows.net/jars/p-TelemetrySDK-1.2.0-jar-with-dependencies.jar"
                ],
                "files": [],
                "archives": [],
                "conf": null,
                "driverMemory": "4g",
                "driverCores": 4,
                "executorMemory": "2g",
                "executorCores": 1,
                "numExecutors": 1
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://dev.azuresynapse.net/"
              }
            }
          },
          {
            "name": "Get Livy Batch Status",
            "type": "Until",
            "dependsOn": [
              {
                "activity": "Call Synapse Livy",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@or(or(equals('success',activity('Get run status').output.state),equals('killed',activity('Get run status').output.state)),or(equals('dead',activity('Get run status').output.state),equals('error',activity('Get run status').output.state)))",
                "type": "Expression"
              },
              "activities": [
                {
                  "name": "Get run status",
                  "type": "WebActivity",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "url": {
                      "value": "@concat(pipeline().parameters.SynapseEndpoint,'/livyApi/versions/2019-11-01-preview/sparkPools/',  pipeline().parameters.SparkPoolName, '/batches/', activity('Call Synapse Livy').output.id)",
                      "type": "Expression"
                    },
                    "method": "GET",
                    "headers": {},
                    "authentication": {
                      "type": "MSI",
                      "resource": "https://dev.azuresynapse.net/"
                    }
                  }
                },
                {
                  "name": "Delay 30s",
                  "description": "To delay the polling to every 15 seconds. Increase if needed.",
                  "type": "Wait",
                  "dependsOn": [
                    {
                      "activity": "Get run status",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "typeProperties": {
                    "waitTimeInSeconds": 30
                  }
                }
              ],
              "timeout": "7.00:00:00"
            }
          },
          {
            "name": "Livy Batch Final Status Evaluation",
            "type": "IfCondition",
            "dependsOn": [
              {
                "activity": "Get Livy Batch Status",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "expression": {
                "value": "@equals('success',activity('Get run status').output.state)",
                "type": "Expression"
              },
              "ifFalseActivities": [
                {
                  "name": "Fail the pipeline",
                  "type": "Fail",
                  "dependsOn": [],
                  "userProperties": [],
                  "typeProperties": {
                    "message": {
                      "value": "@join(activity('Get run status').output.log, ',')",
                      "type": "Expression"
                    },
                    "errorCode": {
                      "value": "600",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          }
        ],
        "policy": {
          "elapsedTimeMetric": {},
          "cancelAfter": {}
        },
        "parameters": {
          "SynapseEndpoint": {
            "type": "string",
            "defaultValue": "https://aasynws.dev.azuresynapse.net"
          },
          "SparkPoolName": {
            "type": "string",
            "defaultValue": "aafirstpool"
          }
        },
        "annotations": [],
        "lastPublishTime": "2022-04-20T22:02:37Z"
      },
      "dependsOn": []
    }
  ]
}